/* phones */
@media (width <=767px) {
}

/* tablets */
@media (768px <=width <=1279px) {
}

/* laptops */
@media (1280px <=width <=1919px) {
}

/* desktops */
@media (width >=1920px) {
}

/* THEME */

:root {
  --background-color: #ffffff;
  --foreground-color: #000000;

  --shadow-1-color: #dce6e8;
  --shadow-2-color: #1f2a2d;

  --primary-color: #0080aa;
  --secondary-color: #ffd027;
}

/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

h4 {
  font-size: 1.12rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.83rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto auto;
  gap: 0px 2rem;
  grid-template-areas:
    "header nav"
    "main main"
    "aside aside"
    "footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

header section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  padding-left: 10vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding-right: 10vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main section:not(.hero-section) {
  width: clamp(16rem, 80vw, 70rem);
  max-width: 1000px;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

aside section {
  width: clamp(16rem, 80vw, 70rem);
  max-width: 1000px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer section {
  width: clamp(16rem, 80vw, 70rem);
  max-width: 1000px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* HEADER */

header .header-logo {
  height: 40px;
  width: auto;
}

header .header-title {
  font-weight: bold;
}

/* NAV */

nav .main-menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* MAIN */

main .hero-image {
  height: 50vh;
  background-image: url("https://images.pexels.com/photos/8474708/pexels-photo-8474708.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  -webkit-filter: sepia(1);
  filter: sepia(1);
}

main .hero-text {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .hero-text span {
  display: block;
}

main .hero-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* ASIDE */

/* FOOTER */

/* COLORS */

html {
  background: rgb(255, 208, 39);
  background: -moz-linear-gradient(180deg, rgba(255, 208, 39, 1) 0%, rgba(255, 208, 39, 1) 50%, rgba(0, 128, 170, 1) 50%, rgba(0, 128, 170, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 208, 39, 1) 0%, rgba(255, 208, 39, 1) 50%, rgba(0, 128, 170, 1) 50%, rgba(0, 128, 170, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 208, 39, 1) 0%, rgba(255, 208, 39, 1) 50%, rgba(0, 128, 170, 1) 50%, rgba(0, 128, 170, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd027",endColorstr="#0080aa",GradientType=1);
}

header {
  background-color: var(--secondary-color);
  color: var(--foreground-color);
}

nav {
  background-color: var(--secondary-color);
  color: var(--foreground-color);
}

main {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

main .hero-text {
  color: var(--background-color);
}

aside {
  background-color: var(--shadow-1-color);
  color: var(--shadow-2-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--background-color);
}
