/* THEME */

:root {
    --background: #fcfcfd;
    --foreground: #1f222a;

    --primary: #21345c;
    --secondary: #1d2d50;

    --shadow-1: #aaaeb6;
    --shadow-2: #d3d5d9;
}

/* FONTS */

html {
    font-size: 16px;
    line-height: 1.4;
    font-family: system-ui;
}


main h1 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

main h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

main h3 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
}

main h4 {
    font-size: 1.12rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

main h5 {
    font-size: 0.83rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

main h6 {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
}

body svg {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

/* GRIDS */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;

    position: relative;
    z-index: 2;
}

/* LOGIN , REGISTER */

main form {
    max-width: 650px;
    margin: auto;
}

main form fieldset {
    border: none;
    padding: 0;
}

main input[type="text"],
main input[type="password"],
main input[type="email"] {
    width: 100%;
    padding: calc(1rem / 2);
    border: none;
    border-bottom: 1px solid currentColor;
}

main input[type="submit"] {
    margin: 2rem 0;
}


/* NAV */

nav {
    background-color: var(--secondary);
    color: var(--background);
}

nav section {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */

main section {
    padding: 4rem 4rem;
}

/* COLORS */

html {
    background-color: var(--primary);
    color: var(--background);
}

main .note,
main .error {
    color: var(--shadow-1);
    font-size: small;
}