/* grid */

html,
body {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  min-width: 100vw;

  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > header {
  grid-area: header;
}

.wrapper > nav {
  grid-area: nav;
}

.wrapper > main {
  grid-area: main;
}

.wrapper > aside {
  grid-area: aside;
}

.wrapper > footer {
  grid-area: footer;
}

/* mobile */

@media (0px <=width <=767px) {
  .wrapper {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "main main main main"
      "aside aside aside aside"
      "footer footer footer footer";
  }

  /* header */

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .wrapper > header .header-logo {
    height: 3rem;
  }

  .wrapper > header .header-subtitle {
    display: none;
  }

  .wrapper > header .header-hamburger:hover {
    cursor: pointer;
  }

  .wrapper > header .header-hamburger span {
    width: 50px;
    height: 5px;
    background-color: currentColor;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .wrapper > header .header-hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .wrapper > header .header-hamburger.open span:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  .wrapper > header .header-hamburger.open span:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  /* nav */

  .wrapper > nav {
    display: none;
  }

  .wrapper > nav.open {
    display: block;
  }

  .wrapper > nav .main-menu .menu-item a {
    display: block;
    width: 100%;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    pointer-events: none;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a:after {
    content: "\25BE";
    font-size: 1.25rem;
    font-style: normal;
  }

  .wrapper > nav .main-menu .sub-menu {
    display: none;
  }

  .wrapper > nav .main-menu .menu-item-has-children.active > .sub-menu {
    display: block;
  }

  .wrapper > nav .main-menu .menu-item-has-children.active > a:after {
    content: "\25B4";
    font-size: 1.25rem;
    font-style: normal;
  }

  .wrapper > nav .main-menu .current-page-item > a {
    font-weight: bold;
  }

  /* aside */

  .wrapper > aside .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  /* footer */

  .wrapper > footer .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  /* spacing */

  .wrapper > header {
    padding: 1rem 2rem;
  }

  .wrapper > nav .main-menu .menu-item a {
    padding: 0.5rem 2rem;
  }

  .wrapper > nav .main-menu .sub-menu .menu-item a {
    padding-left: 2rem;
  }

  .wrapper > nav .main-menu .sub-menu .sub-menu .menu-item a {
    padding-left: 3rem;
  }

  .wrapper > main {
    padding: 2rem 2rem;
  }

  .wrapper > aside {
    padding: 1rem 2rem;
  }

  .wrapper > footer {
    padding: 1rem 2rem;
  }

  .wrapper > footer .footer-scroller {
    padding: 0.5rem;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  .wrapper {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "header header header header header header header header"
      "main main main main main main main main"
      "aside aside aside aside aside aside aside aside"
      "footer footer footer footer footer footer footer footer";
  }

  /* header */

  .wrapper > header {
    width: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: 999;
  }

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .wrapper > header .header-logo {
    height: 3.75rem;
  }

  .wrapper > header .header-subtitle {
    display: none;
  }

  .wrapper > header .header-hamburger:hover {
    cursor: pointer;
  }

  .wrapper > header .header-hamburger span {
    width: 50px;
    height: 5px;
    background-color: currentColor;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .wrapper > header .header-hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .wrapper > header .header-hamburger.open span:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  .wrapper > header .header-hamburger.open span:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  /* nav */

  .wrapper > nav {
    width: 0;
    height: max-content;
    position: fixed;
    top: calc((1.25rem * 2) + 56px);
    left: 0;

    transition: width 0.3s ease-in;
    overflow: hidden;
    z-index: 999;
  }

  .wrapper > nav.open {
    width: 100vw;
  }

  .wrapper > nav .main-menu .menu-item a {
    display: block;
    width: 100%;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 1.25rem;
    pointer-events: none;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a:after {
    content: "\25BE";
    font-size: 1.25rem;
    font-style: normal;
  }

  .wrapper > nav .main-menu .sub-menu {
    display: none;
  }

  .wrapper > nav .main-menu .menu-item-has-children.active > .sub-menu {
    display: block;
  }

  .wrapper > nav .main-menu .menu-item-has-children.active > a:after {
    content: "\25B4";
    font-size: 1.25rem;
    font-style: normal;
  }

  .wrapper > nav .main-menu .current-page-item > a {
    font-weight: bold;
  }

  /* main */

  .wrapper > main {
    margin-top: calc((1.25rem * 2) + 56px);
  }

  /* aside */

  .wrapper > aside .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;
  }

  /* footer */

  .wrapper > footer .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }

  /* spacing */

  .wrapper > header {
    padding: 1.25rem 2.5rem;
  }

  .wrapper > nav .main-menu .menu-item a {
    padding: 0.5rem 2.5rem;
  }

  .wrapper > nav .main-menu .sub-menu .menu-item a {
    padding-left: 2.5rem;
  }

  .wrapper > nav .main-menu .sub-menu .sub-menu .menu-item a {
    padding-left: 3.75rem;
  }

  .wrapper > main {
    padding: 2.5rem 2.5rem;
  }

  .wrapper > aside {
    padding: 1.25rem 2.5rem;
  }

  .wrapper > footer {
    padding: 1.25rem 2.5rem;
  }

  .wrapper > footer .footer-scroller {
    padding: 0.5rem;
  }
}

/* laptop */

@media (1024px <=width <=1439px) {
  .wrapper {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "nav nav header header header header header header"
      "nav nav main main main main main main"
      "nav nav aside aside aside aside aside aside"
      "nav nav footer footer footer footer footer footer";
  }

  /* header */

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .wrapper > header .header-logo {
    height: 3.75rem;
  }

  .wrapper > header .header-subtitle {
    display: block;
  }

  .wrapper > header .header-hamburger {
    display: none;
  }

  /* nav */

  .wrapper > nav {
    position: relative;
  }

  .wrapper > nav .main-menu {
    position: fixed;
    width: inherit;
    display: inline-block;
    width: 25vw;
  }

  .wrapper > nav .main-menu .menu-item a {
    display: block;
    width: 100%;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 1.25rem;
    pointer-events: none;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a:after {
    content: "\25BE";
    font-size: 1.25rem;
    font-style: normal;
  }

  .wrapper > nav .main-menu .sub-menu {
    display: none;
  }

  .wrapper > nav .main-menu .menu-item-has-children.active > .sub-menu {
    display: block;
  }

  .wrapper > nav .main-menu .menu-item-has-children.active > a:after {
    content: "\25B4";
    font-size: 1.25rem;
    font-style: normal;
  }

  .wrapper > nav .main-menu .current-page-item > a {
    font-weight: bold;
  }

  /* aside */

  .wrapper > aside .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.25rem;
  }

  /* footer */

  .wrapper > footer .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .wrapper > footer .footer-scroller {
    cursor: pointer;
  }

  /* spacing */

  .wrapper > header {
    padding: 1.25rem 3.75rem;
  }

  .wrapper > nav .main-menu .menu-item a {
    padding: 0.5rem 1.25rem;
  }

  .wrapper > nav .main-menu .sub-menu .menu-item a {
    padding-left: 2.5rem;
  }

  .wrapper > nav .main-menu .sub-menu .sub-menu .menu-item a {
    padding-left: 3.75rem;
  }

  .wrapper > main {
    padding: 2.5rem 3.75rem;
  }

  .wrapper > aside {
    padding: 1.25rem 3.75rem;
  }

  .wrapper > footer {
    padding: 1.25rem 3.75rem;
  }

  .wrapper > footer .footer-scroller {
    padding: 0.5rem;
  }
}

/* desktops */

@media (width >=1440px) {
  .wrapper {
    width: 66.666vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header header header header header header header header header header header header"
      "nav nav nav nav nav nav nav nav nav nav nav nav"
      "main main main main main main main main main main main main"
      "aside aside aside aside aside aside aside aside aside aside aside aside"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

  /* header */

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .wrapper > header .header-logo {
    height: 3.75rem;
  }

  .wrapper > header .header-subtitle {
    display: block;
  }

  .wrapper > header .header-hamburger {
    display: none;
  }

  /* nav */

  .wrapper > nav .main-menu {
    display: block;
    position: relative;
    z-index: 999;
  }

  .wrapper > nav .main-menu .menu-item {
    display: block;
    position: relative;
    cursor: default;
    float: left;
    white-space: nowrap;
  }

  .wrapper > nav .main-menu .sub-menu {
    display: block;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -9999px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .wrapper > nav .main-menu .menu-item:hover > .sub-menu {
    left: 0;
    opacity: 1;
  }

  .wrapper > nav .main-menu .sub-menu .menu-item {
    float: none;
  }

  .wrapper > nav .main-menu .sub-menu .menu-item:hover > .sub-menu {
    top: 0;
    left: 100%;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a:after {
    content: "\25BE";
    font-size: 1.25rem;
    font-style: normal;
    float: right;
  }

  .wrapper > nav .main-menu .menu-item a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .wrapper > nav .main-menu .menu-item-has-children > a {
    pointer-events: none;
  }

  .wrapper > nav .main-menu .sub-menu .menu-item a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .wrapper > nav .main-menu .sub-menu .menu-item-has-children > a:after {
    content: "\25B8";
    font-size: 1.25rem;
    font-style: normal;
    float: right;
  }

  .wrapper > nav .main-menu .current-page-item > a {
    font-weight: bold;
  }

  /* aside */

  .wrapper > aside .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
  }

  /* footer */

  .wrapper > footer .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .wrapper > footer .footer-scroller {
    cursor: pointer;
  }

  /* spacing */

  .wrapper > header {
    padding: 1.5rem 0;
  }

  .wrapper > nav .main-menu .menu-item a {
    padding: 0.75rem 1.5rem;
  }

  .wrapper > nav .main-menu > .menu-item:first-of-type a {
    padding: 0.75rem 1.5rem 0.75rem 0;
  }

  .wrapper > nav .main-menu > .menu-item:last-of-type a {
    padding: 0.75rem 0 0.75rem 1.5rem;
  }

  .wrapper > main {
    padding: 3rem 0;
  }

  .wrapper > aside {
    padding: 1.5rem 0;
  }

  .wrapper > footer {
    padding: 1.5rem 0;
  }

  .wrapper > footer .footer-scroller {
    padding: 0.75rem;
  }
}
