/* grid */

html,
body {
  height: auto;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > header {
  grid-area: header;
}

.wrapper > nav {
  grid-area: nav;
}

.wrapper > main {
  grid-area: main;
}

.wrapper > aside {
  grid-area: aside;
}

.wrapper > footer {
  grid-area: footer;
}

/* mobile */

@media (0px <=width <=767px) {
  .wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }

  /* header */

  .wrapper > header {
    padding: 0 1rem;
  }

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > header .row .header-logo {
    height: 40px;
    width: auto;
  }

  .wrapper > header .row .header-title {
    display: none;
  }

  .wrapper > header .row .header-subtitle {
    display: none;
  }

  .wrapper > header .row .header-hamburger-icon {
    height: 40px;
    width: auto;
  }

  /* nav */

  .wrapper > nav {
    display: none;
  }

  .wrapper > nav.open {
    display: block;
  }

  .wrapper > nav {
    padding: 0 1rem;
  }

  .wrapper > nav .row {
    padding: 0.5rem 1rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid currentColor;
    display: block;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu > .menu-item:first-of-type a {
    border-top: 1px solid currentColor;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    pointer-events: none;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a:after {
    content: url("../images/chevron-down.svg");
    height: 1.25rem;
    width: 1.25rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu {
    display: none;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children.active > .sub-menu {
    display: block;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children.active > a:after {
    content: url("../images/chevron-up.svg");
    height: 1.25rem;
    width: 1.25rem;
  }

  .wrapper > nav .row .column .main-menu .current-page-item > a {
    font-weight: 700;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 0;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item a {
    padding-left: 1rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .sub-menu .menu-item a {
    padding-left: 2rem;
  }

  /* main */

  .wrapper > main {
    padding: 0 1rem;
  }

  .wrapper > main .row {
    padding: 2rem 1rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 0 1rem;
  }

  .wrapper > aside .row {
    padding: 1rem;
  }

  .wrapper > aside .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > aside .row .column figure {
    width: 100%;
  }

  .wrapper > aside .row .column figure img {
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    border: 1px solid currentColor;
  }

  /* footer */

  .wrapper > footer {
    padding: 0 1rem;
  }

  .wrapper > footer .row {
    padding: 1rem;
  }

  .wrapper > footer .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > footer .row .column span {
    display: block;
  }

  /* special */

  .scroller {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 333;
    cursor: pointer;
    border: 1px solid currentColor;
  }

  .scroller-icon {
    height: 40px;
    width: auto;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  .wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }

  /* header */

  .wrapper > header {
    padding: 0 2rem;
  }

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > header .row .column .header-logo {
    height: 60px;
    width: auto;
  }

  .wrapper > header .row .column .header-title {
    display: block;
  }

  .wrapper > header .row .column .header-subtitle {
    display: none;
  }

  .wrapper > header .row .column .header-hamburger-icon {
    height: 60px;
    width: auto;
  }

  /* nav */

  .wrapper > nav {
    display: none;
  }

  .wrapper > nav.open {
    display: block;
  }

  .wrapper > nav {
    padding: 0 2rem;
  }

  .wrapper > nav .row {
    padding: 0.5rem 1rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid currentColor;
    display: block;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu > .menu-item:first-of-type a {
    border-top: 1px solid currentColor;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    pointer-events: none;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a:after {
    content: url("../images/chevron-down.svg");
    height: 1.25rem;
    width: 1.25rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu {
    display: none;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children.active > .sub-menu {
    display: block;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children.active > a:after {
    content: url("../images/chevron-up.svg");
    height: 1.25rem;
    width: 1.25rem;
  }

  .wrapper > nav .row .column .main-menu .current-page-item > a {
    font-weight: 700;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 0;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item a {
    padding-left: 1rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .sub-menu .menu-item a {
    padding-left: 2rem;
  }

  /* main */

  .wrapper > main {
    padding: 0 2rem;
  }

  .wrapper > main .row {
    padding: 2rem 1rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 0 2rem;
  }

  .wrapper > aside .row {
    padding: 1rem;
  }

  .wrapper > aside .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > aside .row .column figure {
    width: 100%;
  }

  .wrapper > aside .row .column figure img {
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    border: 1px solid currentColor;
  }

  /* footer */

  .wrapper > footer {
    padding: 0 2rem;
  }

  .wrapper > footer .row {
    padding: 1rem;
  }

  .wrapper > footer .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > footer .row .column span {
    display: block;
  }

  /* special */

  .scroller {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 333;
    cursor: pointer;
    border: 1px solid currentColor;
  }

  .scroller-icon {
    height: 40px;
    width: auto;
  }
}

/* laptop */

@media (1024px <=width <=1439px) {
  .wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "nav header"
      "nav main"
      "nav aside"
      "nav footer";
  }

  /* header */

  .wrapper > header {
    padding: 0 1rem;
  }

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > header .row .column .header-logo {
    height: 80px;
    width: auto;
  }

  .wrapper > header .row .column .header-title {
    display: block;
  }

  .wrapper > header .row .column .header-subtitle {
    display: block;
  }

  .wrapper > header .row .column .header-hamburger-icon {
    display: none;
  }

  /* nav */

  .wrapper > nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  .wrapper > nav {
    padding: 0 1rem;
  }

  .wrapper > nav .row {
    padding: 0.5rem 1rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid currentColor;
    display: block;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu > .menu-item:last-of-type a {
    border-bottom: none;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    pointer-events: none;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a:after {
    content: url("../images/chevron-down.svg");
    height: 1.25rem;
    width: 1.25rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu {
    display: none;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children.active > .sub-menu {
    display: block;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children.active > a:after {
    content: url("../images/chevron-up.svg");
    height: 1.25rem;
    width: 1.25rem;
  }

  .wrapper > nav .row .column .main-menu .current-page-item > a {
    font-weight: 700;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 0;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item a {
    padding-left: 1rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .sub-menu .menu-item a {
    padding-left: 2rem;
  }

  /* main */

  .wrapper > main {
    padding: 0 1rem;
  }

  .wrapper > main .row {
    padding: 2rem 1rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 0 1rem;
  }

  .wrapper > aside .row {
    padding: 1rem;
  }

  .wrapper > aside .row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .wrapper > aside .row .column figure {
    width: 100%;
  }

  .wrapper > aside .row .column figure img {
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    border: 1px solid currentColor;
  }

  /* footer */

  .wrapper > footer {
    padding: 0 1rem;
  }

  .wrapper > footer .row {
    padding: 1rem;
  }

  .wrapper > footer .row {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .wrapper > footer .row .column span {
    display: block;
  }

  /* special */

  .scroller {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 333;
    cursor: pointer;
    border: 1px solid currentColor;
  }

  .scroller-icon {
    height: 40px;
    width: auto;
  }
}

/* desktops */

@media (width >=1440px) {
  .wrapper {
    width: 66vw;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "header nav"
      "main main"
      "aside aside"
      "footer footer";
  }

  /* header */

  .wrapper > header {
    padding: 0 0;
  }

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }

  .wrapper > header .row .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .wrapper > header .row .column .header-logo {
    height: 100px;
    width: auto;
  }

  .wrapper > header .row .column .header-title {
    display: block;
  }

  .wrapper > header .row .column .header-subtitle {
    display: block;
  }

  .wrapper > header .row .column .header-hamburger-icon {
    display: none;
  }

  .wrapper > nav {
    padding: 0;
  }

  .wrapper > nav .row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;
  }

  .wrapper > nav .row .column {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 111;
  }

  .wrapper > nav .row .column .main-menu .menu-item {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu > .menu-item a {
    display: block;
    padding: 1rem;
    width: 100%;
    word-break: keep-all;
  }

  .wrapper > nav .row .column .main-menu > .menu-item a:hover {
    text-decoration: underline;
  }

  .wrapper > nav .row .column .main-menu .sub-menu {
    display: none;
    z-index: 222;
  }

  .wrapper > nav .row .column .main-menu > .menu-item-has-children:hover > .sub-menu {
    display: block;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a {
    pointer-events: none;
  }

  .wrapper > nav .row .column .main-menu > .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item-has-children > a:after {
    content: url("../images/chevron-down.svg");
    height: 1rem;
    width: 1rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item-has-children > a:after {
    content: url("../images/chevron-right.svg");
    height: 1rem;
    width: 1rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item {
    text-align: left;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item a {
    display: block;
    padding: 1rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu > .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .wrapper > nav .row .column .main-menu .sub-menu .sub-menu {
    display: block;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* main */

  .wrapper > main {
    padding: 0 0;
  }

  .wrapper > main .row {
    padding: 2rem 1rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 0 0;
  }

  .wrapper > aside .row {
    padding: 1rem;
  }

  .wrapper > aside .row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .wrapper > aside .row .column figure {
    width: 100%;
  }

  .wrapper > aside .row .column figure img {
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    border: 1px solid currentColor;
  }

  /* footer */

  .wrapper > footer {
    padding: 0 0;
  }

  .wrapper > footer .row {
    padding: 1rem;
  }

  .wrapper > footer .row {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  .wrapper > footer .row .column span {
    display: block;
  }

  /* special */

  .scroller {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 333;
    cursor: pointer;
    border: 1px solid currentColor;
  }

  .scroller-icon {
    height: 40px;
    width: auto;
  }
}
