/* variables */

:root {
    --background-color: #fcfcfc;
    --foreground-color: #1b1b1b;
    --primary-color: #2672de;
    --shadow-1-color: #f0f0f0;
    --shadow-2-color: #adadad;
}

/* fonts */

html {
    font-size: clamp(1rem, 2vi, 1.5rem);
    line-height: 1.4;
    font-family: system-ui;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

h6 {
    font-size: 1.125rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

/* colors */

html {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
}

nav {
    background-color: var(--shadow-1-color);
    color: var(--foreground-color);
}

main {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

aside {
    background-color: var(--shadow-2-color);
    color: var(--foreground-color);
}

footer {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

/* phones */

@media (width <=767px) {
    header {
        padding: 1rem 2rem;
    }

    nav .main-menu .menu-item a {
        padding: calc(1rem/2) 2rem;
        border-bottom: 1px solid var(--shadow-2-color);
    }

    nav .sub-menu .menu-item a {
        padding-left: 3rem;
    }

    nav .sub-menu .sub-menu .menu-item a {
        padding-left: 4rem;
    }

    nav .main-menu>.menu-item {
        border-left: 4px solid var(--shadow-2-color);
    }

    nav .main-menu>.menu-item.active {
        border-left: 4px solid var(--primary-color);
    }

    nav .main-menu .current-page-item {
        color: var(--primary-color);
    }

    main {
        padding: 2rem 2rem;
    }

    aside {
        padding: 1rem 2rem;
        text-align: center;
    }

    footer {
        padding: 1rem 2rem;
        text-align: center;
    }

    footer span {
        display: block;
    }
}

/* tablets */

@media (768px <=width <=1279px) {
    header {
        padding: 1rem 4rem;
    }

    nav {
        box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.25);
        min-width: 50vw;
    }

    nav .main-menu .menu-item a {
        padding: calc(1rem/2) 2rem;
        border-bottom: 1px solid var(--shadow-2-color);
    }

    nav .main-menu>.menu-item:first-of-type>a {
        border-top: 1px solid var(--shadow-2-color);
    }

    nav .sub-menu .menu-item a {
        padding-left: 3rem;
    }

    nav .sub-menu .sub-menu .menu-item a {
        padding-left: 4rem;
    }

    nav .main-menu>.menu-item {
        border-left: 4px solid var(--shadow-2-color);
    }

    nav .main-menu>.menu-item.active {
        border-left: 4px solid var(--primary-color);
    }

    nav .main-menu .current-page-item {
        color: var(--primary-color);
    }

    main {
        padding: 2rem 4rem;
    }

    aside {
        padding: 1rem 4rem;
        text-align: center;
    }

    footer {
        padding: 1rem 4rem;
        text-align: center;
    }

    footer span {
        display: block;
    }
}

/* laptops */

@media (1280px <=width <=1919px) {
    header {
        padding: 1rem 4rem;
    }

    nav {
        padding: 0 4rem;
        border-bottom: 1px solid var(--shadow-2-color);
    }

    nav .main-menu .menu-item a {
        padding: calc(1rem/2);
    }

    nav .main-menu>.menu-item:first-of-type a {
        padding-left: 0;
    }

    nav .main-menu>.menu-item:hover {
        color: var(--primary-color);
    }

    nav .main-menu>.menu-item-has-children:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
    }

    nav .sub-menu {
        background-color: var(--primary-color);
        color: var(--background-color);
        min-width: 100%;
    }

    nav .sub-menu .menu-item a:hover {
        text-decoration: underline;
    }

    main {
        padding-left: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 65ch;
    }

    aside {
        padding: 1rem 4rem;
        text-align: center;
    }

    footer {
        padding: 1rem 4rem;
        text-align: center;
    }

    footer span {
        display: block;
    }
}

/* desktops */

@media (width >=1920px) {
    header {
        padding: 1rem 4rem;
    }

    nav {
        padding: 0 4rem;
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav .main-menu {
        min-width: 300px;
        margin: 1rem 0;
        top: 1rem;
        border-top: 2px solid var(--shadow-2-color);
        border-bottom: 2px solid var(--shadow-2-color);
    }

    nav .main-menu .menu-item a {
        padding: calc(1rem/2) 2rem;
        border-bottom: 1px solid var(--shadow-2-color);
    }

    nav .main-menu>.menu-item:last-of-type>a {
        border-bottom: 0;
    }

    nav .sub-menu .menu-item a {
        padding-left: 3rem;
    }

    nav .sub-menu .sub-menu .menu-item a {
        padding-left: 4rem;
    }

    nav .main-menu>.menu-item {
        border-left: 2px solid var(--shadow-2-color);
        border-right: 2px solid var(--shadow-2-color);
    }

    nav .main-menu>.menu-item.active {
        border-left: 4px solid var(--primary-color);
    }

    nav .main-menu .current-page-item {
        color: var(--primary-color);
    }

    main {
        padding: 1rem 0;
        max-width: 65ch;
    }

    aside {
        padding: 1rem 4rem;
        text-align: center;
    }

    footer {
        padding: 1rem 4rem;
        text-align: center;
    }

    footer span {
        display: block;
    }
}