:root {
    --background: #ffffff;
    --color: #3a3b44;
    --scale-1: #fcfcfc;
    --scale-2: #dddddd;
    --primary-color: #014c6c;
    --secondary-color: #8a6d3b;
}

/* mobile */

@media (0px <=width <=480px) {

    /* fonts */

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
        text-align: center;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    main a,
    aside a,
    footer a {
        text-decoration: underline;
    }

    address {
        text-align: center;
    }

    /* spacing */

    .wrapper>header {
        padding: 1rem 4vw;
    }

    .wrapper>nav .row .column {
        padding: 1rem 4vw;
    }

    .wrapper>nav .main-menu .menu-item a {
        padding: 0.5rem 4vw;
    }

    .wrapper>nav .main-menu .sub-menu .menu-item a {
        padding: 0.5rem 0 0.5rem 6vw;
    }

    .wrapper>main {
        padding: 2rem 4vw 1rem 4vw;
    }

    .wrapper>main .row {
        padding: 1rem;
    }

    .wrapper>aside {
        padding: 1rem 4vw 2rem 4vw;
    }

    .wrapper>aside .row {
        padding: 1rem;
    }

    .wrapper>aside .row .partner-box .partner-item a {
        padding: 1rem;
    }

    .wrapper>footer {
        padding: 1rem 4vw;
    }
}

/* tablet */

@media (481px <=width <=768px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
        text-align: center;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    main a,
    aside a,
    footer a {
        text-decoration: underline;
    }

    address {
        text-align: center;
    }

    /* spacing */

    .wrapper>header {
        padding: 1rem 6vw;
    }

    .wrapper>nav .row .column {
        padding: 1rem 6vw;
    }

    .wrapper>nav .main-menu .menu-item a {
        padding: 0.5rem 6vw;
    }

    .wrapper>nav .main-menu .sub-menu .menu-item a {
        padding: 0.5rem 0 0.5rem 8vw;
    }

    .wrapper>main {
        padding: 2rem 6vw 1rem 6vw;
    }

    .wrapper>main .row {
        padding: 1rem;
    }

    .wrapper>aside {
        padding: 1rem 6vw 2rem 6vw;
    }

    .wrapper>aside .row {
        padding: 1rem;
    }

    .wrapper>aside .row .partner-box .partner-item a {
        padding: 1rem;
    }

    .wrapper>footer {
        padding: 1rem 6vw;
    }
}

/* laptop */

@media (769px <=width <=1279px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
        text-align: center;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    main a,
    aside a,
    footer a {
        text-decoration: underline;
    }

    /* spacing */

    .wrapper>header {
        padding: 1rem 10vw;
    }

    .wrapper>nav {
        padding: 0 10vw;
    }

    .wrapper>nav .main-menu .menu-item a {
        padding: 0.5rem 1rem;
    }

    .wrapper>nav .main-menu>.menu-item:first-of-type a {
        padding: 0.5rem 1rem 0.5rem 0;
    }

    .wrapper>nav .main-menu>.menu-item:last-of-type a {
        padding: 0.5rem 0 0.5rem 1rem;
    }

    .wrapper>main {
        padding: 2rem 10vw 1rem 10vw;
    }

    .wrapper>main .row {
        padding: 2rem;
    }

    .wrapper>aside {
        padding: 1rem 10vw 2rem 10vw;
    }

    .wrapper>aside .row {
        padding: 2rem;
    }

    .wrapper>aside .row .partner-box .partner-item a {
        padding: 1rem;
    }

    .wrapper>footer {
        padding: 2rem 10vw;
    }

    address {
        text-align: center;
    }
}

/* desktops */

@media (width >=1280px) {

    /* fonts */

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
        text-align: center;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    main a,
    aside a,
    footer a {
        text-decoration: underline;
    }

    /* spacing */

    .wrapper>header {
        padding: 1rem 15vw;
    }

    .wrapper>nav {
        padding: 0 15vw;
    }

    .wrapper>nav .main-menu .menu-item a {
        padding: 0.5rem 1rem;
    }

    .wrapper>nav .main-menu>.menu-item:first-of-type a {
        padding: 0.5rem 1rem 0.5rem 0;
    }

    .wrapper>nav .main-menu>.menu-item:last-of-type a {
        padding: 0.5rem 0 0.5rem 1rem;
    }

    .wrapper>main {
        padding: 2rem 2rem 2rem 15vw;
    }

    .wrapper>main .row {
        padding: 1rem;
    }

    .wrapper>aside {
        padding: 2rem 15vw 2rem 2rem;
    }

    .wrapper>aside .row {
        padding: 1rem;
    }

    .wrapper>aside .row .partner-box .partner-item a {
        padding: 1rem;
    }

    .wrapper>footer {
        padding: 2rem 15vw;
    }

    address {
        text-align: center;
    }
}

/* colors */

@media (prefers-color-scheme: light) {
    /* mobile */

    @media (0px <=width <=480px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .column:last-of-type {
            border-top: 1px solid var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }

    /* tablet */

    @media (481px <=width <=768px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .column:last-of-type {
            border-top: 1px solid var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }

    /* laptop */

    @media (769px <=width <=1279px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item {
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:last-of-type {
            border-bottom: none;
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:hover {
            background-color: var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }

    /* desktops */

    @media (width >=1280px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item {
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:last-of-type {
            border-bottom: none;
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:hover {
            background-color: var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }
}

@media (prefers-color-scheme: dark) {
    /* mobile */

    @media (0px <=width <=480px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .column:last-of-type {
            border-top: 1px solid var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }

    /* tablet */

    @media (481px <=width <=768px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .column:last-of-type {
            border-top: 1px solid var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }

    /* laptop */

    @media (769px <=width <=1279px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item {
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:last-of-type {
            border-bottom: none;
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:hover {
            background-color: var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }

    /* desktops */

    @media (width >=1280px) {

        html,
        body,
        .wrapper {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>header {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>nav {
            background-color: var(--scale-1);
            color: var(--color);
            border-top: 1px solid var(--scale-2);
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item {
            border-bottom: 1px solid var(--scale-2);
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:last-of-type {
            border-bottom: none;
        }

        .wrapper>nav .main-menu .sub-menu .menu-item:hover {
            background-color: var(--scale-2);
        }

        .wrapper>main {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>main .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside {
            background-color: var(--background);
            color: var(--color);
        }

        .wrapper>aside .row {
            background-color: var(--scale-1);
            color: var(--color);
            border: 1px solid var(--scale-2);
        }

        .wrapper>aside .row .partner-box .partner-item a {
            background-color: var(--background);
            border: 1px solid var(--scale-2);
        }

        .wrapper>footer {
            background-color: var(--secondary-color);
            color: var(--background);
        }

        h1,
        h3,
        h5 {
            color: var(--color);
        }

        h2,
        h6 {
            color: var(--primary-color);
        }

        h4 {
            color: var(--secondary-color);
        }

        a {
            color: var(--primary-color);
        }
    }
}