/* grid */

html,
body {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  min-width: 100vw;

  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > header {
  grid-area: header;
}

.wrapper > main {
  grid-area: main;
}

/* mobile */

@media (0px <=width <=767px) {
  .wrapper {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header header"
      "main main main main";
  }

  /* header */

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .wrapper > header .switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .wrapper > header .switch input[type="radio"] {
    appearance: none;
    border: 1px solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    outline: 0;
    width: 2rem;
  }

  /* main */

  .wrapper > main .item-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .wrapper > main .item-box .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wrapper > main .item-box .item h5 {
    margin-top: 0 !important;
  }

  /* spacing */

  .wrapper > header {
    padding: 1rem 1rem;
  }

  .wrapper > header .switch {
    padding: 1rem 1rem;
  }

  .wrapper > main {
    padding: 1rem 1rem;
  }

  .wrapper > main .item-box .item {
    padding: 1rem 1rem;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  .wrapper {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header header header header header header"
      "main main main main main main main main";
  }

  /* header */

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

  .wrapper > header .switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

  .wrapper > header .switch input[type="radio"] {
    appearance: none;
    border: 1px solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    outline: 0;
    width: 2rem;
  }

  /* main */

  .wrapper > main .item-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.25rem;
  }

  .wrapper > main .item-box .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wrapper > main .item-box .item h5 {
    margin-top: 0 !important;
  }

  /* spacing */

  .wrapper > header {
    padding: 1.25rem 1.25rem;
  }

  .wrapper > header .switch {
    padding: 1.25rem 1.25rem;
  }

  .wrapper > main {
    padding: 1.25rem 1.25rem;
  }

  .wrapper > main .item-box .item {
    padding: 1.25rem 1.25rem;
  }
}

/* laptop */

@media (1024px <=width <=1439px) {
  .wrapper {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header header header header header header"
      "main main main main main main main main";
  }

  /* header */

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

  .wrapper > header .switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

  .wrapper > header .switch input[type="radio"] {
    appearance: none;
    border: 1px solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    outline: 0;
    width: 2rem;
  }

  /* main */

  .wrapper > main .item-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.25rem;
  }

  .wrapper > main .item-box .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wrapper > main .item-box .item h5 {
    margin-top: 0 !important;
  }

  /* spacing */

  .wrapper > header {
    padding: 1.25rem 1.25rem;
  }

  .wrapper > header .switch {
    padding: 1.25rem 1.25rem;
  }

  .wrapper > main {
    padding: 1.25rem 1.25rem;
  }

  .wrapper > main .item-box .item {
    padding: 1.25rem 1.25rem;
  }
}

/* desktops */

@media (width >=1440px) {
  .wrapper {
    width: 66.666vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main";
  }

  /* header */

  .wrapper > header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .wrapper > header .switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .wrapper > header .switch input[type="radio"] {
    appearance: none;
    border: 1px solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    outline: 0;
    width: 2rem;
  }

  /* main */

  .wrapper > main .item-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
  }

  .wrapper > main .item-box .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wrapper > main .item-box .item h5 {
    margin-top: 0 !important;
  }

  /* spacing */

  .wrapper > header {
    padding: 1.5rem 1.5rem;
  }

  .wrapper > header .switch {
    padding: 1.5rem 1.5rem;
  }

  .wrapper > main {
    padding: 1.5rem 1.5rem;
  }

  .wrapper > main .item-box .item {
    padding: 1.5rem 1.5rem;
  }
}
