body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-size: calc(15px + .390625vw);
    line-height: 150%;

    background-color: AliceBlue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header {
    width: 50vw;
}

header h1 {
    color: DimGrey;
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}

main {

    width: 50vw;
}

main .folder-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;

    margin-bottom: 2rem;
}

main .folders {
    background-color: GhostWhite;
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border: 1px solid DeepSkyBlue;
    border-radius: 25px;

    word-break: break-all;
    padding: 1rem;
    text-align: center;

    color: DeepSkyBlue;
}

main .folders:hover,
main .files:hover {
    border: 1px solid DimGrey;
    color: DimGrey;
}

main .file-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vw;
}

main .files {
    background-color: GhostWhite;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border: 1px solid DeepSkyBlue;
    border-radius: 25px;

    word-break: break-all;
    padding: 1rem;
    text-align: center;

    color: DeepSkyBlue;
}