/* THEMES */

body {
    --lineheight: 1.4rem;
    --max-lines: 3;
    --opac: 0.5;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    background-color: #ECF2F8;
}

@media only screen and (max-width: 1279px) {
    #wrapper {
        width: 100%;
    }

    #container {
        width: 80%;
        margin: 10% auto;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media only screen and (min-width: 1280px) {
    #wrapper {
        width: 100%;
    }

    #container {
        width: 90%;
        margin: 5% auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    article {
        width: 300px !important;
    }

    article:first-child {
        width: 500px !important;
    }

    article:nth-child(3n+2) {
        width: 500px !important;
    }
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* ELEMENTS */

article {
    background-color: #19212E;
    color: #CFCFCF;
    border-radius: 15px;
    padding: 1.5rem;
    line-height: var(--lineheight);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

article:first-child {
    background-color: #7541C8 !important;
    color: #CFCFCF !important;
}

article:nth-child(2n+1) {
    background-color: #48556A;
    color: #CFCFCF;
}

article:nth-child(3n+3) {
    background-color: #FFFFFF;
    color: #000000;
}

article:nth-child(3n+3) .published,
article:nth-child(3n+3) .link {
    color: #48556A;
}

span {
    display: block;
}

.author {
    font-weight: bold;
}

.published {
    color: #FFFFFF;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.content {
    overflow: hidden;
    max-height: calc(var(--lineheight) * var(--max-lines));
    font-style: italic;
}

.link::before {
    content: '🔗 ';
}

.link {
    color: #FFFFFF;
}