<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"searchbar","area":"searchbar","tagName":"div"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:heading -->
  <h1>404 - Error</h1>
  <!-- /wp:heading -->
  <p>Sorry, but we can't find the page you are looking for.</p>
  <a href="./" rel="nofollow">Go Back</a>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
