<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"searchbar","area":"searchbar","tagName":"div"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:heading -->
  <h1>FrontPage</h1>
  <!-- /wp:heading -->

  <!-- wp:group -->
  <div class="wp-block-group grid-1">
    <!-- wp:query {"queryId":0,"query":{"perPage":1,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]}} -->
    <!-- wp:post-template -->
    <article class="wp-block-post-article">
      <div class="wp-block-post-thumbnail">
        <!-- wp:post-featured-image {"isLink":false} /-->
      </div>
      <div class="wp-block-post-details">
        <!-- wp:post-title {"isLink":false} /-->
        <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
        <!-- wp:post-date /-->
        <!-- wp:post-terms {"term":"category"} /-->
        <!-- wp:post-excerpt {"moreText":"read more","excerptLength":30} /-->
      </div>
    </article>
    <!-- /wp:post-template -->
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group -->
  <div class="wp-block-group grid-2">
    <!-- wp:query {"queryId":0,"query":{"perPage":2,"pages":0,"offset":1,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]}} -->
    <!-- wp:post-template -->
    <article class="wp-block-post-article">
      <div class="wp-block-post-thumbnail">
        <!-- wp:post-featured-image {"isLink":false} /-->
      </div>
      <div class="wp-block-post-details">
        <!-- wp:post-title {"isLink":false} /-->
        <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
        <!-- wp:post-date /-->
        <!-- wp:post-terms {"term":"category"} /-->
        <!-- wp:post-excerpt {"moreText":"read more","excerptLength":30} /-->
      </div>
    </article>
    <!-- /wp:post-template -->
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group -->
  <div class="wp-block-group grid-3">
    <!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":3,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]}} -->
    <!-- wp:post-template -->
    <article class="wp-block-post-article">
      <div class="wp-block-post-thumbnail">
        <!-- wp:post-featured-image {"isLink":false} /-->
      </div>
      <div class="wp-block-post-details">
        <!-- wp:post-title {"isLink":false} /-->
        <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
        <!-- wp:post-date /-->
        <!-- wp:post-terms {"term":"category"} /-->
        <!-- wp:post-excerpt {"moreText":"read more","excerptLength":30} /-->
      </div>
    </article>
    <!-- /wp:post-template -->
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
