<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"searchbar","area":"searchbar","tagName":"div"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:post-title {"level":1} /-->
  <!-- wp:post-content /-->
  <div class="wp-block-post-details">
    <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
    <!-- wp:post-date /-->
    <!-- wp:post-terms {"term":"category"} /-->
  </div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","area":"comments","tagName":"aside"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
