/* THEMES */

:root {
    --lightblue: #c7eafc;
    --darkblue: #06a7e1;
    --orange: #fec97d;
    --darkorange: #eea451;
    --pink: #ee4c95;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    background-color: var(--orange);
    color: var(--darkorange);
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    grid-area: header;
    width: 100%;
    max-height: 768px;
}

main {
    grid-area: main;
    width: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
    font-family: 'Comic Neue', cursive;
}

/* ELEMENTS */

.row {
    max-width: 1024px;
    margin: auto;
}

main .row,
footer .row {
    padding: 1rem;
}

footer .row {
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    header {
        background-image: url("../img/back.png");
        background-repeat: repeat-x;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1919px) {
    .icon-brown {
        display: none;
    }

    .icon-cony {
        display: none;
    }
}

@media only screen and (min-width: 1920px) {
    .icon-brown {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 10%;
        height: auto;
    }

    .icon-cony {
        position: fixed;
        top: 0;
        right: 0;

        width: 10%;
        height: auto;
    }
}