/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#wrapper {
    width: 100%;
}

header {
    grid-area: header;
    width: 100%;
}

nav {
    grid-area: nav;
    width: 100%;
}

main {
    grid-area: main;
    width: 100%;
}

aside {
    grid-area: aside;
    width: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.17rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1.0rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h5 {
    font-size: .83rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h6 {
    font-size: .75rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

/* THEMES */

body[data-theme='theme-first'] {
    --linebreak: 1rem;
    --opac: 0.5;

    --background: #303841;
    --text: #EEEEEE;
    --highlight: #F6C90E;
    --shadow: #3A4750;

    #wrapper {
        font-family: 'Lato', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lora', serif;
    }

    #wrapper {
        background-color: var(--background);
        color: var(--text);

        display: grid;
        grid-template-columns: 35vw 55vw 10vw;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "header main aside"
            "header footer aside";
    }

    header {
        background-color: var(--highlight);
        height: 100vh;
        position: sticky;
        top: 0;
    }

    header .first {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-right: 2px solid var(--shadow);
    }

    header .second {
        position: absolute;
        top: 0;
        left: 30vw;
        width: 60vw;
        background: rgb(246, 201, 14);
        background: linear-gradient(90deg, rgba(246, 201, 14, 1) 0%, rgba(246, 201, 14, 1) 8.25%, rgba(48, 56, 65, 1) 8.25%);
    }

    header .second section {
        width: 25vw;
        background-color: var(--background);
        color: var(--highlight);
        text-transform: uppercase;
        border: 2px solid var(--shadow);
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 10vh;
    }

    nav {
        display: none;
    }

    main .row {
        padding: 50px;
        border-bottom: 2px solid var(--shadow);
    }

    main .about {
        padding-top: 50vh;
    }

    main h2 {
        color: var(--highlight);
    }

    aside {
        position: sticky;
        top: 0;
        height: 100vh;
    }

    aside .row {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border-left: 2px solid var(--shadow);
        padding: 50px;
    }

    aside a {
        color: var(--highlight);
    }

    footer .row {
        padding: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .years {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: var(--linebreak);
        grid-template-areas:
            "time job"
            "time office";
        font-size: 0.83rem;
        margin-bottom: 1rem;
    }

    .time {
        grid-area: time;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        color: var(--highlight);
    }

    .job {
        grid-area: job;
    }

    .office {
        grid-area: office;
    }

    .skills {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: var(--linebreak);

        font-size: 0.83rem;
        margin-bottom: 1rem;
    }

    h3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h4 {
        text-decoration: underline;
    }

    progress {
        display: block;
        background-color: var(--shadow);
        width: 100%;
    }

    progress::-moz-progress-bar {
        background: var(--highlight);
    }

    progress::-webkit-progress-bar {
        background: var(--highlight);
    }

    button {
        background-color: var(--highlight);
        color: var(--background);
        padding: 10px;
    }

    button:hover {
        background-color: var(--shadow);
        color: var(--highlight);
        cursor: pointer;
    }

    #ideas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: var(--linebreak);
    }

    .percents {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .outside {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p0 {
        background-image: conic-gradient(var(--highlight) 0%, var(--shadow) 0);
    }

    .p10 {
        background-image: conic-gradient(var(--highlight) 10%, var(--shadow) 0);
    }

    .p20 {
        background-image: conic-gradient(var(--highlight) 20%, var(--shadow) 0);
    }

    .p30 {
        background-image: conic-gradient(var(--highlight) 30%, var(--shadow) 0);
    }

    .p40 {
        background-image: conic-gradient(var(--highlight) 40%, var(--shadow) 0);
    }

    .p50 {
        background-image: conic-gradient(var(--highlight) 50%, var(--shadow) 0);
    }

    .p60 {
        background-image: conic-gradient(var(--highlight) 60%, var(--shadow) 0);
    }

    .p70 {
        background-image: conic-gradient(var(--highlight) 70%, var(--shadow) 0);
    }

    .p80 {
        background-image: conic-gradient(var(--highlight) 80%, var(--shadow) 0);
    }

    .p90 {
        background-image: conic-gradient(var(--highlight) 90%, var(--shadow) 0);
    }

    .p100 {
        background-image: conic-gradient(var(--highlight) 100%, var(--shadow) 0);
    }

    .inside {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: var(--background);
        color: var(--highlight);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body[data-theme='theme-second'] {
    --linebreak: 1rem;
    --opac: 0.5;

    --background: #EBEBEB;
    --text: #050505;
    --highlight: #6F4A8E;
    --shadow: #221F3B;

    #wrapper {
        font-family: 'Open Sans', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Merriweather', serif;
    }

    #wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "nav header"
            "nav aside"
            "nav main"
            "nav footer";
    }

    header {
        background-color: var(--background);
        color: var(--text);
        height: 100vh;
    }

    nav {
        background-color: var(--text);
        color: var(--background);
        height: 100vh;
        position: sticky;
        top: 0;
    }

    main {
        background-color: var(--background);
        color: var(--text);
        border-top: 2px solid var(--highlight);
    }

    aside {
        background-color: var(--background);
        color: var(--text);
        border-top: 2px solid var(--highlight);
    }

    footer {
        background-color: var(--background);
        color: var(--text);
        border-top: 2px solid var(--highlight);
    }

    .row {
        padding: 4vh 8vw;
    }

    header .first {
        height: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    header .second {
        height: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    nav .row {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        padding: 4vh 4vw;
    }

    nav .menu {
        border-left: 2px solid var(--highlight);
        padding-left: var(--linebreak);
    }

    nav li {
        margin-bottom: var(--linebreak);
    }

    nav i {
        margin-right: var(--linebreak);
    }

    nav a:hover {
        color: var(--highlight);
    }

    aside .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    aside a:hover {
        color: var(--highlight);
    }

    footer .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    button {
        background-color: var(--highlight);
        color: var(--background);
        padding: 10px;
    }

    button:hover {
        background-color: var(--shadow);
        color: var(--highlight);
        cursor: pointer;
    }

    progress {
        display: block;
        background-color: var(--shadow);
        width: 100%;
    }

    progress::-moz-progress-bar {
        background: var(--highlight);
    }

    progress::-webkit-progress-bar {
        background: var(--highlight);
    }

    .skills {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: var(--linebreak);
        font-size: 0.83rem;
        margin-bottom: var(--linebreak);
    }

    #experience {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: var(--linebreak);
        font-size: 0.83rem;
        margin-bottom: var(--linebreak);
    }

    .time {
        color: var(--highlight);
        margin-bottom: var(--linebreak);
    }

    .years {
        font-size: 0.83rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-left: 1px solid var(--highlight);
        border-bottom: 1px solid var(--highlight);


        gap: 0px 0px;
        padding: 1.5rem 1.5rem 0 1.5rem;
    }

    h4 {
        text-decoration: underline;
    }


    #ideas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: var(--linebreak);
    }

    .percents {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .outside {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p0 {
        background-image: conic-gradient(var(--highlight) 0%, var(--shadow) 0);
    }

    .p10 {
        background-image: conic-gradient(var(--highlight) 10%, var(--shadow) 0);
    }

    .p20 {
        background-image: conic-gradient(var(--highlight) 20%, var(--shadow) 0);
    }

    .p30 {
        background-image: conic-gradient(var(--highlight) 30%, var(--shadow) 0);
    }

    .p40 {
        background-image: conic-gradient(var(--highlight) 40%, var(--shadow) 0);
    }

    .p50 {
        background-image: conic-gradient(var(--highlight) 50%, var(--shadow) 0);
    }

    .p60 {
        background-image: conic-gradient(var(--highlight) 60%, var(--shadow) 0);
    }

    .p70 {
        background-image: conic-gradient(var(--highlight) 70%, var(--shadow) 0);
    }

    .p80 {
        background-image: conic-gradient(var(--highlight) 80%, var(--shadow) 0);
    }

    .p90 {
        background-image: conic-gradient(var(--highlight) 90%, var(--shadow) 0);
    }

    .p100 {
        background-image: conic-gradient(var(--highlight) 100%, var(--shadow) 0);
    }

    .inside {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: var(--background);
        color: var(--highlight);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body[data-theme='theme-third'] {
    --linebreak: 1rem;
    --opac: 0.5;

    --background: #F5F5F5;
    --text: #121212;
    --highlight: #F05454;
    --shadow: #30475E;

    #wrapper {
        font-family: 'Merriweather', serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Fira Sans', sans-serif;
    }

    #wrapper {
        background-color: var(--background);
        color: var(--text);

        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 0px 0px;
        grid-template-areas:
            ". header  main ."
            ". nav main ."
            ". nav aside ."
            ". nav footer .";
    }

    header {
        height: 70vh;

        background-color: var(--highlight);
        color: var(--background);

        box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
        -moz-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
        -webkit-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
    }

    header .second {
        text-align: center;
    }

    nav {
        height: 100vh;
        position: sticky;
        top: 0;

        background-color: var(--highlight);
        color: var(--background);

        box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
        -moz-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
        -webkit-box-shadow: 6px 0 4px -4px #999, -6px 0 4px -4px #999;
    }

    nav .menu {
        text-align: center;
    }

    nav i {
        display: none;
    }

    nav a {
        text-decoration: underline;
    }

    nav a:hover {
        color: var(--text);
    }

    nav li {
        margin-bottom: var(--linebreak);
    }

    .row {
        padding: 4vh 4vw;
    }

    aside .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 25px;
    }

    aside a:hover {
        color: var(--highlight);
    }

    footer .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 25px;
    }

    button {
        background-color: var(--highlight);
        color: var(--background);
        padding: 10px;
    }

    button:hover {
        background-color: var(--shadow);
        color: var(--highlight);
        cursor: pointer;
    }

    h2 {
        color: var(--highlight);
    }

    h3 {
        padding-bottom: 0;
    }

    h4 {
        text-decoration: underline;
        padding-bottom: 0;
    }

    .years {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: var(--linebreak);
    }

    .time {
        color: var(--highlight);
    }

    #technologies h3 {
        margin-bottom: var(--linebreak);
    }

    .skills {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        font-size: 0.83rem;
        margin-bottom: var(--linebreak);
    }

    progress {
        display: block;
        background-color: var(--background);
        height: calc(var(--linebreak)/2);
        width: 100%;
    }

    progress::-moz-progress-bar {
        background: var(--highlight);
    }

    progress::-webkit-progress-bar {
        background: var(--highlight);
    }


    #ideas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: var(--linebreak);
    }

    .percents {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .outside {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p0 {
        background-image: conic-gradient(var(--highlight) 0%, var(--shadow) 0);
    }

    .p10 {
        background-image: conic-gradient(var(--highlight) 10%, var(--shadow) 0);
    }

    .p20 {
        background-image: conic-gradient(var(--highlight) 20%, var(--shadow) 0);
    }

    .p30 {
        background-image: conic-gradient(var(--highlight) 30%, var(--shadow) 0);
    }

    .p40 {
        background-image: conic-gradient(var(--highlight) 40%, var(--shadow) 0);
    }

    .p50 {
        background-image: conic-gradient(var(--highlight) 50%, var(--shadow) 0);
    }

    .p60 {
        background-image: conic-gradient(var(--highlight) 60%, var(--shadow) 0);
    }

    .p70 {
        background-image: conic-gradient(var(--highlight) 70%, var(--shadow) 0);
    }

    .p80 {
        background-image: conic-gradient(var(--highlight) 80%, var(--shadow) 0);
    }

    .p90 {
        background-image: conic-gradient(var(--highlight) 90%, var(--shadow) 0);
    }

    .p100 {
        background-image: conic-gradient(var(--highlight) 100%, var(--shadow) 0);
    }

    .inside {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: var(--background);
        color: var(--highlight);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body[data-theme='theme-fourth'] {
    --linebreak: 1rem;
    --opac: 0.5;

    --background: #FFFFFF;
    --text: #393E46;
    --highlight: #ffad34;
    --shadow: #FCFCFC;
    --darkshadow: #F8F8F8;

    #wrapper {
        font-family: 'Open Sans', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Courgette', cursive;
    }

    #wrapper {
        display: grid;
        grid-template-columns: 700px 1fr;
        grid-template-areas:
            "header aside"
            "header footer"
            "main main";
    }

    header {
        background-color: var(--shadow);
        color: var(--text);
    }

    header .first,
    header .second {
        height: 25vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
    }

    nav {
        display: none;
    }

    main #about {
        display: grid;
        grid-template-columns: 700px 1fr;

        background-color: var(--shadow);
        color: var(--text);
    }

    main #about h2 {
        background-color: var(--darkshadow);
    }

    main #about p {
        padding: 25px 200px 25px 25px;
    }

    main #work {
        display: grid;
        grid-template-columns: 700px 1fr;

        background-color: var(--background);
        color: var(--text);
    }

    main #work h2 {
        background-color: var(--shadow);
    }

    main #work #experience {
        padding: 25px 200px 25px 25px;
    }

    main #education {
        display: grid;
        grid-template-columns: 700px 1fr;

        background-color: var(--shadow);
        color: var(--text);
    }

    main #education h2 {
        background-color: var(--darkshadow);
    }

    main #education #school {
        padding: 25px 200px 25px 25px;
    }

    main #technology {
        display: grid;
        grid-template-columns: 700px 1fr;

        background-color: var(--background);
        color: var(--text);
    }

    main #technology h2 {
        background-color: var(--shadow);
    }

    main #technology #technologies {
        padding: 25px 200px 25px 25px;
    }

    main #idea {
        display: grid;
        grid-template-columns: 700px 1fr;

        background-color: var(--background);
        color: var(--text);
    }

    main #idea h2 {
        background-color: var(--shadow);
    }

    main #idea #ideas {
        padding: 25px 200px 25px 25px;
    }

    aside .row,
    footer .row {
        height: 25vh;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
    }

    aside {
        background-color: var(--background);
        color: var(--text);
    }

    footer {
        background-color: var(--background);
        color: var(--text);
    }

    header .first,
    header .second {
        padding: 25px;
    }

    aside .row,
    footer .row {
        padding: 25px 200px 25px 25px;
    }

    h2 {
        padding: 25px;
        text-align: right;
        color: var(--highlight);
        text-transform: uppercase;
    }

    h3,
    h4 {
        padding-bottom: 0;
    }

    a:hover {
        color: var(--highlight);
    }

    button {
        background-color: var(--highlight);
        color: var(--background);
        padding: 10px;
    }

    button:hover {
        background-color: var(--text);
        color: var(--highlight);
        cursor: pointer;
    }

    .years {
        display: flex;
        flex-direction: column;
        gap: var(--linebreak);
        margin-bottom: var(--linebreak);
    }

    .time {
        color: var(--highlight);
    }

    main a {
        text-decoration: underline;
    }

    main a:hover {
        color: var(--text);
    }

    #technologies h3 {
        margin-bottom: var(--linebreak);
    }

    .skills {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: var(--linebreak);

        font-size: 0.83rem;
        margin-bottom: 1rem;
    }

    progress {
        display: block;
        background-color: var(--shadow);
        width: 100%;
    }

    progress::-moz-progress-bar {
        background: var(--highlight);
    }

    progress::-webkit-progress-bar {
        background: var(--highlight);
    }

    #ideas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: var(--linebreak);
    }

    .percents {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .outside {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p0 {
        background-image: conic-gradient(var(--highlight) 0%, var(--shadow) 0);
    }

    .p10 {
        background-image: conic-gradient(var(--highlight) 10%, var(--shadow) 0);
    }

    .p20 {
        background-image: conic-gradient(var(--highlight) 20%, var(--shadow) 0);
    }

    .p30 {
        background-image: conic-gradient(var(--highlight) 30%, var(--shadow) 0);
    }

    .p40 {
        background-image: conic-gradient(var(--highlight) 40%, var(--shadow) 0);
    }

    .p50 {
        background-image: conic-gradient(var(--highlight) 50%, var(--shadow) 0);
    }

    .p60 {
        background-image: conic-gradient(var(--highlight) 60%, var(--shadow) 0);
    }

    .p70 {
        background-image: conic-gradient(var(--highlight) 70%, var(--shadow) 0);
    }

    .p80 {
        background-image: conic-gradient(var(--highlight) 80%, var(--shadow) 0);
    }

    .p90 {
        background-image: conic-gradient(var(--highlight) 90%, var(--shadow) 0);
    }

    .p100 {
        background-image: conic-gradient(var(--highlight) 100%, var(--shadow) 0);
    }

    .inside {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: var(--background);
        color: var(--highlight);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body[data-theme='theme-fifth'] {
    --linebreak: 1rem;
    --opac: 0.5;

    --background: #FFFFFF;
    --text: #303841;
    --highlight: #2185D5;
    --shadow: #F3F3F3;

    #wrapper {
        font-family: 'Lato', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Playfair Display', serif;
    }

    #wrapper {
        background-color: var(--shadow);
        color: var(--text);

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 25px 25px;
        grid-template-areas:
            ". header ."
            ". aside ."
            ". main ."
            ". footer .";
    }

    header {
        background-color: var(--background);
        color: var(--text);

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header .second {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: none;
    }

    main {
        background-color: var(--background);
        color: var(--text);
    }

    progress {
        display: block;
        background-color: var(--shadow);
        width: 100%;
    }

    progress::-moz-progress-bar {
        background: var(--highlight);
    }

    progress::-webkit-progress-bar {
        background: var(--highlight);
    }

    aside {
        background-color: var(--highlight);
        color: var(--background);
    }

    aside .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    footer {
        background-color: var(--background);
        color: var(--text);
    }

    footer .row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    button {
        background-color: var(--highlight);
        color: var(--background);
        padding: 10px;
    }

    button:hover {
        background-color: var(--text);
        color: var(--highlight);
        cursor: pointer;
    }

    .row {
        padding: 25px;
    }

    #ideas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: var(--linebreak);
    }

    .percents {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .outside {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p0 {
        background-image: conic-gradient(var(--highlight) 0%, var(--shadow) 0);
    }

    .p10 {
        background-image: conic-gradient(var(--highlight) 10%, var(--shadow) 0);
    }

    .p20 {
        background-image: conic-gradient(var(--highlight) 20%, var(--shadow) 0);
    }

    .p30 {
        background-image: conic-gradient(var(--highlight) 30%, var(--shadow) 0);
    }

    .p40 {
        background-image: conic-gradient(var(--highlight) 40%, var(--shadow) 0);
    }

    .p50 {
        background-image: conic-gradient(var(--highlight) 50%, var(--shadow) 0);
    }

    .p60 {
        background-image: conic-gradient(var(--highlight) 60%, var(--shadow) 0);
    }

    .p70 {
        background-image: conic-gradient(var(--highlight) 70%, var(--shadow) 0);
    }

    .p80 {
        background-image: conic-gradient(var(--highlight) 80%, var(--shadow) 0);
    }

    .p90 {
        background-image: conic-gradient(var(--highlight) 90%, var(--shadow) 0);
    }

    .p100 {
        background-image: conic-gradient(var(--highlight) 100%, var(--shadow) 0);
    }

    .inside {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: var(--background);
        color: var(--highlight);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #technologies h3 {
        margin-bottom: var(--linebreak);
    }

    .years {
        width: calc(50% + 3px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        padding: 25px 25px 0 25px;
        background-color: var(--shadow);
    }

    .years:nth-child(odd) {
        border-right: 6px solid var(--highlight);
    }

    #work .years:nth-child(odd):first-of-type {
        border-right: 6px dotted var(--highlight);
    }

    .years:nth-child(odd)::after {
        content: '';
        position: relative;
        background-color: var(--highlight);
        height: 20px;
        width: 20px;
        display: inline-block;
        z-index: 11;
        bottom: 0px;
        left: calc(100% + 18px);
    }

    .years:nth-child(even) {
        border-left: 6px solid var(--highlight);
        margin-left: calc(50% - 3px);
    }

    .years:nth-child(even)::after {
        content: '';
        position: relative;
        background-color: var(--highlight);
        height: 20px;
        width: 20px;
        display: inline-block;
        z-index: 11;
        bottom: 0px;
        left: -38px;
    }

    .years h4 {
        color: var(--highlight);
        padding-bottom: 0;
    }

    .time {
        color: var(--highlight);
    }

    .skills {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        font-size: 0.83rem;
        margin-bottom: var(--linebreak);
    }
}