<footer>
    <section>
    <ul>
        <li><a href="https://www.youtube.com/playlist?list=PLNmsVeXQZj7ogA_q-mOoYH3dDQIh8B3Oe" target="_blank" rel="noopener noreferrer nofollow">The Morpheus Tutorials: Mit Express einfach einen JavaScript Server erstellen</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLpPqplz6dKxUaZ630TY1BFIo5nP-_x-nL" target="_blank" rel="noopener noreferrer nofollow">Full Stack Web Development Course - ReactJS, NodeJS, Express, MySQL</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU" target="_blank" rel="noopener noreferrer nofollow">Net Ninja: Node.js Crash Course Tutorial</a></li>
    </ul>
    </section>
</footer>
</body>
</html>