<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>nodejs.tmp | <%= txt_title %></title>

    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" href="/img/touch.png" />

    <!-- Styles -->
    <link rel="stylesheet" href="/css/print.css" media="print" />
    <link rel="stylesheet" href="/css/reset.css" media="screen" />
    <link rel="stylesheet" href="/css/skeleton.css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" media="screen" />

    <!-- Pico CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
</html>
