<nav>
  <section>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/json">JSON</a></li>
      <li><a href="/mongodb">MongoDB</a></li>
      <li><a href="/mysql">MySQL</a></li>
    </ul>
  </section>
</nav>
