/* grid */

html,
body {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  min-width: 100vw;

  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

/* mobile */

@media (0px <=width <=767px) {
  /* flex-gallery */

  .wrapper > main .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
  }

  .wrapper > main .flex-gallery .item {
    flex: auto;
  }

  .wrapper > main .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .grid-gallery {
    columns: 1;
    column-gap: 1rem;
  }

  .wrapper > main .grid-gallery .item {
    margin-bottom: 1rem;
  }

  .wrapper > main .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .masonry-gallery {
    columns: 320px;
    gap: 1rem;
  }

  .wrapper > main .masonry-gallery .item {
    margin-bottom: 1rem;
  }

  .wrapper > main .masonry-gallery .item:hover > img {
    cursor: pointer;
  }

  /* spacing */

  .wrapper > main {
    padding: 2rem 2rem;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  /* flex-gallery */

  .wrapper > main .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.25rem;
  }

  .wrapper > main .flex-gallery .item {
    flex: auto;
    height: 320px;
    min-width: 180px;
  }

  .wrapper > main .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .grid-gallery {
    columns: 2;
    column-gap: 1.25rem;
  }

  .wrapper > main .grid-gallery .item {
    margin-bottom: 1.25rem;
  }

  .wrapper > main .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .masonry-gallery {
    columns: 320px;
    gap: 1.25rem;
  }

  .wrapper > main .masonry-gallery .item {
    margin-bottom: 1.25rem;
  }

  .wrapper > main .masonry-gallery .item:hover > img {
    cursor: pointer;
  }

  /* spacing */

  .wrapper > main {
    padding: 2.5rem 2.5rem;
  }
}

/* laptop */

@media (1024px <=width <=1439px) {
  /* flex-gallery */

  .wrapper > main .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.25rem;
  }

  .wrapper > main .flex-gallery .item {
    flex: auto;
    height: 320px;
    min-width: 180px;
  }

  .wrapper > main .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .grid-gallery {
    columns: 3;
    column-gap: 1.25rem;
  }

  .wrapper > main .grid-gallery .item {
    margin-bottom: 1.25rem;
  }

  .wrapper > main .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .masonry-gallery {
    columns: 320px;
    gap: 1.25rem;
  }

  .wrapper > main .masonry-gallery .item {
    margin-bottom: 1.25rem;
  }

  .wrapper > main .masonry-gallery .item:hover > img {
    cursor: pointer;
  }

  /* spacing */

  .wrapper > main {
    padding: 2.5rem 2.5rem;
  }
}

/* desktops */

@media (width >=1440px) {
  .wrapper {
    width: 66.666vw;
    margin: 0 auto;
  }

  /* flex-gallery */

  .wrapper > main .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
  }

  .wrapper > main .flex-gallery .item {
    flex: auto;
    height: 320px;
    min-width: 180px;
  }

  .wrapper > main .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .grid-gallery {
    columns: 4;
    column-gap: 1.5rem;
  }

  .wrapper > main .grid-gallery .item {
    margin-bottom: 1.5rem;
  }

  .wrapper > main .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .masonry-gallery {
    columns: 320px;
    gap: 1.5rem;
  }

  .wrapper > main .masonry-gallery .item {
    margin-bottom: 1.5rem;
  }

  .wrapper > main .masonry-gallery .item:hover > img {
    cursor: pointer;
  }

  /* spacing */

  .wrapper > main {
    padding: 3rem 3rem;
  }
}
