/* THEMES */

body[data-theme='theme-light'] {
    --color: #267fcb;
    --foreground: #121212;
    --background: #fefefe;
    --scale01: #dcdcdc;
    --scale02: #a9a9a9;
}

body[data-theme='theme-dark'] {
    --color: #a688fa;
    --foreground: #fefefe;
    --background: #121212;
    --scale01: #282828;
    --scale02: #3f3f3f;
}

/* DARK AND LIGHT BROWSER MODE */

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
    line-height: 1.4;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: bold;
}

h4 {
    font-size: 1.12rem;
    padding-bottom: 1.25rem;
    font-weight: bold;
}

h5 {
    font-size: 0.83rem;
    padding-bottom: 1.0rem;
    font-weight: bold;
}

h6 {
    font-size: 0.75rem;
    padding-bottom: 1.0rem;
    font-weight: bold;
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row.first {
    grid-area: first;
}

.row.second {
    grid-area: second;
}

.row.third {
    grid-area: third;
}

/* GRIDS */

/* MOBILE */

@media screen and (min-width: 0px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 0px 0px;
        grid-template-areas:
            "first"
            "second"
            "third";
    }
}

/* TABLET */

@media screen and (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        gap: 0px 0px;
        grid-template-areas:
            "first second"
            "first third";
    }
}

/* DESKTOP */

@media screen and (min-width: 1800px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 0px 0px;
        grid-template-areas:
            "first"
            "second"
            "third";
    }
}

/* VIEWS */

/* MOBILE */

@media screen and (min-width: 0px) {
    .wrapper {
        width: 100vw;
        margin: auto;
    }
}

@media screen and (min-width: 200px) {
    .wrapper {
        width: 95vw;
        margin: auto;
    }
}

@media screen and (min-width: 400px) {
    .wrapper {
        width: 90vw;
        margin: auto;
    }
}

@media screen and (min-width: 600px) {
    .wrapper {
        width: 85vw;
        margin: auto;
    }
}

@media screen and (min-width: 800px) {
    .wrapper {
        width: 80vw;
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {
    .wrapper {
        width: 75vw;
        margin: auto;
    }
}

/* TABLET */

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 85vw;
        margin: auto;
    }
}

@media screen and (min-width: 1400px) {
    .wrapper {
        width: 80vw;
        margin: auto;
    }
}

@media screen and (min-width: 1600px) {
    .wrapper {
        width: 75vw;
        margin: auto;
    }
}

/* DESKTOP */

@media screen and (min-width: 1800px) {
    .wrapper {
        width: 55vw;
        margin: auto;
    }
}

@media screen and (min-width: 2000px) {
    .wrapper {
        width: 50vw;
        margin: auto;
    }
}

/* ELEMENTS */

/* MOBILE */

@media screen and (min-width: 0px) and (max-width: 1199px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    header .title {
        font-weight: bold;
        font-size: 2rem;
    }

    header .btn-hamburger {
        position: relative;
        z-index: 111;
        width: 28px;
        height: 28px;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        margin-top: 2px;
    }

    header .btn-hamburger span {
        display: block;
        position: absolute;
        height: 20%;
        width: 100%;
        border-radius: 10px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    header .btn-hamburger span:nth-child(1) {
        top: 0px;
    }

    header .btn-hamburger span:nth-child(2),
    header .btn-hamburger span:nth-child(3) {
        top: 40%;
    }

    header .btn-hamburger span:nth-child(4) {
        top: 85%;
    }

    header .btn-hamburger.open span:nth-child(1) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    header .btn-hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    header .btn-hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    header .btn-hamburger.open span:nth-child(4) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    nav {
        padding: 0 0 1rem 0;
    }

    nav.main-menu {
        position: absolute;
        left: -100%;
        width: 100%;
        transition: 0.25s all ease-in-out;
        z-index: 111;
    }

    nav.main-menu.open {
        left: 0 !important;
        width: 100%;
        overflow-y: auto;
        height: max-content;
        display: table;
    }

    @media screen and (min-width: 0px) {
        nav.main-menu.open .menu {
            width: 100vw;
            margin: auto;
        }
    }

    @media screen and (min-width: 200px) {
        nav.main-menu.open .menu {
            width: 95vw;
            margin: auto;
        }
    }

    @media screen and (min-width: 400px) {
        nav.main-menu.open .menu {
            width: 90vw;
            margin: auto;
        }
    }

    @media screen and (min-width: 600px) {
        nav.main-menu.open .menu {
            width: 85vw;
            margin: auto;
        }
    }

    @media screen and (min-width: 800px) {
        nav.main-menu.open .menu {
            width: 80vw;
            margin: auto;
        }
    }

    @media screen and (min-width: 1000px) {
        nav.main-menu.open .menu {
            width: 75vw;
            margin: auto;
        }
    }

    nav.main-menu.open .menu .menu-item {
        position: relative;
        width: 100%;
        vertical-align: sub;
        cursor: pointer;
        font-weight: bold;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    nav.main-menu.open .menu .menu-item a {
        display: block;
    }

    nav.main-menu.open .menu .menu-item-has-children>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    nav.main-menu.open .menu .menu-item-has-children>a:after {
        content: "\f107";
        font-family: ForkAwesome;
        font-size: 1.0rem;
        font-style: normal;

        transform: rotate(0deg);
        transition: 0.25s all ease-in-out;
    }

    nav.main-menu.open .menu .active>a:after {
        transform: rotate(180deg);
    }

    nav.main-menu.open .menu .sub-menu {
        height: 0px;
        overflow: hidden;
        font-size: 0.83rem;
    }

    nav.main-menu.open .menu .active>.sub-menu {
        display: block;
        height: auto;
        transition: 0.25s all ease-in-out;
    }

    nav.main-menu.open .menu .current-page-item a:before {
        content: "\f101";
        font-family: ForkAwesome;
        font-size: 1.0rem;
        font-style: normal;
        padding-right: 0.5rem;
    }

    nav.main-menu.open .menu .sub-menu .menu-item {
        font-weight: normal;
        padding: 0.5rem 0rem 0rem 0.5rem;
    }

    nav.main-menu.open .menu-item-has-children {
        font-weight: bold !important;
    }

    main p {
        margin-bottom: 1rem;
    }

    footer {
        padding: 1rem 0;
    }

    footer .side-menu {
        width: max-content;
        margin: auto;
        position: relative;
        display: flex;
        gap: 2rem;
    }

    footer button {
        cursor: pointer;
    }
}

/* TABLET */

@media screen and (min-width: 1200px) and (max-width: 1799px) {
    header {
        padding: 1rem 0;
    }

    header .title {
        font-weight: bold;
        font-size: 0.75rem;
    }

    header .btn-hamburger {
        display: none;
    }

    nav.main-menu {
        width: 100%;
        overflow-y: auto;
        height: max-content;
        display: table;
    }

    nav.main-menu .menu .menu-item {
        position: relative;
        width: 100%;
        vertical-align: sub;
        cursor: pointer;
        font-weight: bold;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    nav.main-menu .menu .menu-item a {
        display: block;
    }

    nav.main-menu .menu .menu-item-has-children>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    nav.main-menu .menu .menu-item-has-children>a:after {
        content: "\f107";
        font-family: ForkAwesome;
        font-size: 1.0rem;
        font-style: normal;

        transform: rotate(0deg);
        transition: 0.25s all ease-in-out;
    }

    nav.main-menu .menu .active>a:after {
        transform: rotate(180deg);
    }

    nav.main-menu .menu .sub-menu {
        height: 0px;
        overflow: hidden;
    }

    nav.main-menu .menu .active>.sub-menu {
        display: block;
        height: auto;
        transition: 0.25s all ease-in-out;
    }

    nav.main-menu .menu .current-page-item a:before {
        content: "\f101";
        font-family: ForkAwesome;
        font-size: 1.0rem;
        font-style: normal;
        padding-right: 0.5rem;
    }

    nav.main-menu .menu .sub-menu .menu-item {
        font-weight: normal;
        padding: 0.5rem 0rem 0rem 0.5rem;
    }

    nav.main-menu .menu-item-has-children {
        font-weight: bold !important;
    }

    @media screen and (min-width: 1200px) {

        main,
        footer {
            margin-left: 3.75vw;
        }
    }

    @media screen and (min-width: 1400px) {

        main,
        footer {
            margin-left: 5vw;
        }
    }

    @media screen and (min-width: 1600px) {

        main,
        footer {
            margin-left: 6.25vw;
        }
    }

    main {
        margin-top: 1rem;
    }

    main p {
        margin-bottom: 1rem;
    }

    footer {
        padding: 1rem 0;
    }

    footer .side-menu {
        width: max-content;
        margin: auto;
        position: relative;
        display: flex;
        gap: 2rem;
    }

    footer button {
        cursor: pointer;
    }
}

/* DESKTOP */

@media screen and (min-width: 1800px) {
    .row.first {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header .title {
        font-weight: bold;
    }

    header .btn-hamburger {
        display: none;
    }

    nav.main-menu .menu {
        display: block;
        position: relative;
    }

    nav.main-menu .menu li {
        display: block;
        position: relative;
        cursor: default;
        float: left;
        white-space: nowrap;
    }

    nav.main-menu .menu li:hover>ul {
        left: 0;
        opacity: 1;
        z-index: 222;
    }

    nav.main-menu .menu a {
        display: flex;
        padding: 1rem;
        align-items: center;
    }

    nav.main-menu .menu ul {
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 111;
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
        min-width: 10em;
    }

    nav.main-menu .menu ul li {
        float: none;
    }

    nav.main-menu .menu ul li:hover>ul {
        top: 0;
        left: 100%;
    }

    nav.main-menu .menu ul a {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        justify-content: space-between;
    }

    nav.main-menu .menu .menu-item-has-children>a:after {
        content: "\f107";
        font-family: ForkAwesome;
        font-style: normal;
        float: right;
        padding: 0.15rem 0 0 0.5rem;
        font-size: 0.83em;
    }

    nav.main-menu .menu .menu-item-has-children .menu-item-has-children>a:after {
        content: "\f105";
        font-family: ForkAwesome;
        font-style: normal;
        float: right;
        padding: 0.15rem 0 0 0;
        font-size: 0.83em;
    }

    main p {
        margin-bottom: 1rem;
    }

    footer {
        padding: 2rem 0;
    }

    footer .side-menu {
        width: max-content;
        margin: auto;
        position: relative;
        display: flex;
        gap: 2rem;
    }

    footer .side-menu button {
        cursor: pointer;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .side-menu .icon {
        position: relative;
        display: block;
        transition: 0.25s;
        font-size: 1.0em;
    }

    footer .side-menu button:hover .icon {
        transform: translateY(-1.75rem);
    }

    footer .side-menu .text {
        position: absolute;
        transition: 0.25s;
        opacity: 0;
        font-size: 0.83em;
    }

    footer .side-menu button:hover .text {
        opacity: 1;
    }
}

/* COLORS */

/* MOBILE */

@media screen and (min-width: 0px) and (max-width: 1199px) {
    body {
        background-color: var(--background);
        color: var(--foreground);
    }

    header .title {
        color: var(--color);
    }

    header .btn-hamburger span {
        background-color: var(--color);
    }

    nav.main-menu.open {
        background-color: var(--background);
        color: var(--foreground);
        box-shadow: 0px 15px 10px -15px var(--foreground);
    }

    nav.main-menu.open .menu li {
        border-top: 1px solid var(--scale01);
    }

    nav.main-menu.open .menu li:last-of-type {
        border-bottom: 1px solid var(--scale01);
    }

    nav.main-menu.open .sub-menu li {
        border-top: none;
    }

    nav.main-menu.open .sub-menu li:last-of-type {
        border-bottom: none;
    }

    nav.main-menu.open .menu .menu-item-has-children>a:after {
        color: var(--color);
    }

    nav.main-menu.open .menu .current-page-item {
        color: var(--color);
    }

    footer button {
        color: var(--color);
    }
}

/* TABLET */

@media screen and (min-width: 1200px) and (max-width: 1799px) {
    body {
        background-color: var(--background);
        color: var(--foreground);
    }

    header .title {
        color: var(--color);
    }

    nav.main-menu .menu li {
        border-top: 1px solid var(--scale01);
    }

    nav.main-menu .menu li:last-of-type {
        border-bottom: 1px solid var(--scale01);
    }

    nav.main-menu .sub-menu {
        font-size: 0.83rem;
    }

    nav.main-menu .sub-menu li {
        border-top: none;
    }

    nav.main-menu .sub-menu li:last-of-type {
        border-bottom: none;
    }

    nav.main-menu .menu .menu-item-has-children>a:after {
        color: var(--color);
    }

    nav.main-menu .menu .current-page-item {
        color: var(--color);
    }

    footer button {
        color: var(--color);
    }
}

/* DESKTOP */

@media screen and (min-width: 1800px) {
    body {
        background-color: var(--background);
        color: var(--foreground);
    }

    header .title {
        color: var(--color);
    }

    nav.main-menu .menu li:hover {
        color: var(--color);
    }

    nav.main-menu .menu ul {
        background-color: var(--background);
        color: var(--foreground);
    }

    nav.main-menu .menu ul li {
        border-top: 1px solid var(--scale01);
        border-left: 1px solid var(--scale01);
        border-right: 1px solid var(--scale01);
    }

    nav.main-menu .menu ul li:last-of-type {
        border-bottom: 1px solid var(--scale01);
    }

    footer button {
        color: var(--color);
    }
}