/* BROWSER-MODE */

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --foreground-color: #222222;
    --shadow-color: #bfbfbf;
    --primary-color: #4a8bdf;
    --secondary-color: #1d59a6;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #03131a;
    --foreground-color: #f8f8f8;
    --shadow-color: #4e595e;
    --primary-color: #a7ff37;
    --secondary-color: #d4ff9d;
  }
}

/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

main h1,
.error h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

main h3,
aside h3,
footer h3 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

main h4 {
  font-size: 1.12rem;
  margin-bottom: 1rem;
}

main h5 {
  font-size: 0.83rem;
  margin-bottom: 1rem;
}

main h6 {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: clamp(16rem, 65vw, 70rem);
  margin: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}

/* HEADER */

header {
  border-bottom: 1px solid currentColor;
}

header section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 2rem;
}

header .header-title {
  font-weight: bold;
}

header .header-description {
  font-style: italic;
}

/* NAV */

nav {
  border-bottom: 1px solid currentColor;
}

nav section {
  padding: 1rem 2rem;
}

/* SEARCHFORM */

nav .search-menu {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav .search-menu input {
  padding: 0.5rem;
  width: 80%;
  border: 1px solid currentColor;
}

nav .search-menu button {
  width: 25%;
  text-align: center;
  cursor: pointer;
  border: 1px solid currentColor;
}

nav .search-menu button:hover {
  opacity: 0.5;
}

/* MAIN */

main {
  border-bottom: 1px solid currentColor;
}

main section {
  padding: 2rem 2rem;
}

/* POST-GRID */

/* phones */
@media (width <=767px) {
  main .post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main .post-item {
    padding: 1rem;
  }

  main .post-image {
    display: none;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  main .post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main .post-item {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  main .post-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  main .post-item {
    padding: 1rem;
  }

  main .post-image {
    display: none;
  }
}

/* desktops */
@media (width >=1920px) {
  main .post-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  main .post-item {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
}

/* POST-PAGINATION */

main .post-pagination-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

main .post-pagination {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* POST-SINGLE */

main .post-single {
  font-style: italic;
}

main .post-update {
  font-style: normal;
  font-size: small;
}

main .post-category {
  font-style: normal;
  font-size: small;
}

/* SEARCH-RESULTS */

main .search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .search-fail {
  font-style: italic;
}

/* ASIDE */

aside {
  border-bottom: 1px solid currentColor;
}

aside section {
  padding: 1rem 2rem;
}

aside .comment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .comment-latest {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .comment-form input {
  display: block;
  padding: 0.5rem;
  border: 1px solid currentColor;
}

aside .comment-form input[type="submit"] {
  display: block;
  cursor: pointer;
  width: max-content;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid currentColor;
}

aside .comment-form input[type="submit"]:hover {
  opacity: 0.5;
}

aside .comment-form label {
  font-style: italic;
}

aside .comment-form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid currentColor;
}

aside .comment-latest {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .comment-tag {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .comment-info {
  font-size: small;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

aside .comment-text {
  font-style: italic;
}

aside .comment-status {
  font-size: small;
}

/* FOOTER */

footer section {
  padding: 1rem 2rem;
}

footer ul {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 1rem;
}

footer a {
  text-decoration: underline;
}

/* phones */
@media (width <=767px) {
  footer section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  footer section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  footer section {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }
}

/* desktops */
@media (width >=1920px) {
  footer section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
}

/* 404 */

.error {
  height: 100vh;
  max-height: 100vh;
  width: clamp(16rem, 65vw, 70rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0;
}

.error p {
  margin-bottom: 1rem;
}

.error a {
  text-decoration: underline;
}

/* COLORS */

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
aside h3,
footer h3,
.error h1 {
  color: var(--primary-color);
}

header .header-title {
  color: var(--primary-color);
}

header .header-description {
  color: var(--secondary-color);
}

nav .search-menu button {
  background-color: var(--primary-color);
  color: var(--background-color);
}

main .post-item {
  background-color: var(--shadow-color);
}

main a {
  color: var(--secondary-color);
}

main .search-query {
  color: var(--secondary-color);
}

main .search-results details > summary {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

aside .comment-form input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--background-color);
}

aside .comment-tag {
  background-color: var(--shadow-color);
}

.error a {
  color: var(--secondary-color);
}
