/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    width: 100%;
}

.row {
    min-height: 50vh;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
}

/* FIRST */

.first {
    background-color: #393E46;
    color: #F7F7F7;
}

.nav-1 {
    background-color: #6D9886;
    color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
}

.logo-1 {
    font-size: 2rem;
    font-weight: bold;
}

.menu-1 {
    display: flex;
    gap: 1rem;
}

.menu-1 a {
    position: relative;
    letter-spacing: 0.1rem;
    width: 6rem;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
}

.indicator-1 {
    position: absolute;
    height: 4.25rem;
    width: 6rem;
    background-color: #393E46;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.indicator-1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1rem;
    height: 1rem;
    width: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: transparent;
    box-shadow: 5px 5px 0 5px #393E46;
}

.indicator-1::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1rem;
    height: 1rem;
    width: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: transparent;
    box-shadow: -5px 5px 0 5px #393E46;
}

.content-1 {
    padding: 1rem 2rem;
}

/* SECOND */

.second {
    background-color: #F0A500;
    color: #1A1C20;
}

.nav-2 {
    background-color: #F0A500;
    color: #1A1C20;
    padding: 1rem 2rem;
}

.menu-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.menu-2 a {
    background-color: #F4F4F4;
    color: #1A1C20;
    border-left: 5px solid #1A1C20;
    cursor: pointer;
    width: 7rem;
    padding: 0.75rem;
    letter-spacing: 0.1rem;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.menu-2 a:hover {
    background-color: #1A1C20;
    color: #F4F4F4;
    border-left: 5px solid #000000;
    padding-left: 1.25rem;
}

.content-2 {
    padding: 1rem 2rem;
}

/* THIRD */

.third {
    background-color: #FBF9FA;
    color: #2B2024;
}

.nav-3 {
    background-color: #2B2024;
    color: #FBF9FA;
    padding: 1rem 2rem;
}

.menu-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu-3 a {
    cursor: pointer;
    letter-spacing: 0.1rem;
    padding: 0;
}

.menu-3 a::before {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #adff2f;
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
    -o-transition: width 0.25s;
    -ms-transition: width 0.25s;
    transition: width 0.25s;
    margin-bottom: 0.5rem;
}

.menu-3 a:hover::before {
    width: 100%;
}

.menu-3 a.active {
    color: #adff2f;
    border-bottom: 2px solid #adff2f;
}

.menu-3 a.active::before {
    width: 100%;
}

.menu-3 a.active::after {
    content: "";
    position: relative;
    bottom: 0;
    left: calc(50% - 5px);
    display: block;
    height: 10px;
    width: 10px;
    background-color: #2B2024;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #adff2f;
}

.content-3 {
    padding: 1rem 2rem;
}

/* FOURTH */

.fourth {
    background-color: #F5E8C7;
    color: #363062;
}

.nav-4 {
    background-color: #435585;
    color: #F5E8C7;
    padding: 0 2rem;
}

.menu-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.menu-4 li {
    list-style: none;
    height: 3.25rem;
    display: flex;
    align-items: center;
}

.menu-4 li:hover {
    background-color: #818FB4;
    color: #363062;
}

.menu-4 li:hover .sub-menu-4,
.menu-4 li:hover .mega-menu-4 {
    transition: all 0.25s ease;
    opacity: 1;
    visibility: visible;
}

.menu-4 li a {
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.1rem;
    padding: 0 1rem;
}

.menu-4 .sub-menu-4 {
    position: absolute;
    top: 3.25rem;
    background-color: #818FB4;
    color: #363062;
    opacity: 0;
    visibility: hidden;
}

.menu-4 .mega-menu-4 {
    position: absolute;
    top: 3.25rem;
    left: 0;
    background-color: #818FB4;
    color: #363062;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.menu-4 .sub-menu-4 a:hover,
.menu-4 .mega-menu-4 a:hover {
    color: #F5E8C7;
}

.menu-4 .mega-menu-4 .mega-menu-4-content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: auto 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr;
}

.menu-4 .mega-menu-4 .mega-menu-4-content .column {
    border-right: 1px solid #435585;
    margin: 0.75rem 0;
    padding: 0 1rem;
}

.menu-4 .mega-menu-4 .mega-menu-4-content .column:last-of-type {
    border-right: none;
}

.content-4 {
    padding: 1rem 2rem;
}

/* FIFTH */

.fifth {
    background-color: #F3F1F5;
    color: #7F7C82;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem 10rem;
}

.menu-5 {
    border: 1px solid #BFA2DB;
}

.menu-5 .link {
    width: 200px;
    height: 50px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.menu-5 .link:hover {
    transform: rotateX(180deg);
}

.menu-5 .link figure {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    cursor: pointer;
    letter-spacing: 0.1rem;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.menu-5 .link .front {
    background-color: #F0D9FF;
}

.menu-5 .link .back {
    background-color: #BFA2DB;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

/* SIXTH */

.sixth {
    background-color: #EEEEEE;
    color: #000000;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.nav-6 {
    background-color: #393E46;
    color: #EEEEEE;
    padding: 1rem 2rem;
}

.menu-6 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.menu-6 a {
    display: grid;
    grid-template-columns: auto 1fr;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.menu-6 a:hover {
    color: #929AAB;
}

.menu-6 span {
    width: 0;
    overflow: hidden;
    font-size: 0.75em;
}

.nav-6:hover span {
    width: 100%;
    transition: width .8s ease;
    padding-left: 1rem;
}

.content-6 {
    padding: 1rem 2rem;
}

/* SEVENTH */

.seventh {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.column-7 {
    background-color: #F9ED69;
    color: #252A34;
}

.nav-7 {
    background-color: #6A2C70;
    color: #F9ED69;
}

.bar-7 {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#hamburger-7 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

#hamburger-7 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: #F9ED69;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger-7 span:nth-child(1) {
    top: 0px;
}

#hamburger-7 span:nth-child(2) {
    top: 18px;
}

#hamburger-7 span:nth-child(3) {
    top: 36px;
}

#hamburger-7.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#hamburger-7.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#hamburger-7.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu-7 {
    background-color: #08D9D6;
    color: #252A34;

    width: 100%;
    max-height: 0;
    border-bottom: 1px solid #6A2C70;
    overflow: hidden;

    -webkit-transition: max-height 0.25s ease-out;
    -moz-transition: max-height 0.25s ease-out;
    -o-transition: max-height 0.25s ease-out;
    transition: max-height 0.25s ease-out;
}

#menu-7.open {
    max-height: 50vh;
}

#menu-7 a {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;

    display: block;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.4em;
    padding: 0.5rem;
}

#menu-7 a:hover {
    letter-spacing: 0.5em;
    text-decoration: underline;
}

.content-7 {
    padding: 1rem 2rem;
}

/* EIGHTH */

.column-8 {
    background-color: #EAEAEA;
    color: #252A34;
}

.nav-8 {
    background-color: #FF2E63;
    color: #EAEAEA;
    position: relative;
}

.bar-8 {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#hamburger-8 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

#hamburger-8 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: #EAEAEA;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger-8 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger-8 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger-8 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger-8.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#hamburger-8.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#hamburger-8.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

#menu-8 {
    background-color: #252A34;
    color: #FF2E63;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    position: absolute;
}

#menu-8.open {
    transform: translateX(0);
}

#menu-8 a {
    display: block;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.4em;
    padding: 0.5rem;
}

#menu-8 a:hover {
    font-weight: bolder;
}

.content-8 {
    padding: 1rem 2rem;
}

/* NINTH */

.nav-9 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.menu-9 {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-9 li {
    list-style: none;
    text-align: center;
}

.menu-9 li a {
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.4em;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
    color: #333333;
}

.menu-9 li:hover a {
    color: #000000;
    background: transparent;
}

.menu-9 li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    text-transform: uppercase;
    font-weight: bolder;

    font-size: 5rem;
    color: rgba(0, 0, 0, 0.1);
}

.menu-9 li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 0.4em;
    width: 90vw;
    height: 90vw;
}

.menu-9 li:nth-child(5n + 1) a:before {
    background: #0470fe;
}

.menu-9 li:nth-child(5n + 2) a:before {
    background: #ff7675;
}

.menu-9 li:nth-child(5n + 3) a:before {
    background: #ffeaa7;
}

.menu-9 li:nth-child(5n + 4) a:before {
    background: #a29bfe;
}

.menu-9 li:nth-child(5n + 5) a:before {
    background: #fd79a8;
}

/* TENTH */

.tenth {
    display: grid;
    grid-template-columns: auto 1fr;
}

.nav-10 {
    background-color: #0A2647;
    color: #2C74B3;
    padding: 1rem;
}

.nav-10 .menu-10 {
    width: 100%;
    overflow-y: auto;
    height: max-content;
    display: table;
}

.nav-10 .menu-10 .menu-item {
    position: relative;
    width: 100%;
    vertical-align: sub;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.nav-10 .menu-10 .menu-item a {
    display: block;
}

.nav-10 .menu-10 .menu-item-has-children>a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.nav-10 .menu-10 .menu-item-has-children>a:after {
    content: "\f107";
    font-family: ForkAwesome;
    font-size: 1.0rem;
    font-style: normal;

    transform: rotate(0deg);
    transition: 0.25s all ease-in-out;
}

.nav-10 .menu-10 .active>a:after {
    transform: rotate(180deg);
}

.nav-10 .menu-10 .sub-menu {
    height: 0px;
    overflow: hidden;
}

.nav-10 .menu-10 .active>.sub-menu {
    display: block;
    height: auto;
    transition: 0.25s all ease-in-out;
}

.nav-10 .menu-10 .current-page-item a:before {
    content: "\f101";
    font-family: ForkAwesome;
    font-size: 1.0rem;
    font-style: normal;
    padding-right: 0.5rem;
}

.nav-10 .menu-10 .sub-menu .menu-item {
    font-weight: normal;
    padding: 0.5rem 0rem 0rem 0.5rem;
}

.nav-10 .menu-10-item-has-children {
    font-weight: bold !important;
}

.nav-10 .menu-10 li {
    border-top: 1px dotted #2C74B3;
}

.nav-10 .menu-10 li:last-of-type {
    border-bottom: 1px dotted #2C74B3;
}

.nav-10 .menu-10 .sub-menu {
    font-size: 0.83rem;
}

.nav-10 .menu-10 .sub-menu li {
    border-top: none;
}

.nav-10 .menu-10 .sub-menu li:last-of-type {
    border-bottom: none;
}

.nav-10 .menu-10 .menu-item-has-children>a:after {
    color:  #2C74B3;
}

.nav-10 .menu-10 .current-page-item {
    color:  #fefefe;
}

.content-10 {
    background-color: #144272;
    color: #fefefe;
    padding: 1rem 2rem;
}