/* THEME */

:root {
    --background-color: #0a0a0a;
    --foreground-color: #e9e9e9;
    --shadow-color: #2a2a2a;
    --primary-color: #2EA043;
    --secondary-color: #123d1a;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    font-family: system-ui;
    line-height: 1.4;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
}

/* TAGS */

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
    width: clamp(16rem, 65vw, 70rem);
    margin: auto;
}

main section {
    padding: 2rem;
}

/* FEED */

article {
    background-color: var(--foreground-color);
    color: var(--shadow-color);
    padding: 1rem;
    margin-bottom: 1rem;
}

article a {
    color: var(--secondary-color);
}