/* FONTS */

html {
    font-size: clamp(1rem, 2vi, 1.5rem);
    line-height: 1.4;
}

p {
    max-width: 70ch;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
}

h6 {
    font-size: 1.125rem;
    margin-bottom: 1.0rem;
    font-weight: bold;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* smartphones */
@media (width <=767px) {
    .wrapper {
        width: 94vw;
        margin: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
    }

    section {
        padding: 2vh 3vw;
    }

    .wrapper {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header,
    nav,
    main,
    aside {
        border-bottom: 1px dotted;
    }
}

/* tablets */
@media (768px <=width <=1023px) {
    .wrapper {
        width: 88vw;
        margin: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
    }

    section {
        padding: 2vh 3vw;
    }

    .wrapper {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header,
    nav,
    main,
    aside {
        border-bottom: 1px dotted;
    }
}

/* laptops */
@media (1024px <=width <=1279px) {
    .wrapper {
        width: 82vw;
        margin: auto;

        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        gap: 0;
        grid-template-areas:
            "nav header"
            "nav main"
            "nav aside"
            "nav footer";
    }

    section {
        padding: 2vh 3vw;
    }

    .wrapper {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header,
    main,
    aside {
        border-bottom: 1px dotted;
    }

    nav {
        border-right: 1px dotted;
    }
}

/* desktops */
@media (1280px <=width <=1919px) {
    .wrapper {
        width: 76vw;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        gap: 0;
        grid-template-areas:
            "nav header"
            "nav main"
            "nav aside"
            "nav footer";
    }

    section {
        padding: 2vh 3vw;
    }

    .wrapper {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header,
    main,
    aside {
        border-bottom: 1px dotted;
    }

    nav {
        border-right: 1px dotted;
    }
}

/* full-hd */
@media (1920px <=width <=2559px) {
    .wrapper {
        width: 70vw;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        gap: 0;
        grid-template-areas:
            "nav header header"
            "nav main aside"
            "nav footer footer";
    }

    section {
        padding: 2vh 3vw;
    }

    .wrapper {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header,
    main,
    aside {
        border-bottom: 1px dotted;
    }

    nav,
    main {
        border-right: 1px dotted;
    }
}

/* 2K up */
@media (width >=2560px) {
    .wrapper {
        width: 64vw;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        gap: 0;
        grid-template-areas:
            "header main aside"
            "nav main aside"
            "footer main aside";
    }

    section {
        padding: 2vh 3vw;
    }

    .wrapper {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header,
    nav,
    footer,
    main {
        border-right: 1px dotted;
    }

    header,
    nav {
        border-bottom: 1px dotted;
    }
}