/* THEMES */

:root {
    --blue1: #04364A;
    --blue2: #176B87;
    --blue3: #DAFFFB;
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--blue1);
}

.wrapper {
    width: max-content;
    margin: 2rem auto;
    background-color: var(--blue3);
    color: var(--blue1);
}

/* FONTS */

html {
    font-size: calc(12px + 0.390625vw);
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ELEMENTS */

.row {
    padding: 1rem;
}

nav .row {
    border-bottom: 1px dotted var(--blue1);
}

nav a:hover {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline;
    color: var(--blue2);
}