/* THEMES */

:root {
    --background-color: #000000;
    --foreground-color: #e6e6e6;

    --shadow-color: #1a1a1a;
    --border-color: #333333;

    --primary-color: #d11c22;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    line-height: 1.4;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header h1 {
    font-size: 2.5rem;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h2 {
    font-size: 2.0rem;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h3 {
    font-size: 1.75rem;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h4 {
    font-size: 1.5rem;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h5 {
    font-size: 1.25rem;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h6 {
    font-size: 1.125rem;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* phones */
@media (width <=767px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
    }

    /* NAV */

    nav section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav .btn-hamburger {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        z-index: 999;

        position: fixed;
        top: 0;
        right: 0;
    }

    nav .btn-hamburger span {
        height: 2px;
        transition: 0.5s;
        background-color: currentColor;
    }

    nav .btn-hamburger.open span:nth-of-type(1) {
        transform: translateY(1rem) rotate(45deg);
    }

    nav .btn-hamburger.open span:nth-of-type(2) {
        opacity: 0;
    }

    nav .btn-hamburger.open span:nth-of-type(3) {
        transform: translateY(-1rem) rotate(-45deg);
    }

    nav #menu {
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        transition: all 0.5s;
        transform: translateX(50vw);
        transition-timing-function: cubic-bezier(10, 2, 3, 1);
        z-index: 888;
    }

    nav #menu.open {
        transform: translateX(0vw);
    }

    nav .main-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    nav .main-menu .menu-item a {
        display: block;
        width: 100%;
    }

    /* HEADER */

    header section {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header h1 {
        position: absolute;
        top: 35%;
        width: 75%;
        margin: 0 12.5%;
        text-align: center;
    }

    header img {
        max-height: 50vh;
    }

    /* MAIN */

    main a {
        text-decoration: underline;
    }

    main .akademie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .times,
    main .price,
    main .career {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid currentColor;
    }

    main .times svg,
    main .price svg {
        height: 75px;
    }

    main .social {
        display: flex;
        flex-direction: column;
    }

    main .video {
        display: flex;
        flex-direction: column;
    }

    main figure.instagram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main figure.instagram iframe {
        height: 900px;
    }

    main .gallery {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
    }

    main .gallery .slides {
        display: none;
    }

    main .gallery .slides img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    main .gallery .slides .text {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
    }

    main .gallery .slides .text span {
        opacity: 0.5;
        text-align: center;
        font-style: italic;
        font-size: 0.83rem;
    }

    main .gallery .prev,
    main .gallery .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 1rem;
        font-weight: bold;
        transition: 0.4s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
    }

    main .gallery .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    main .gallery .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    /* ASIDE */

    aside section {
        display: flex;
        flex-direction: column;
    }

    aside .map {
        width: 100%;
    }

    aside iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;

        overflow: hidden;
        border: none;
        pointer-events: none;
    }

    aside address {
        user-select: text;
    }

    aside address span {
        display: block;
    }

    /* FOOTER */

    footer section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer section a {
        display: block;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav .btn-hamburger {
        color: var(--primary-color);
    }

    nav #menu {
        background-color: var(--background-color);
        color: var(--primary-color);
        border-left: 1px solid var(--border-color);
    }

    header h1 {
        background-color: var(--background-color);
        color: var(--primary-color);
    }

    main h2,
    main h3,
    main h4,
    main h5,
    main h6,
    main a,
    footer a {
        color: var(--primary-color);
    }

    main .times,
    main .price,
    main .career {
        border: 1px solid var(--border-color);
        background-color: var(--shadow-color);
    }

    main .times svg,
    main .price svg {
        fill: var(--primary-color);
    }

    main .gallery .slides .text {
        background-color: var(--background-color);
    }

    main .gallery .prev,
    main .gallery .next {
        color: var(--primary-color);
    }

    main section,
    aside,
    footer {
        border-top: 1px solid var(--border-color);
    }

    /* PADDINGS */

    nav .btn-hamburger {
        margin: 1rem;
    }

    nav #menu {
        padding: 4rem 1rem;
    }

    nav .main-menu {
        gap: 1rem;
    }

    header h1 {
        padding: 0.25rem;
    }

    main section {
        padding: 1rem;
    }

    main .akademie {
        gap: 1rem;
    }

    main .times,
    main .price,
    main .career {
        gap: 0.5rem;
        padding: 1rem;
    }

    main .social {
        gap: 1rem;
    }

    main .video {
        gap: 1rem;
    }

    aside section {
        padding: 1rem;
        gap: 1rem;
    }

    footer section {
        padding: 1rem;
        gap: 1rem;
    }
}

/* tablets */
@media (768px <=width <=1279px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
    }

    /* NAV */

    nav section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav .btn-hamburger {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        z-index: 999;

        position: fixed;
        top: 0;
        right: 0;
    }

    nav .btn-hamburger span {
        height: 2px;
        transition: 0.5s;
        background-color: currentColor;
    }

    nav .btn-hamburger.open span:nth-of-type(1) {
        transform: translateY(1rem) rotate(45deg);
    }

    nav .btn-hamburger.open span:nth-of-type(2) {
        opacity: 0;
    }

    nav .btn-hamburger.open span:nth-of-type(3) {
        transform: translateY(-1rem) rotate(-45deg);
    }

    nav #menu {
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: 0;
        transition: all 0.5s;
        transform: translateX(50vw);
        transition-timing-function: cubic-bezier(10, 2, 3, 1);
        z-index: 888;
    }

    nav #menu.open {
        transform: translateX(0vw);
    }

    nav .main-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    nav .main-menu .menu-item a {
        display: block;
        width: 100%;
    }

    /* HEADER */

    header section {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header h1 {
        position: absolute;
        top: 35%;
        width: 75%;
        margin: 0 12.5%;
        text-align: center;
    }

    header img {
        max-height: 50vh;
    }

    /* MAIN */

    main a {
        text-decoration: underline;
    }

    main .akademie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .times,
    main .price,
    main .career {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid currentColor;
    }

    main .times svg,
    main .price svg {
        height: 75px;
    }

    main .social {
        display: flex;
        flex-direction: column;
    }

    main .video {
        display: flex;
        flex-direction: column;
    }

    main figure.instagram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main figure.instagram iframe {
        height: 900px;
    }

    main .gallery {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
    }

    main .gallery .slides {
        display: none;
    }

    main .gallery .slides img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    main .gallery .slides .text {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
    }

    main .gallery .slides .text span {
        opacity: 0.5;
        text-align: center;
        font-style: italic;
        font-size: 0.83rem;
    }

    main .gallery .prev,
    main .gallery .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 1rem;
        font-weight: bold;
        transition: 0.4s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
    }

    main .gallery .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    main .gallery .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    /* ASIDE */

    aside section {
        display: flex;
        flex-direction: column;
    }

    aside .map {
        width: 100%;
    }

    aside iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;

        overflow: hidden;
        border: none;
        pointer-events: none;
    }

    aside address {
        user-select: text;
    }

    aside address span {
        display: block;
    }

    /* FOOTER */

    footer section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer section a {
        display: block;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav .btn-hamburger {
        color: var(--primary-color);
    }

    nav #menu {
        background-color: var(--background-color);
        color: var(--primary-color);
        border-left: 1px solid var(--border-color);
    }

    header h1 {
        background-color: var(--background-color);
        color: var(--primary-color);
    }

    main h2,
    main h3,
    main h4,
    main h5,
    main h6,
    main a,
    footer a {
        color: var(--primary-color);
    }

    main .times,
    main .price,
    main .career {
        border: 1px solid var(--border-color);
        background-color: var(--shadow-color);
    }

    main .times svg,
    main .price svg {
        fill: var(--primary-color);
    }

    main .gallery .slides .text {
        background-color: var(--background-color);
    }

    main .gallery .prev,
    main .gallery .next {
        color: var(--primary-color);
    }

    main section,
    aside,
    footer {
        border-top: 1px solid var(--border-color);
    }

    /* PADDINGS */

    nav .btn-hamburger {
        margin: 2rem;
    }

    nav #menu {
        padding: 6rem 2rem;
    }

    nav .main-menu {
        gap: 1rem;
    }

    header h1 {
        padding: 0.25rem;
    }

    main section {
        padding: 2rem 4rem;
    }

    main .akademie {
        gap: 2rem;
    }

    main .times,
    main .price,
    main .career {
        gap: 0.5rem;
        padding: 1rem;
    }

    main .social {
        gap: 2rem;
    }

    main .video {
        gap: 2rem;
    }

    aside section {
        padding: 2rem 4rem;
        gap: 2rem;
    }

    footer section {
        padding: 2rem 4rem;
        gap: 1rem;
    }
}

/* laptops */
@media (1280px <=width <=1919px) {

    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
    }

    /* NAV */

    nav .btn-hamburger {
        display: none;
    }

    nav .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    /* HEADER */

    header section {
        position: relative;
        height: 75vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header h1 {
        position: absolute;
        top: 35%;
        width: 100%;
    }

    header img {
        max-height: 75vh;
    }

    /* MAIN */

    main a {
        text-decoration: underline;
    }

    main .akademie {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    main .times,
    main .price,
    main .career {
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid currentColor;
    }

    main .times svg,
    main .price svg {
        height: 75px;
    }

    main .social {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
    }

    main .video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main figure.instagram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main figure.instagram iframe {
        height: 900px;
    }

    main .gallery {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
    }

    main .gallery .slides {
        display: none;
    }

    main .gallery .slides img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    main .gallery .slides .text {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
    }

    main .gallery .slides .text span {
        opacity: 0.5;
        text-align: center;
        font-style: italic;
        font-size: 0.83rem;
    }

    main .gallery .prev,
    main .gallery .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 1rem;
        font-weight: bold;
        transition: 0.4s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
    }

    main .gallery .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    main .gallery .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    /* ASIDE */

    aside section {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
    }

    aside .map {
        width: 100%;
    }

    aside iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;

        overflow: hidden;
        border: none;
        pointer-events: none;
    }

    aside address {
        user-select: text;
    }

    aside address span {
        display: block;
    }

    /* FOOTER */

    footer section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    footer section a {
        display: block;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav .btn-hamburger {
        color: var(--primary-color);
    }

    nav #menu {
        background-color: var(--background-color);
        color: var(--primary-color);
    }

    header h1 {
        color: var(--primary-color);
    }

    main h2,
    main h3,
    main h4,
    main h5,
    main h6,
    main a,
    footer a {
        color: var(--primary-color);
    }

    main .times,
    main .price,
    main .career {
        border: 1px solid var(--border-color);
        background-color: var(--shadow-color);
    }

    main .times svg,
    main .price svg {
        fill: var(--primary-color);
    }

    main .gallery .slides .text {
        background-color: var(--background-color);
    }

    main .gallery .prev,
    main .gallery .next {
        color: var(--primary-color);
    }

    main section,
    aside,
    footer {
        border-top: 1px solid var(--border-color);
    }

    /* PADDINGS */

    nav section {
        padding: 2rem 6rem;
    }

    nav .main-menu {
        gap: 2rem;
    }

    header h1 {
        padding: 0 6rem;
    }

    main section {
        padding: 2rem 6rem;
    }

    main .akademie {
        gap: 2rem;
    }

    main .times,
    main .price,
    main .career {
        gap: 2rem;
        padding: 2rem;
    }

    main .social {
        gap: 2rem;
    }

    main .video {
        gap: 2rem;
    }

    aside section {
        padding: 2rem 6rem;
        gap: 2rem;
    }

    footer section {
        padding: 2rem 6rem;
        gap: 2rem;
    }
}

/* desktops */
@media (width >=1920px) {

    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
    }

    /* NAV */

    nav .btn-hamburger {
        display: none;
    }

    nav .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    /* HEADER */

    header section {
        position: relative;
        height: 75vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header h1 {
        position: absolute;
        top: 35%;
        width: 100%;
    }

    header img {
        max-height: 75vh;
    }

    /* MAIN */

    main a {
        text-decoration: underline;
    }

    main .akademie {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    main .times,
    main .price,
    main .career {
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: 1px solid currentColor;
    }

    main .times svg,
    main .price svg {
        height: 75px;
    }

    main .social {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
    }

    main .video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main figure.instagram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main figure.instagram iframe {
        height: 900px;
    }

    main .gallery {
        position: relative;
        margin: auto;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
    }

    main .gallery .slides {
        display: none;
    }

    main .gallery .slides img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    main .gallery .slides .text {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
    }

    main .gallery .slides .text span {
        opacity: 0.5;
        text-align: center;
        font-style: italic;
        font-size: 0.83rem;
    }

    main .gallery .prev,
    main .gallery .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 1rem;
        font-weight: bold;
        transition: 0.4s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
    }

    main .gallery .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    main .gallery .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    /* ASIDE */

    aside section {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
    }

    aside .map {
        width: 100%;
    }

    aside iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;

        overflow: hidden;
        border: none;
        pointer-events: none;
    }

    aside address {
        user-select: text;
    }

    aside address span {
        display: block;
    }

    /* FOOTER */

    footer section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    footer section a {
        display: block;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav .btn-hamburger {
        color: var(--primary-color);
    }

    nav #menu {
        background-color: var(--background-color);
        color: var(--primary-color);
    }

    header h1 {
        color: var(--primary-color);
    }

    main h2,
    main h3,
    main h4,
    main h5,
    main h6,
    main a,
    footer a {
        color: var(--primary-color);
    }

    main .times,
    main .price,
    main .career {
        border: 1px solid var(--border-color);
        background-color: var(--shadow-color);
    }

    main .times svg,
    main .price svg {
        fill: var(--primary-color);
    }

    main .gallery .slides .text {
        background-color: var(--background-color);
    }

    main .gallery .prev,
    main .gallery .next {
        color: var(--primary-color);
    }

    main section,
    aside,
    footer {
        border-top: 1px solid var(--border-color);
    }

    /* PADDINGS */

    nav section {
        padding: 2rem 12vw;
    }

    nav .main-menu {
        gap: 2rem;
    }

    header h1 {
        padding: 0 12vw;
    }

    main section {
        padding: 2rem 12vw;
    }

    main .akademie {
        gap: 2rem;
    }

    main .times,
    main .price,
    main .career {
        gap: 2rem;
        padding: 2rem;
    }

    main .social {
        gap: 2rem;
    }

    main .video {
        gap: 2rem;
    }

    aside section {
        padding: 2rem 12vw;
        gap: 2rem;
    }

    footer section {
        padding: 2rem 12vw;
        gap: 2rem;
    }
}