/* phones */
@media (width <=767px) {}

/* tablets */
@media (768px <=width <=1279px) {}

/* laptops */
@media (1280px <=width <=1919px) {}

/* desktops */
@media (width >=1920px) {}


/* THEMES */

:root {
    --background-color: #F5F5F5;

    --primary-color: #f6e71d;
    --secondary-color: #f5d10d;

    --shadow-1-color: #020202;
    --shadow-2-color: #181818;
}