<div class="error-image">
    <div class="error-text">
        <h1 class="error-title">Error: 404</h1>
        <p>The <strong class="error-status">404 (Not Found)</strong> status code indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists. A 404 status code does not indicate whether this lack of representation is temporary or permanent; the 410 (Gone) status code is preferred over 404 if the origin server knows, presumably through some configurable means, that the condition is likely to be permanent.</p>
        <p><a class="error-link" href="{{ base_url }}" target="_blank" rel="noopener noreferrer">Go to homepage</a></p>
    </div>
</div>