/* THEMES */

:root {
    --foreground-color: #F5EDFF;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    font-family: system-ui;
    line-height: 1.4;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    color: var(--foreground-color);
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    margin: auto;
}

/* MAIN */

main {
    height: 100vh;
    width: 100vw;

    background-image: url("../img/newyear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

main .countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

main .countdown .timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

main .countdown .timer span:first-of-type {
    font-size: 2rem;
}

main .countdown .seperator {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .attribute {
    font-size: small;
    opacity: 0.5;
}