:root {
    --light-background: #ffffff;
    --light-color: #3a3b44;
    --light-scale-1: #fafafc;
    --light-scale-2: #eaeaed;
    --light-scale-3: #aaaaaf;

    --dark-background: #1a1a23;
    --dark-color: #fafafc;
    --dark-scale-1: #2a2b35;
    --dark-scale-2: #5a5b63;
    --dark-scale-3: #aaaaaf;
}

/* mobile */

@media (0px <=width <=480px) {

    /* fonts */

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    .wrapper>.error-box .error-link {
        text-transform: uppercase;
    }

    /* spacing */

    .wrapper {
        padding: 0 4vw;
    }

    .wrapper>.error-box .error-link {
        padding: 0.5rem;
    }
}

/* tablet */

@media (481px <=width <=768px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    .wrapper>.error-box .error-link {
        text-transform: uppercase;
    }

    /* spacing */

    .wrapper {
        padding: 0 6vw;
    }

    .wrapper>.error-box .error-link {
        padding: 0.5rem;
    }
}

/* laptop */

@media (769px <=width <=1279px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    .wrapper>.error-box .error-link {
        text-transform: uppercase;
    }

    /* spacing */

    .wrapper {
        padding: 0 8vw;
    }

    .wrapper>.error-box .error-link {
        padding: 0.5rem;
    }
}

/* desktops */

@media (width >=1280px) {

    /* fonts */

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    .wrapper>.error-box .error-link {
        text-transform: uppercase;
    }

    /* spacing */

    .wrapper {
        padding: 0 10vw;
    }

    .wrapper>.error-box .error-link {
        padding: 0.5rem;
    }
}

@media (prefers-color-scheme: light) {

    html,
    body,
    .wrapper {
        background-color: var(--light-background);
        color: var(--light-color);
    }

    .wrapper>.error-box .error-image {
        filter: invert(0.75);
    }

    .wrapper>.error-box .error-link {
        background-color: var(--light-scale-2);
        border: 2px solid var(--light-scale-3);
    }

    .wrapper>.error-box .error-link:hover {
        background-color: var(--light-scale-3);
    }
}

@media (prefers-color-scheme: dark) {

    html,
    body,
    .wrapper {
        background-color: var(--dark-background);
        color: var(--dark-color);
    }

    .wrapper>.error-box .error-image {
        filter: invert(0);
    }

    .wrapper>.error-box .error-link {
        background-color: var(--dark-scale-2);
        border: 2px solid var(--dark-scale-3);
    }

    .wrapper>.error-box .error-link:hover {
        background-color: var(--dark-scale-3);
    }
}