/* THEMES */

body {
    --frame_vh: 4vh;
    --frame_vw: 4vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --background: #FFFFFF;
    --foreground: #1C1C1C;

    --scale75: rgba(28, 28, 28, .75);
    --scale50: rgba(28, 28, 28, .5);
    --scale25: rgba(28, 28, 28, .25);

    --orange: #fbb47d;
    --pink: #f7adc7;
    --blue: #d1eefc;
    --green: #3ab54b;

    --headline: 'Fjalla One', sans-serif;
    --textline: 'Noto Sans', sans-serif;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    background-color: var(--blue);
    color: var(--foreground);
}

nav {
    grid-area: nav;
    width: 100vw;
}

header {
    grid-area: header;
    width: 100%;
}

main {
    grid-area: main;
    width: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
}

/* FONTS */

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
        line-height: 150%;
        font-family: var(--textline);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
        line-height: 150%;
        font-family: var(--textline);
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
        line-height: 150%;
        font-family: var(--textline);
    }
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    font-family: var(--headline);
}

/* GRIDS */

section {
    width: 100%;
    max-width: 1280px;
    margin: auto;

    background-color: var(--background);
    color: var(--foreground);
}

@media screen and (max-width: 1279px) {
    section {
        padding: calc(var(--frame_vh)) calc(var(--frame_vw)) calc(var(--frame_vh)) calc(var(--frame_vw));
    }
}

@media screen and (min-width: 1280px) {
    section {
        padding: calc(var(--frame_vh)) calc(var(--frame_vw)) calc(var(--frame_vh)) calc(var(--frame_vw));
    }
}

/* NAV */

@media screen and (max-width: 1279px) {
    nav section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    #hamburger {
        visibility: visible;
        display: block;
        cursor: pointer;
        z-index: 222;
    }

    #hamburger span {
        width: 45px;
        height: 5px;
        background-color: var(--orange);
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #hamburger.open-menu span:nth-child(2) {
        opacity: 0;
    }

    #hamburger.open-menu span:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
    }

    #hamburger.open-menu span:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
    }

    #menu {
        display: block;
        z-index: 111;
        position: absolute;
        top: 0;
        left: -100vw;

        width: 100vw;
        min-height: 100vh;

        transition: all ease-in-out 300ms;

        background-color: var(--background);

        padding: calc(var(--frame_vh)*4) 0 calc(var(--frame_vh)) 0;
    }

    #menu.open-menu {
        left: 0;
    }

    #menu a {
        display: block;
        width: 100%;

        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)) calc(var(--frame_vh)/2) calc(var(--frame_vw));
    }

    #menu a:hover {
        background-color: var(--orange);
        color: var(--background);
    }

    #menu .icons {
        margin-right: 8px;
    }

    .links {
        width: 100%;
    }

    .links a {
        border-bottom: 1px solid var(--orange);
    }

    .links:last-of-type a {
        border-bottom: none;
    }
    
}

@media screen and (min-width: 1280px) {
    nav {
        z-index: 222;
        position: fixed;
        top: 0;
        left: 0;

        border-bottom: 1px solid var(--blue);
    }

    #hamburger {
        visibility: hidden;
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: calc(var(--frame_vw)/2);
    }

    #menu a:hover {
        color: var(--orange);
    }

    #menu .icons {
        display: none;
    }
}

/* HEADER */

header section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1280px) {   
    header img {
        padding-top: 105px;
    }
}

/* FOOTER */

footer section {
    height: 117px;
    background-image: url(../img/aside.png);
    background-repeat: x-repeat;
    background-size: auto;
}

/* MAIN */

main .responsive_table {
    overflow-x: auto;
    margin-bottom: var(--linebreak);
    font-size: 1rem;
}

main .responsive_table .dataTables_length label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--linebreak);
}

main .responsive_table .dataTables_filter label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--linebreak);
}

main .dataTables_length,
main .dataTables_filter {
    margin-bottom: var(--linebreak);
}

/* tables */

main table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: var(--linebreak) !important;
}

main table thead {
    font-size: 1rem;
}

main table tbody {
    font-size: 1rem;
}

main table tfoot {
    font-size: 1rem;
}

main table caption {
    text-align: center;
    margin-bottom: var(--linebreak);
    color: var(--orange);
}

main table tr th {
    padding: var(--linebreak);
    color: var(--background);
}

main table tr:nth-child(even) {
    background-color: var(--scale25);
    color: var(--foreground);
}

main table tr:hover {
    background-color: var(--scale50);
    color: var(--foreground);
}

main table tr td {
    padding: calc(var(--linebreak) / 2);
}