/* THEMES */

body {
    --frame_vh: 4vh;
    --frame_vw: 4vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --background: #FFFFFF;
    --foreground: #1C1C1C;

    --scale75: rgba(28, 28, 28, .75);
    --scale50: rgba(28, 28, 28, .5);
    --scale25: rgba(28, 28, 28, .25);

    --orange: #fbb47d;
    --pink: #f7adc7;
    --blue: #d1eefc;
    --green: #3ab54b;

    --headline: 'Fjalla One', sans-serif;
    --textline: 'Noto Sans', sans-serif;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    background-color: var(--blue);
}

#wrapper {
    max-width: 700px;
    margin: auto;
    background-color: var(--background);
}

nav {
    grid-area: nav;
    width: 100%;
}

header {
    grid-area: header;
    width: 100%;
}

main {
    grid-area: main;
    width: 100%;
}

aside {
    grid-area: aside;
    width: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
}

/* GRIDS */
#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 490px auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "aside"
        "footer";
}

/* FONTS */

body {
    font-size: calc(15px + 0.390625vw);
    line-height: 150%;
    font-family: var(--textline);
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 2.2rem;
    color: var(--orange);
    font-family: var(--headline);
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--orange);
    font-family: var(--headline);
}

/* HEADER */

header {
    background-image: url("../img/logo.png");
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAV */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: var(--linebreak) solid var(--blue);
    padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
}

nav span {
    font-size: 2.2rem;
}

/* MAIN */

main {
    padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
}

article {
    margin-bottom: var(--frame_vh);
}

article:last-of-type {
    margin-bottom: 0;
}

main .responsive_table {
    overflow-x: auto;
    margin-bottom: var(--linebreak);
    font-size: 1rem;
}

main .responsive_table .dataTables_length label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--linebreak);
}

main .responsive_table .dataTables_filter label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--linebreak);
}

main .dataTables_length,
main .dataTables_filter {
    margin-bottom: var(--linebreak);
}

/* tables */

main table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: var(--linebreak) !important;
}

main table thead {
    font-size: 1rem;
}

main table tbody {
    font-size: 1rem;
}

main table tfoot {
    font-size: 1rem;
}

main table caption {
    text-align: center;
    margin-bottom: var(--linebreak);
    color: var(--orange);
}

main table tr th {
    padding: var(--linebreak);
    background-color: var(--orange);
    color: var(--background);
}

main table tr:nth-child(even) {
    background-color: var(--scale25);
    color: var(--foreground);
}

main table tr:hover {
    background-color: var(--scale50);
    color: var(--foreground);
}

main table tr td {
    padding: calc(var(--linebreak) / 2);
}

/* ASIDE */

aside {
    background-color: var(--orange);
    height: 117px;
    background-image: url(../img/aside.png);
    background-repeat: x-repeat;
    background-size: auto;
}

/* FOOTER */

footer {
    background-color: var(--green);
    height: 33px;
}

#myBtn {
    display: none;
    position: fixed;

    bottom: var(--frame_vh);
    right: var(--frame_vw);

    z-index: 99;
    cursor: pointer;

    padding: 15px;
    border-radius: 10px;
    font-size: 18px;

    background-color: var(--pink);
    color: var(--background);
}

#myBtn:hover {
    background-color: var(--foreground);
}