{% extends 'partials/base.html.twig' %}

{% block main %}
    <section>
        {% block error %}
            {% include 'modular/error.html.twig' %}
        {% endblock %}
    </section>
{% endblock main %}