/* THEME */

:root {
    --light-background: #fcfcfc;
    --light-foreground: #030303;
    --light-shadow-1: #e3e3e3;
    --light-shadow-2: #f0f0f0;

    --dark-background: #030303;
    --dark-foreground: #fcfcfc;
    --dark-shadow-1: #1c1c1c;
    --dark-shadow-2: #0f0f0f;

    --special-background: #452e7e;
    --special-foreground: #f7d652;
    --special-shadow-1: #ab6fb7;
    --special-shadow-2: #713c94;
}


/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;

}

/* laptops */
@media (1280px <=width <=1919px) {
    .big {
        font-size: 2.8rem;
    }
}

/* desktops */
@media (width >=1920px) {
    .big {
        font-size: 2.8rem;
    }
}


h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: underline;
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
}

main .inner-box.language span:first-of-type {
    font-weight: bold;
}

main .inner-box.work .left {
    font-size: 2.0rem;
    font-weight: bold;
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
}

/* NAV */

nav {
    border-bottom: 1px solid;
}

nav .box {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 1rem;
    height: 4rem;
}

nav .box.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

nav .box.menu button {
    border: 1px solid;
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
}

/* HEADER */

header {
    border-bottom: 1px solid;
}

header .box span {
    display: block;
}

header .box.contact span .fa {
    margin-right: 1rem;
}

/* MAIN */

main {
    border-bottom: 1px solid;
}

main .box p:last-of-type {
    margin-bottom: 0;
}

main .box ul {
    margin-bottom: 0;
}

main .inner-box {
    border: 1px solid;
    border-radius: 5px;
}

main .inner-box span {
    display: block;
    margin-bottom: 0.5rem;
}

main .inner-box span:last-of-type {
    margin-bottom: 0;
}

main .inner-box.work {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    gap: 1rem;
}

main .inner-box.work .left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main .inner-box.education {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 1rem;
}

main .inner-box.training {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 1rem;
}

main .inner-box.language {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 1fr;
    gap: 1rem;
}

main .inner-box.language span {
    display: block;
    margin-bottom: 0;
}

main .inner-box.language .dots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}

main .inner-box.language .dot {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
}

main .inner-box .right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

main .inner-box.it table {
    width: 100%;
}

main .inner-box.it table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}

main .inner-box.it table td:nth-child(1) {
    width: 40%;
}

main .inner-box.it table td:nth-child(2) {
    width: 60%;
}

main .inner-box.it table progress {
    border: 1px solid;
    border-radius: 5px;
}

/* FOOTER */

footer .box {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 1rem;
    height: 4rem;
}

/* phones */
@media (width <=767px) {
    section {
        margin: 0 5vw;
    }

    /* HEADER */

    header .box {
        padding: 1rem;
    }

    header .grid-1 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header .grid-1 .box:nth-of-type(2) {
        border: 1px solid;
    }

    header .grid-1 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    /* MAIN */

    main .box {
        padding: 1rem;
    }

    main .inner-box {
        padding: 1rem;
    }

    main .flex-1,
    main .flex-2,
    main .flex-3,
    main .flex-4 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    main .grid-2 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-2 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(4) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(4) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-5 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-5 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
    }
}

/* tablets */
@media (768px <=width <=1279px) {
    section {
        margin: 0 10vw;
    }

    /* HEADER */

    header .box {
        padding: 2rem;
    }

    header .grid-1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "name name"
            "address contact";
    }

    header .grid-1 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    header .grid-1 .box:nth-of-type(2) {
        border-left: 1px solid;
    }

    header .grid-1 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header .box.name {
        grid-area: name;
    }

    header .box.address {
        grid-area: address;
    }

    header .box.contact {
        grid-area: contact;
    }

    /* MAIN */

    main .box {
        padding: 2rem;
    }

    main .inner-box {
        padding: 2rem;
    }

    main .flex-1,
    main .flex-2,
    main .flex-3,
    main .flex-4 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    main .grid-2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    main .grid-2 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-2 .box:nth-of-type(2) {
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(4) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(4) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-5 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-5 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
    }
}

/* laptops */
@media (1280px <=width <=1919px) {
    section {
        margin: 0 15vw;
    }

    /* HEADER */

    header .box {
        padding: 2rem;
    }

    header .grid-1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "name address"
            "name contact";
    }

    header .grid-1 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header .grid-1 .box:nth-of-type(2) {
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    header .grid-1 .box:nth-of-type(3) {
        border-right: 1px solid;
    }

    header .box.name {
        grid-area: name;
    }

    header .box.address {
        grid-area: address;
    }

    header .box.contact {
        grid-area: contact;
    }

    /* MAIN */

    main .box {
        padding: 2rem;
    }

    main .inner-box {
        padding: 2rem;
    }

    main .flex-1,
    main .flex-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    main .flex-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    main .flex-4 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    main .grid-2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    main .grid-2 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-2 .box:nth-of-type(2) {
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(4) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "training1 training2 ."
            ". language1 language1"
            "language2 language2 language2";
    }

    main .inner-box.language {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    main .grid-4 .training-1 {
        grid-area: training1;
    }

    main .grid-4 .training-2 {
        grid-area: training2;
    }

    main .grid-4 .language-1 {
        grid-area: language1;
    }

    main .grid-4 .language-2 {
        grid-area: language2;
    }

    main .grid-4 {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(1) {
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(2) {
        border-right: 1px solid;
    }

    main .grid-4 .box:nth-of-type(3) {
        border-top: 1px solid;
        border-left: 1px solid;
    }

    main .grid-4 .box:nth-of-type(4) {
        border-top: 1px solid;
    }

    main .grid-5 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-5 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
    }
}

/* desktops */
@media (width >=1920px) {
    section {
        margin: 0 20vw;
    }

    /* HEADER */

    header .box {
        padding: 2rem;
    }

    header .grid-1 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "name . address"
            "name . contact";
    }

    header .grid-1 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header .grid-1 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    header .grid-1 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    header .box.name {
        grid-area: name;
    }

    header .box.address {
        grid-area: address;
    }

    header .box.contact {
        grid-area: contact;
    }

    /* MAIN */

    main .box {
        padding: 2rem;
    }

    main .inner-box {
        padding: 2rem;
    }

    main .flex-1,
    main .flex-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    main .flex-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    main .flex-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    main .grid-2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    main .grid-2 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-2 .box:nth-of-type(2) {
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(3) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-3 .box:nth-of-type(4) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "training1 training2 ."
            ". language1 language1"
            "language2 language2 language2";
    }

    main .inner-box.language {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    main .grid-4 .training-1 {
        grid-area: training1;
    }

    main .grid-4 .training-2 {
        grid-area: training2;
    }

    main .grid-4 .language-1 {
        grid-area: language1;
    }

    main .grid-4 .language-2 {
        grid-area: language2;
    }

    main .grid-4 {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-4 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
    }

    main .grid-4 .box:nth-of-type(3) {
        border-top: 1px solid;
        border-left: 1px solid;
    }

    main .grid-4 .box:nth-of-type(4) {
        border-top: 1px solid;
    }

    main .grid-5 .box:nth-of-type(1) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    }

    main .grid-5 .box:nth-of-type(2) {
        border-left: 1px solid;
        border-right: 1px solid;
    }
}

/* COLORS */

html[data-theme='light'] {
    body {
        background-color: var(--light-background);
        color: var(--light-foreground);
    }

    nav {
        border-bottom: 1px solid var(--light-shadow-1);
    }

    nav .box {
        border-left: 1px solid var(--light-shadow-1);
        border-right: 1px solid var(--light-shadow-1);
    }

    nav .box.menu button {
        border: 1px solid var(--light-shadow-1);
        background-color: var(--light-shadow-2);
    }

    main .inner-box.it table progress {
        color: var(--light-foreground);
    }

    header {
        border-bottom: 1px solid var(--light-shadow-1);
    }

    main {
        border-bottom: 1px solid var(--light-shadow-1);
    }

    main .inner-box {
        border: 1px solid var(--light-shadow-1);
        background-color: var(--light-shadow-2);
    }

    main .dots .dark {
        background-color: var(--light-foreground);
    }

    footer .box {
        border-left: 1px solid var(--light-shadow-1);
        border-right: 1px solid var(--light-shadow-1);
    }

    h1,
    .big {
        background-color: var(--light-foreground);
        color: var(--light-background);
        width: max-content;
        padding: 0.5rem;
    }

    /* phones */
    @media (width <=767px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }
    }

    /* tablets */
    @media (768px <=width <=1279px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }

    }

    /* laptops */
    @media (1280px <=width <=1919px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-right: 1px solid var(--light-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-right: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-top: 1px solid var(--light-shadow-1);
            border-left: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-top: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }
    }

    /* desktops */
    @media (width >=1920px) {

        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-top: 1px solid var(--light-shadow-1);
            border-left: 1px solid var(--light-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-top: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
            border-bottom: 1px solid var(--light-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--light-shadow-1);
            border-right: 1px solid var(--light-shadow-1);
        }
    }
}

html[data-theme='dark'] {
    body {
        background-color: var(--dark-background);
        color: var(--dark-foreground);
    }

    nav {
        border-bottom: 1px solid var(--dark-shadow-1);
    }

    nav .box {
        border-left: 1px solid var(--dark-shadow-1);
        border-right: 1px solid var(--dark-shadow-1);
    }

    nav .box.menu button {
        border: 1px solid var(--dark-shadow-1);
        background-color: var(--dark-shadow-2);
    }

    main .inner-box.it table progress {
        color: var(--dark-foreground);
    }

    header {
        border-bottom: 1px solid var(--dark-shadow-1);
    }

    main {
        border-bottom: 1px solid var(--dark-shadow-1);
    }

    main .inner-box {
        border: 1px solid var(--dark-shadow-1);
        background-color: var(--dark-shadow-2);
    }

    main .dots .dark {
        background-color: var(--dark-foreground);
    }

    footer .box {
        border-left: 1px solid var(--dark-shadow-1);
        border-right: 1px solid var(--dark-shadow-1);
    }

    h1,
    .big {
        background-color: var(--dark-foreground);
        color: var(--dark-background);
        width: max-content;
        padding: 0.5rem;
    }

    /* phones */
    @media (width <=767px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }
    }

    /* tablets */
    @media (768px <=width <=1279px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }

    }

    /* laptops */
    @media (1280px <=width <=1919px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-right: 1px solid var(--dark-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-right: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-top: 1px solid var(--dark-shadow-1);
            border-left: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-top: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }
    }

    /* desktops */
    @media (width >=1920px) {

        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-top: 1px solid var(--dark-shadow-1);
            border-left: 1px solid var(--dark-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-top: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
            border-bottom: 1px solid var(--dark-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--dark-shadow-1);
            border-right: 1px solid var(--dark-shadow-1);
        }
    }
}

html[data-theme='special'] {
    body {
        background: rgb(69, 46, 126);
        background: linear-gradient(90deg, rgba(69, 46, 126, 1) 0%, rgba(113, 60, 148, 1) 100%);
        color: var(--special-foreground);
    }

    nav {
        border-bottom: 1px solid var(--special-shadow-1);
    }

    nav .box {
        border-left: 1px solid var(--special-shadow-1);
        border-right: 1px solid var(--special-shadow-1);
    }

    nav .box.menu button {
        border: 1px solid var(--special-shadow-1);
        background-color: var(--special-shadow-2);
    }

    main .inner-box.it table progress {
        color: var(--special-foreground);
    }

    header {
        border-bottom: 1px solid var(--special-shadow-1);
    }

    main {
        border-bottom: 1px solid var(--special-shadow-1);
    }

    main .inner-box {
        border: 1px solid var(--special-shadow-1);
        background: rgb(171, 111, 183);
        background: linear-gradient(90deg, rgba(171, 111, 183, 1) 0%, rgba(113, 60, 148, 1) 100%);
    }

    main .dots .dark {
        background-color: var(--special-foreground);
    }

    footer .box {
        border-left: 1px solid var(--special-shadow-1);
        border-right: 1px solid var(--special-shadow-1);
    }

    h1,
    .big {
        background-color: var(--special-foreground);
        color: var(--special-background);
        width: max-content;
        padding: 0.5rem;
    }

    /* phones */
    @media (width <=767px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }
    }

    /* tablets */
    @media (768px <=width <=1279px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }

    }

    /* laptops */
    @media (1280px <=width <=1919px) {
        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-right: 1px solid var(--special-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(1) {
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-right: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-top: 1px solid var(--special-shadow-1);
            border-left: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-top: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }
    }

    /* desktops */
    @media (width >=1920px) {

        header .grid-1 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        header .grid-1 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }


        main .grid-2 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-2 .box:nth-of-type(2) {
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(3) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-3 .box:nth-of-type(4) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(3) {
            border-top: 1px solid var(--special-shadow-1);
            border-left: 1px solid var(--special-shadow-1);
        }

        main .grid-4 .box:nth-of-type(4) {
            border-top: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(1) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
            border-bottom: 1px solid var(--special-shadow-1);
        }

        main .grid-5 .box:nth-of-type(2) {
            border-left: 1px solid var(--special-shadow-1);
            border-right: 1px solid var(--special-shadow-1);
        }
    }
}