/* THEMES */

body[data-theme='theme-light'] {
    --frame_vh: 2vh;
    --frame_vw: 2vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --background: #FFFFFF;
    --foreground: #1C1C1C;

    --primary: #034694;

    --scale75: rgba(28, 28, 28, .75);
    --scale50: rgba(28, 28, 28, .5);
    --scale25: rgba(28, 28, 28, .25);
}

body[data-theme='theme-dark'] {
    --frame_vh: 2vh;
    --frame_vw: 2vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --background: #1C1C1C;
    --foreground: #FFFFFF;

    --primary: #DBA111;

    --scale75: rgba(255, 255, 255, .75);
    --scale50: rgba(255, 255, 255, .5);
    --scale25: rgba(255, 255, 255, .25);
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    margin: auto;
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-size: 2.0rem;
    padding-top: 0.67rem;
    padding-bottom: 0.67rem;
    font-weight: bold;

    color: var(--primary);
}

/* COLORS */

body {
    background-color: var(--background);
    color: var(--foreground);
}

main {
    background-color: var(--background);
    color: var(--foreground);
}

/* PADDING */

main .row {
    padding: var(--frame_vh) calc(var(--frame_vw)*2);
}

/* MAIN */

main button {
    cursor: pointer;
}