/* THEMES */

:root {
    --background-color: #F5ECCD;
    --foreground-color: #000000;
    --primary-color: #E0B0FF;
    --secondary-color: #846C5B;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    font-family: system-ui;
    line-height: 1.4;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    font-family: system-ui;
    line-height: 1.4;

    background-color: var(--background-color);
    color: var(--foreground-color);
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
        "main"
        "footer";
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* MEDIA QUERIES */

/* phones */
@media (width <=767px) {

    /* MAIN */

    main section {
        padding: 2rem;
    }

    /* FOOTER */

    footer {
        background-color: var(--secondary-color);
        color: var(--background-color);
    }

    footer section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row>* {
        border-bottom: 1px solid var(--background-color);
        padding: 2rem;
    }

    footer section .row address p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row address span {
        display: block;
        font-style: italic;
    }

    footer section .row .links p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row .links span {
        display: block;
    }

    footer section .row .links .icons {
        display: inline-block;
    }
}

/* tablets */
@media (768px <=width <=1279px) {

    /* MAIN */

    main section {
        padding: 4rem;
    }

    /* FOOTER */

    footer {
        background-color: var(--secondary-color);
        color: var(--background-color);
    }

    footer section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row:first-of-type {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row>* {
        border-bottom: 1px solid var(--background-color);
        padding: 2rem;
    }

    footer section .row:last-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row address p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row address span {
        display: block;
        font-style: italic;
    }

    footer section .row .links p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row .links span {
        display: block;
    }

    footer section .row .links .icons {
        display: inline-block;
    }
}

/* laptops */
@media (1280px <=width <=1919px) {

    /* MAIN */

    main section {
        padding: 4rem;
    }

    /* FOOTER */

    footer {
        background-color: var(--secondary-color);
        color: var(--background-color);
    }

    footer section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 4rem;

        padding: 4rem;
        border-bottom: 1px solid var(--background-color);
    }

    footer section .row:last-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row:last-of-type>* {
        padding: 4rem 4rem 0 4rem;
    }

    footer section .row address p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row address span {
        display: block;
        font-style: italic;
    }

    footer section .row .links:first-of-type {
        border-left: 1px solid var(--background-color);
    }

    footer section .row .links:last-of-type {
        border-left: 1px solid var(--background-color);
        padding-bottom: 4rem;
    }

    footer section .row .links:nth-of-type(2) {
        padding-bottom: 4rem;
    }

    footer section .row .links p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row .links span {
        display: block;
    }

    footer section .row .links .icons {
        display: inline-block;
    }

}

/* desktops */
@media (width >=1920px) {

    /* MAIN */

    main section {
        padding: 4rem;
    }

    /* FOOTER */

    footer {
        background-color: var(--secondary-color);
        color: var(--background-color);
    }

    footer section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    footer section .row:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 4rem;
        padding: 4rem;
        border-bottom: 1px solid var(--background-color);
    }

    footer section .row:last-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 4rem;
        padding: 4rem;
    }

    footer section .row address p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row address span {
        display: block;
        font-style: italic;
    }

    footer section .row .links p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    footer section .row .links span {
        display: block;
    }

    footer section .row .links .icons {
        display: inline-block;
    }

}