/* phones */
@media (width <=767px) {
}

/* tablets */
@media (768px <=width <=1279px) {
}

/* laptops */
@media (1280px <=width <=1919px) {
}

/* desktops */
@media (width >=1920px) {
}

/* THEME */

:root {
  --background-color: #fcfdfe;
  --foreground-color: #1f1d2a;
  --shadow-1-color: #f1f6f9;
  --shadow-2-color: #6a87a4;
  --primary-color: #ff6347;
  --secondary-color: #fcf1ef;
}

/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

header .header-title {
  font-size: 1.25rem;
}

main h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: clamp(16rem, 80vw, 70rem);
  max-width: 1000px;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* NAV */

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav a {
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}

/* FOOTER */

footer a {
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}
