/* fonts  */

body {
  font-size: 16px;
  letter-spacing: normal;
  line-height: 150%;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: -0.75%;
  line-height: 150%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

h5 {
  font-size: 1.56rem;
  letter-spacing: -1%;
  line-height: 140%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

h4 {
  font-size: 1.95rem;
  letter-spacing: -1.25%;
  line-height: 130%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

h3 {
  font-size: 2.44rem;
  letter-spacing: -1.5%;
  line-height: 120%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

h2 {
  font-size: 3.05rem;
  letter-spacing: -1.75%;
  line-height: 110%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

h1 {
  font-size: 3.81rem;
  letter-spacing: -2%;
  line-height: 100%;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
  text-wrap: balance;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* colors */

/* headline to text = 10% to border = 40%, box = 80 % */
/* primary to secondary = 20% */

[data-theme="light"] {
  --background: #fefefe;
  --headline: #181818;
  --text: #323232;

  --border: #7e7e7e;
  --box: #e4e4e4;

  --primary: #4f81c7;
}

[data-theme="dark"] {
  --background: #181818;
  --headline: #fefefe;
  --text: #e5e5e5;

  --border: #989898;
  --box: #323232;

  --primary: #f4ce14;
}

/* theme */

html,
body,
.wrapper {
  background-color: var(--background);
  color: var(--text);
}

.wrapper > header .switch {
  background-color: var(--box);
  color: var(--text);
  border: 2px solid var(--border);
  border-radius: 16px;
}

.wrapper > header .switch button {
  border: none;
  border-radius: 16px;
  padding: 2px 16px;
}

.wrapper > header .switch button:hover {
  background-color: var(--primary);
  color: var(--background);
}

.wrapper > header .switch button[aria-pressed="true"] {
  background-color: var(--background);
  color: var(--text);
}

.wrapper > main .item-box .item {
  background-color: var(--box);
  border: 2px solid var(--border);
  border-radius: 16px;
  border-left: 4px solid var(--border);
}

.wrapper > main .item-box .item a {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline);
}
