/* THEMES */

:root {
    --frame_vh: 4vh;
    --frame_vw: 4vw;

    --linebreak: 1rem;
    --opac: 0.65;

    --pink: #f70776;
    --grey: #dbd8e3;
    --lightpurple: #5c5470;
    --purple: #352f44;
    --darkpurple: #2a2438;

    --headline: 'Rubik', sans-serif;
    --textline: 'Roboto Mono', monospace;
}

/* FONTS */

body {
    font-size: 14px;
    line-height: 1.5em;
    font-family: var(--textline);
    color: var(--grey);
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    background-color: var(--darkpurple);
}

header {
    width: 100%;
    background-color: var(--lightpurple);
}

main {
    width: 100%;
    background-color: var(--darkpurple);
}

aside {
    width: 100%;
    background-color: var(--lightpurple);
}

footer {
    width: 100%;
    background-color: var(--darkpurple);
}

/* GRIDS */

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background: rgba(53, 47, 68, .75);
    padding: var(--frame_vh) var(--frame_vw);
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        padding: 30px 40px;
    }
}

/* NAV */

nav .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

#hamburger {
    cursor: pointer;
    z-index: 222;
}

#hamburger span {
    width: 45px;
    height: 5px;
    background-color: var(--pink);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger.open-menu span:nth-child(2) {
    opacity: 0;
}

#hamburger.open-menu span:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

#hamburger.open-menu span:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

@media only screen and (max-width: 999px) {
    #hamburger {
        visibility: visible;
        display: block;
    }

    #menu {
        display: block;
        z-index: 111;
        position: absolute;
        top: 0;
        left: -100vw;

        width: 100vw;
        min-height: 100vh;

        transition: all ease-in-out 300ms;
        background-color: var(--darkpurple);

        padding: calc(var(--frame_vh)*4) 0;
    }

    #menu.open-menu {
        left: 0;
    }

    #menu a {
        display: block;
        width: 100%;

        padding-top: calc(var(--frame_vh)/2);
        padding-bottom: calc(var(--frame_vh)/2);
        padding-left: var(--frame_vw);

        font-size: 24px;
    }

    #menu a:hover {
        background-color: var(--grey);
        color: var(--pink);
    }

    #menu .icons {
        padding-right: var(--frame_vw);
    }
}

@media only screen and (min-width: 1000px) {
    nav .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
    }

    #hamburger {
        visibility: hidden;
        display: none;
    }

    #menu {
        display: flex;
        gap: 40px;
    }

    #menu a {
        font-size: 24px;
    }

    #menu a:hover {
        color: var(--pink);
    }

    #menu .icons {
        display: none;
    }
}

#logo {
    width: 90px;
    height: auto;
}

/* HEADER */

@media only screen and (max-width: 650px) {
    header .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: var(--frame_vh) 0;
    }

    .header_big {
        background-color: var(--darkpurple);
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        gap: 0;
    }

    .header_big img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .big_content {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
    }

    .header_small {
        background-color: var(--darkpurple);
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        gap: 0;
    }

    .header_small img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .small_content {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
    }

    .content_title {
        display: block;

        font-family: var(--headline);
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
        word-break: break-word;
        color: var(--pink);
        text-transform: uppercase;
    }

    .content_text {
        display: block;
    }

    .content_info {
        display: block;
        color: var(--lightpurple);
        margin-top: 1rem;
    }

    .content_comment::before {
        font-family: FontAwesome;
        content: "\f075";
        margin-right: 6px;
    }

    .content_author::before {
        font-family: FontAwesome;
        content: "\f007";
        margin-right: 6px;
    }
}

@media only screen and (min-width:651px) and (max-width: 999px) {
    header .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: var(--frame_vh) 0;
    }

    .header_big {
        background-color: var(--darkpurple);
        width: 100%;
        height: 300px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0;
    }

    .header_big img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .big_content {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
    }

    .header_small {
        background-color: var(--darkpurple);
        width: 100%;
        height: 150px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0;
    }

    .header_small img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .small_content {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
    }

    .content_title {
        display: block;

        font-family: var(--headline);
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
        word-break: break-word;
        color: var(--pink);
        text-transform: uppercase;
    }

    .content_text {
        display: block;
    }

    .content_info {
        display: block;
        color: var(--lightpurple);
        margin-top: 1rem;
    }

    .content_comment::before {
        font-family: FontAwesome;
        content: "\f075";
        margin-right: 6px;
    }

    .content_author::before {
        font-family: FontAwesome;
        content: "\f007";
        margin-right: 6px;
    }
}

@media only screen and (min-width: 1000px) {
    header .wrapper {
        display: grid;
        grid-template-columns: 64% 32%;
        grid-template-rows: 1fr;
        gap: 0 4%;
    }

    .header_big {
        background-color: var(--darkpurple);
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px;
        gap: 0;
    }

    .header_big img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .big_content {
        padding: 20px;
    }

    .header_small {
        background-color: var(--darkpurple);
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px;
        gap: 0;
    }

    .header_small img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .small_content {
        padding: 20px;
    }

    .content_title {
        display: block;

        font-family: var(--headline);
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
        word-break: break-word;
        color: var(--pink);
        text-transform: uppercase;
    }

    .small_content .content_title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .content_text {
        display: block;
    }

    .content_info {
        display: block;
        color: var(--lightpurple);
        margin-top: 1rem;
    }

    .content_comment::before {
        font-family: FontAwesome;
        content: "\f075";
        margin-right: 6px;
    }

    .content_author::before {
        font-family: FontAwesome;
        content: "\f007";
        margin-right: 6px;
    }
}

/* MAIN */

@media only screen and (max-width: 999px) {
    main .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: var(--frame_vh) 0;
    }

    .blog_banner img {
        padding-top: calc(var(--frame_vh)/2);
    }

    .blog_content {
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
    }
}

@media only screen and (min-width: 1000px) {
    main .wrapper {
        display: grid;
        grid-template-columns: 64% 32%;
        grid-template-rows: 1fr;
        gap: 0 4%;
    }

    .blog_banner img {
        padding-top: 20px;
    }

    .blog_content {
        padding: 20px;
    }
}

#main_blog {
    background-color: var(--darkpurple);
    width: 100%;
}

.blog {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    border-top: 1px solid var(--grey);
}

.blog:last-of-type {
    border-bottom: 1px solid var(--grey);
}

@media only screen and (max-width: 999px) {
    #main_forum {
        background-color: var(--lightpurple);
        width: 100%;
        padding: calc(var(--frame_vh)/2) calc(var(--frame_vw)/2);
    }
}

@media only screen and (min-width: 1000px) {
    #main_forum {
        background-color: var(--lightpurple);
        width: 100%;
        padding: 20px;
    }
}

#forum_title {
    font-family: var(--headline);
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    word-break: break-word;
    color: var(--pink);
    text-transform: uppercase;
}

.forum_entry {
    margin-bottom: 1rem;
}

.forum_entry:last-of-type {
    margin-bottom: 0;
}

.forum_time {
    font-weight: bold;
}

.forum_time::after {
    content: ":";
}

/* ASIDE */

#aside_news {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.news {
    width: 180px;
    height: 210px;
    display: inline-block;
    background-color: var(--darkpurple);
    color: var(--pink);
}

.news_banner {
    width: 180px;
    height: 105px;
}

.news_banner img {
    width: 180px;
    height: 105px;
    object-fit: cover;
}

.news_content {
    width: 180px;
    height: 105px;
    white-space: normal;
    overflow: hidden;
    display: block;
}

@media only screen and (max-width: 999px) {
    .news_content {
        padding: 10px;
        max-height: 95px;
    }
}

@media only screen and (min-width: 1000px) {
    .news_content {
        padding: 20px;
        max-height: 85px;
    }
}

#aside_news::-webkit-scrollbar {
    display: none;
}

/* FOOTER */

#footer_content ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--frame_vh) var(--frame_vw);
    font-size: 24px;
}

#footer_content ul li i {
    margin-right: 6px;
}