/* THEMES */

:root {
    --background-color: #C3393F;
    --foreground-color: #FFFFFF;

    --primary-color: #000000;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    line-height: 1.4;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main h1 {
    font-size: 2.5rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h2 {
    font-size: 2.0rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h3 {
    font-size: 1.75rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h4 {
    font-size: 1.5rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h5 {
    font-size: 1.25rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

main h6 {
    font-size: 1.125rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.0rem;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

/* phones */
@media (width <=767px) {
    main .slide {
        height: 90vh;

        display: grid;
        grid-template-rows: 50% 50%;
    }

    main .slide .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .slide .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    nav .menu {
        height: 10vh;

        display: grid;
        grid-template-columns: 50% 50%;
    }

    nav .menu button {
        border: 0;
    }
}

/* tablets */
@media (768px <=width <=1279px) {
    main .slide {
        height: 90vh;

        display: grid;
        grid-template-rows: 50% 50%;
    }

    main .slide .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .slide .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    nav .menu {
        height: 10vh;

        display: grid;
        grid-template-columns: 50% 50%;
    }

    nav .menu button {
        border: 0;
    }
}

/* laptops */
@media (1280px <=width <=1919px) {
    main .slide {
        height: 90vh;

        display: grid;
        grid-template-columns: 50% 50%;
    }

    main .slide .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .slide .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main img {
        height: 65vh;
        width: auto;
        object-fit: contain;
    }

    nav .menu {
        height: 10vh;

        display: grid;
        grid-template-columns: 50% 50%;
    }

    nav .menu button {
        border: 0;
    }
}

/* desktops */
@media (width >=1920px) {
    main .slide {
        height: 90vh;

        display: grid;
        grid-template-columns: 50% 50%;
    }

    main .slide .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .slide .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main img {
        height: 65vh;
        width: auto;
        object-fit: contain;
    }

    nav .menu {
        height: 10vh;

        display: grid;
        grid-template-columns: 50% 50%;
    }

    nav .menu button {
        border: 0;
    }
}