/* THEMES */

:root {
    --light1: #FFFFFF;
    --light2: #F9F9F9;
    --dark1: #AEAEAE;
    --dark2: #404040;
    --blue1: #0198E1;
    --blue2: #0177AD;
    --blue3: #004262;
    --green1: #608341;
    --green2: #425a2d;
    --green3: #233018;
    --orange1: #E07000;
    --orange2: #934900;
    --orange3: #472200;
}

/* FONTS */

html {
    font-size: calc(12px + 0.390625vw);
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--light1);
    color: var(--dark2);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10vw 1fr 2fr 10vw;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";
}

body .wrapper .column.first {
    background-color: var(--light2);
}

body .wrapper .column.second {
    background-color: var(--light2);
    padding-right: 5vw;
    border-right: 1px solid var(--dark1);
}

body .wrapper .column.second .fixed {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    position: fixed;
}

body .wrapper .column.second .fixed .info {
    display: flex;
    flex-direction: column;
}

body .wrapper .column.second .fixed .info.personal {
    background-color: var(--dark2);
    color: var(--light1);
    text-align: right;
    width: max-content;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

body .wrapper .column.second .fixed .info.personal .name span:last-child {
    color: var(--dark1);
}

body .wrapper .column.second .fixed .info.contact {
    text-align: right;
}

body .wrapper .column.second .fixed .info.contact span {
    text-align: right;
}

body .wrapper .column.third {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    padding-bottom: 4rem;
}

body .wrapper .column.third .box.download {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 1rem;
}

body .wrapper .column.third .box.download a {
    padding: 0.5rem;
    text-transform: uppercase;
    background-color: var(--dark2);
    color: var(--light1);
    font-size: 0.75rem;
}

body .wrapper .column.third .box.download a:hover {
    color: var(--dark1);
}

body .wrapper .column.third h2 {
    text-transform: uppercase;
    font-size: 1.0rem;
    display: table;
    width: max-content;
    background-color: var(--dark2);
    color: var(--light1);
    padding: 0.5rem;
}

body .wrapper .column.third .box.aboutme {
    width: 100%;
    font-style: italic;
    border-left: 2px solid;
    position: relative;
    padding: 1rem 1rem 1rem 1.25rem;
}

body .wrapper .column.third .box.aboutme::before {
    content: "\201D";
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
}

body .wrapper .column.third .time-flex {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}

body .wrapper .column.third .time-flex.work {
    gap: 2rem;
}

body .wrapper .column.third .box.education {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
}

body .wrapper .column.third .box.education .education-year {
    font-weight: bold;
    padding-top: 1rem;
}

body .wrapper .column.third .box.education .education-line {
    position: relative;
    padding: 1rem 2rem;
    border-left: 1px dotted var(--dark1);
}

body .wrapper .column.third .box.education .education-line .education-icon {
    position: absolute;
    top: 1rem;
    left: -12.5px;
}

body .wrapper .column.third .box.education .education-content {
    background-color: var(--light2);
    border: 1px solid var(--dark1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

body .wrapper .column.third .box.education .education-content span:first-of-type {
    font-weight: bold;
}

body .wrapper .column.third .box.education .education-content span a {
    color: var(--blue1);
    text-decoration: underline;
}

body .wrapper .column.third .box.education .education-content span:last-of-type {
    padding-top: 0.5rem;
    font-style: italic;
}

body .wrapper .column.third .box.work a {
    color: var(--green1);
    text-decoration: underline;
}

body .wrapper .column.third details {
    width: 100%;
    overflow: hidden;
    background-color: var(--light2);
    border: 1px solid var(--dark1);
    padding: 1rem;
    transition: .25s transform ease;
}

body .wrapper .column.third details>summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body .wrapper .column.third details summary::-webkit-details-marker {
    display: none;
}

body .wrapper .column.third details summary:before {
    content: '+';
    position: absolute;
}

body .wrapper .column.third details[open]>summary:before {
    content: '-';
}

body .wrapper .column.third details>summary span {
    margin-left: 1rem;
}

body .wrapper .column.third details>summary span b {
    font-weight: bold;
}

body .wrapper .column.third details>div {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px dotted var(--dark1);
    display: flex;
    flex-direction: column;
}

body .wrapper .column.third details>div span b {
    font-weight: bold;
}

body .wrapper .column.third .box.skills.idea1 {
    background-color: var(--blue1);
    color: var(--light1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    font-size: 0.75rem;
}

body .wrapper .column.third .box.skills.idea1 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

body .wrapper .column.third .box.skills.idea1 .container-title {
    background-color: var(--blue3);
    padding: 0.5rem;
}

body .wrapper .column.third .box.skills.idea1 .container-button {
    background-color: var(--blue2);
    padding: 0.5rem;
}

body .wrapper .column.third .box.skills.idea2 {
    background-color: var(--green1);
    color: var(--green3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    font-size: 0.75rem;
}

body .wrapper .column.third .box.skills.idea2 .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

body .wrapper .column.third .box.skills.idea2 .container-title {
    width: max-content;
    background-color: var(--green3);
    color: var(--light1);
    padding: 0.5rem;
}

body .wrapper .column.third .box.skills.idea2 .container-progress {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

body .wrapper .column.third .box.skills.idea2 .container-progress progress {
    display: block;
    background-color: var(--green2);
    width: 100%;
}

body .wrapper .column.third .box.skills.idea2 .container-progress progress::-moz-progress-bar {
    background: var(--green3);
}

body .wrapper .column.third .box.skills.idea2 .container-progress progress::-webkit-progress-bar {
    background: var(--green3);
}

body .wrapper .column.third .box.skills.idea3 {
    background-color: var(--orange1);
    color: var(--orange3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    font-size: 0.75rem;
}

body .wrapper .column.third .box.skills.idea3 .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

body .wrapper .column.third .box.skills.idea3 .container-title {
    width: max-content;
    background-color: var(--orange3);
    color: var(--light1);
    padding: 0.5rem;
}

body .wrapper .column.third .box.skills.idea3 .container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

body .wrapper .column.third .box.skills.idea3 .container-flex .outside {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .wrapper .column.third .box.skills.idea3 .container-flex .inside {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--orange1);
    color: var(--orange3);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent0 {
    background-image: conic-gradient(var(--orange3) 0%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent10 {
    background-image: conic-gradient(var(--orange3) 10%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent20 {
    background-image: conic-gradient(var(--orange3) 20%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent30 {
    background-image: conic-gradient(var(--orange3) 30%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent40 {
    background-image: conic-gradient(var(--orange3) 40%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent50 {
    background-image: conic-gradient(var(--orange3) 50%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent60 {
    background-image: conic-gradient(var(--orange3) 60%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent70 {
    background-image: conic-gradient(var(--orange3) 70%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent80 {
    background-image: conic-gradient(var(--orange3) 80%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent90 {
    background-image: conic-gradient(var(--orange3) 90%, var(--orange2) 0);
}

body .wrapper .column.third .box.skills.idea3 .container-flex .percent100 {
    background-image: conic-gradient(var(--orange3) 100%, var(--orange2) 0);
}