/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    width: 100%;
}

.row {
    height: 100vh;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
}

/* GALAXY */

#galaxy {
    background-color: #13173C;
    color: #FFFFFF;
    display: grid;
    grid-template-areas: "galaxy";
    position: relative;
    font-family: 'Acme', sans-serif;
    z-index: 22;
}

#galaxy>* {
    grid-area: galaxy;
}

#galaxy .galaxy-back {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#galaxy .galaxy-title {
    width: 100%;
    margin-top: 33vh;
}

#galaxy h1 {
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    word-break: break-all;
    transform-origin: center top;
}

#galaxy .galaxy-front {
    height: 15vh;
    position: absolute;
    bottom: 10vh;
    right: 10vw;

    z-index: 23;
}

/* MOUNTAINS */

#mountains {
    background-color: #F1D1B5;
    color: #0E2743;
    display: grid;
    grid-template-areas: "mountains";
    position: relative;
    font-family: 'Lobster', sans-serif;
}

#mountains>* {
    grid-area: mountains;
}

#mountains .mountains-title {
    width: 100%;
    position: fixed;
    top: 2rem;

    z-index: 11;
}

#mountains h1 {
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;

    background: rgb(14, 39, 67);
    background: -moz-linear-gradient(90deg, rgba(14, 39, 67, 1) 0%, rgba(241, 209, 181, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(14, 39, 67, 1) 0%, rgba(241, 209, 181, 1) 100%);
    background: linear-gradient(90deg, rgba(14, 39, 67, 1) 0%, rgba(241, 209, 181, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e2743", endColorstr="#f1d1b5", GradientType=1);

    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mountains>img {
    position: absolute;
    bottom: 0;
}

#mountains .mountains-front {
    width: 100%;
    object-fit: cover;

    z-index: 22;
}

/* SKULL */

#skull {
    background-color: #161513;
    color: #FF693C;
    display: grid;
    grid-template-areas: "skull";
    position: relative;
    font-family: 'Titan One', sans-serif;
    z-index: 22;
}

#skull>* {
    grid-area: skull;
}

#skull .skull-title {
    width: 100%;

    border-top: 2px solid #FF693C;
    border-bottom: 2px solid #FF693C;
    overflow: hidden;
    height: max-content;
    margin-top: calc(50vh - 6rem);
}

#skull h1 {
    text-transform: uppercase;
    font-size: 6rem;
    text-align: center;

    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-scrolling 15s linear infinite;
    -webkit-animation: my-scrolling 15s linear infinite;
    animation: my-scrolling 15s linear infinite;
}

@keyframes my-scrolling {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* for Firefox */
@-moz-keyframes my-scrolling {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-scrolling {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

#skull .skull-front {
    max-width: 50%;
    margin: auto;

    z-index: 23;
}

/* SCROLL-INDICATOR */

#indicator-bar {
    background-color: #ff4163;
    height: 10px;
    width: 0%;
    position: fixed;
    top: 0;
    z-index: 99;
}