/* BROWSER-MODE */

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #eeeeee;
        --foreground-color: #222831;
        --shadow-color: #393e46;
        --primary-color: #0092ca;
        --secondary-color: #004864;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #303841;
        --foreground-color: #d3d6db;
        --shadow-color: #3a4750;
        --primary-color: #be3144;
        --secondary-color: #dc7986;
    }
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    font-family: system-ui;
    line-height: 1.4;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
}

/* TAGS */

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
    width: clamp(16rem, 65vw, 70rem);
    margin: auto;
}

main section {
    padding: 1rem;
}

/* TRANSLATOR */

.input {
    background-color: var(--shadow-color);
    color: var(--foreground-color);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.options {
    background-color: var(--shadow-color);
    color: var(--foreground-color);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.output {
    background-color: var(--shadow-color);
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.input button,
.output button {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.input select,
.output select {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.options button {
    background-color: var(--secondary-color);
    color: var(--foreground-color);
}