/* THEME */

:root {
  --background-color: #282a36;
  --foreground-color: #f8f8f2;
  --shadow-1-color: #44475a;
  --shadow-2-color: #8be9fd;
  --primary-color: #ffb86c;
  --secondary-color: #f1fa8c;
}

/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

main h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: clamp(16rem, 75vw, 70rem);
  margin: auto;
}

main section {
  padding: 1rem;
}

.input,
.output {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid currentColor;
}

.input .menu,
.output .menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.options {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid currentColor;
}

/* COLORS */

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

main h1 {
  color: var(--primary-color);
}

.input,
.output,
.options {
  border: 1px solid var(--shadow-1-color);
}

button,
select {
  background-color: var(--shadow-2-color);
  color: var(--background-color);
  border: 1px solid var(--shadow-1-color) !important;
}

textarea {
  border: 1px solid var(--shadow-1-color) !important;
}
