/* BROWSER-MODE */

@media (prefers-color-scheme: light) {
  :root {
    --light-background: #ffffff;
    --light-foreground: #333333;

    --light-red: #711731;
    --light-blue: #173452;
    --light-orange: #f18700;

    --light-grey1: #cccccc;
    --light-grey2: #dddddd;
    --light-grey3: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-background: #212529;
    --dark-foreground: #fefefe;

    --dark-red: #711731;
    --dark-orange: #f18700;
    --dark-blue: #173452;

    --dark-grey1: #2c3034;
    --dark-grey2: #424649;
    --dark-grey3: #6d6d6d;
  }
}

/* FONTS */

@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway.ttf");
}

/* mobile */
@media (width <=1279px) {
  html {
    font-size: 14px;
    font-family: roboto;
    line-height: 1.4;
  }
}

/* desktops */
@media (width >=1280px) {
  html {
    font-size: 16px;
    font-family: roboto;
    line-height: 1.4;
  }
}

/* 2K */
@media (width >=2560px) {
  html {
    font-size: 18px;
    font-family: roboto;
    line-height: 1.4;
  }
}

main h1,
.error h1 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  font-family: raleway;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  font-family: raleway;
  text-decoration: underline;
}

main h3 {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: raleway;
}

main h4,
aside h4,
.contact h4,
footer h4 {
  font-size: 1.5rem;
  margin-bottom: 1.125rem;
  font-family: raleway;
  text-decoration: underline;
}

main h5 {
  font-size: 1.25rem;
  margin-bottom: 1.125rem;
  font-family: raleway;
}

main h6 {
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
  font-family: raleway;
  font-family: raleway;
  text-decoration: underline;
}

main .contact-card {
  font-size: 0.83rem !important;
}

main .responsive_table {
  font-size: 0.83rem !important;
}

aside .post-item {
  font-size: 0.83rem !important;
}

nav .menu .sub-menu {
  font-size: 0.83rem !important;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

.inner-wrapper {
  grid-area: inner-wrapper;
  margin: auto;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

.contact {
  grid-area: contact;
}

footer {
  grid-area: footer;
}

/* GRID */

.wrapper {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 1fr auto auto;
  gap: 0;
  grid-template-areas:
    "header"
    "inner-wrapper"
    "contact"
    "footer";
}

/* phones */
@media (width <=767px) {
  .inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
      "nav"
      "aside"
      "main";
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  .inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
      "nav"
      "aside"
      "main";
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  header section,
  .inner-wrapper,
  .contact section,
  footer section {
    width: 1200px;
    margin: auto;
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: 300px 650px 250px;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas: "nav main aside";
  }
}

/* desktops */
@media (width >=1920px) {
  header section,
  .inner-wrapper,
  .contact section,
  footer section {
    width: 1400px;
    margin: auto;
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: 300px 850px 250px;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas: "nav main aside";
  }
}

/* 2K */
@media (width >=2560px) {
  header section,
  .inner-wrapper,
  .contact section,
  footer section {
    width: 1600px;
    margin: auto;
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: 300px 1050px 250px;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas: "nav main aside";
  }
}

/* HEADER */

/* mobile */
@media (0px <=width <=1279px) {
  header .indicator-bar {
    background-color: currentColor;
    height: 0.83rem;
    width: 0;
    position: fixed;
    top: 0;
    z-index: 111;
  }

  header section .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .header-logo {
    height: 56px;
  }

  header .header-hamburger {
    position: relative;
    z-index: 222;

    width: 28px;
    height: 28px;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    margin-top: 2px;
  }

  header .header-hamburger span {
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background: currentColor;
  }

  header .header-hamburger span:nth-child(1) {
    top: 0px;
  }

  header .header-hamburger span:nth-child(2),
  header .header-hamburger span:nth-child(3) {
    top: 40%;
  }

  header .header-hamburger span:nth-child(4) {
    top: 85%;
  }

  header .header-hamburger.open span:nth-child(1) {
    top: 40%;
    width: 0%;
    left: 50%;
  }

  header .header-hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  header .header-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  header .header-hamburger.open span:nth-child(4) {
    top: 40%;
    width: 0%;
    left: 50%;
  }

  header .header-title {
    font-weight: bold;
    display: block;
  }

  header .header-description {
    font-style: italic;
    display: block;
  }

  /* SEARCH-FORM */

  header .search-menu {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  header .search-menu input {
    padding: 0.5rem;
    width: 75%;
    border: 1px solid currentColor;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  header .search-menu button {
    width: 25%;
    text-align: center;
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  header .search-menu button:hover {
    opacity: 0.5;
  }

  /* LANGUAGE-MENU */

  header .header-languages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  header .current-lang {
    font-weight: bold;
  }
}

/* desktops */
@media (width >=1280px) {
  header .indicator-bar {
    background-color: currentColor;
    height: 0.83rem;
    width: 0;
    position: fixed;
    top: 0;
    z-index: 111;
  }

  header section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  header section .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .header-logo {
    height: 84px;
  }

  header .header-hamburger {
    display: none;
    pointer-events: none;
  }

  header .header-title {
    font-weight: bold;
    display: block;
  }

  header .header-description {
    font-style: italic;
    display: block;
  }

  /* SEARCH-FORM */

  header .search-menu {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  header .search-menu input {
    padding: 0.5rem;
    width: 75%;
    border: 1px solid currentColor;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  header .search-menu button {
    width: 25%;
    text-align: center;
    cursor: pointer;
    border: 1px solid currentColor;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  header .search-menu button:hover {
    opacity: 0.5;
  }

  /* LANGUAGE-MENU */

  header .header-languages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  header .current-lang {
    font-weight: bold;
  }
}

/* NAV */

/* mobile */
@media (0px <=width <=1279px) {
  nav {
    height: 0;
    overflow: hidden;
    transition: height ease-in-out 0.25s;
  }

  nav.open {
    height: 100%;
  }

  nav .menu > .menu-item {
    position: relative;
    width: 100%;
    vertical-align: sub;
    cursor: pointer;
    font-weight: bold;
    border-top: 1px solid currentColor;
  }

  nav .menu > .menu-item:last-of-type {
    border-bottom: 1px solid currentColor;
  }

  nav .menu .menu-item a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  nav .menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }

  nav .menu .menu-item-has-children > a:after {
    content: "▾";
    font-style: normal;
    transform: rotate(0deg);
    transition: 0.25s all ease-in-out;
  }

  nav .menu .menu-item-has-children.active > a:after {
    transform: rotate(180deg);
  }

  nav .menu .sub-menu {
    height: 0;
    overflow: hidden;
  }

  nav .menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 0;
  }

  nav .menu .sub-menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  nav .menu .active > .sub-menu {
    display: block;
    height: auto;
    transition: 0.25s all ease-in-out;
  }

  nav .menu .current_page_item {
    color: currentColor;
  }

  nav .menu .current_page_item a:before {
    content: "»";
    font-style: normal;
    padding-right: 0.5rem;
  }

  nav .menu .sub-menu .menu-item {
    font-weight: normal;
  }

  nav .menu .menu-item-has-children {
    font-weight: bold !important;
  }
}

/* desktops */
@media (width >=1280px) {
  nav {
    height: 100%;
    overflow: hidden;
    transition: height ease-in-out 0.25s;
  }

  nav .menu > .menu-item {
    position: relative;
    width: 100%;
    vertical-align: sub;
    cursor: pointer;
    font-weight: bold;
    border-top: 1px solid currentColor;
  }

  nav .menu > .menu-item:last-of-type {
    border-bottom: 1px solid currentColor;
  }

  nav .menu .menu-item a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  nav .menu .menu-item-has-children > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }

  nav .menu .menu-item-has-children > a:after {
    content: "▾";
    font-style: normal;
    transform: rotate(0deg);
    transition: 0.25s all ease-in-out;
  }

  nav .menu .menu-item-has-children.active > a:after {
    transform: rotate(180deg);
  }

  nav .menu .sub-menu {
    height: 0;
    overflow: hidden;
  }

  nav .menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 0;
  }

  nav .menu .sub-menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  nav .menu .active > .sub-menu {
    display: block;
    height: auto;
    transition: 0.25s all ease-in-out;
  }

  nav .menu .current_page_item {
    color: currentColor;
  }

  nav .menu .current_page_item a:before {
    content: "»";
    font-style: normal;
    padding-right: 0.5rem;
  }

  nav .menu .sub-menu .menu-item {
    font-weight: normal;
  }

  nav .menu .menu-item-has-children {
    font-weight: bold !important;
  }
}

/* NEWS */

/* mobile */
@media (0px <=width <=1279px) {
  aside .post-wrapper {
    max-width: 100vw;
    overflow-x: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  aside .post-item {
    border: 1px solid currentColor;
    padding: 1rem;
    min-width: 250px;
    max-width: 250px;
    border-radius: 5px;
  }

  aside .post-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    word-break: break-word;
  }
}

/* desktops */
@media (width >=1280px) {
  aside .post-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  aside .post-item {
    border: 1px solid currentColor;
    padding: 1rem;
    min-width: 250px;
    max-width: 250px;
    border-radius: 5px;
  }

  aside .post-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    word-break: break-word;
  }
}

/* CONTACT */

/* mobile */
@media (0px <=width <=1279px) {
  .contact section .row {
    border-bottom: 1px solid currentColor;
  }

  .contact section .row:last-of-type {
    border-bottom: none;
  }

  .contact address span {
    display: block;
  }

  .contact .map iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    pointer-events: none;
    border-radius: 5px;
  }

  .contact .contact-logo {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
  }
}

/* desktops */
@media (width >=1280px) {
  .contact section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  .contact section .row {
    border-right: 1px solid currentColor;
  }

  .contact section .row:nth-child(3) {
    border-right: none;
  }

  .contact address span {
    display: block;
  }

  .contact .map iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    pointer-events: none;
    border-radius: 5px;
  }

  .contact .contact-logo {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
  }
}

/* FOOTER */

/* mobile */
@media (0px <=width <=1279px) {
  footer section .row {
    border-bottom: 1px solid currentColor;
  }

  footer section .row:last-of-type {
    border-bottom: none;
  }

  footer section img {
    max-height: 84px;
    width: auto;
  }
}

/* desktops */
@media (width >=1280px) {
  footer section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }

  footer section .row {
    border-right: 1px solid currentColor;
  }

  footer section .row:nth-child(3) {
    border-right: none;
  }

  footer section .row:nth-child(6) {
    border-right: none;
  }

  footer section img {
    max-height: 84px;
    width: auto;
  }
}

/* 404 */

.error {
  height: 100vh;
  max-height: 100vh;
  width: clamp(16rem, 65vw, 70rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0;
}

.error p {
  margin-bottom: 1rem;
}

.error ul {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.error a {
  text-decoration: underline;
}

/* SEARCH-RESULTS */

main .search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .search-fail {
  font-style: italic;
}

/* CONTACT-CARDS */

/* phones */
@media (width <=767px) {
  main .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  main .contact-card {
    width: 100%;
    border: 1px solid currentColor;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    padding: 1rem;
  }

  main .contact-image {
    border-radius: 50%;
    height: 84px;
    width: 84px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
  }

  main .card-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  main .contact-address span {
    display: block;
  }

  main .contact-web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  main .contact-name {
    font-weight: bold;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  main .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  main .contact-card {
    width: 100%;
    border: 1px solid currentColor;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    padding: 1rem;
  }

  main .contact-image {
    border-radius: 50%;
    height: 84px;
    width: 84px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
  }

  main .card-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  main .contact-address span {
    display: block;
  }

  main .contact-web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  main .contact-name {
    font-weight: bold;
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  main .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  main .contact-card {
    width: 100%;
    border: 1px solid currentColor;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    padding: 1rem;
  }

  main .contact-image {
    border-radius: 50%;
    height: 84px;
    width: 84px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
  }

  main .card-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  main .contact-address span {
    display: block;
  }

  main .contact-web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  main .contact-name {
    font-weight: bold;
  }
}

/* desktops */
@media (width >=1920px) {
  main .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  main .contact-card {
    width: 100%;
    border: 1px solid currentColor;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    padding: 1rem;
  }

  main .contact-image {
    border-radius: 50%;
    height: 84px;
    width: 84px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
  }

  main .card-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  main .contact-address span {
    display: block;
  }

  main .contact-web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  main .contact-name {
    font-weight: bold;
  }
}

/* PADDING & MARGIN */

/* phones */
@media (width <=767px) {
  header section,
  main section,
  .contact section .row,
  footer section .row {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  aside h4 {
    padding-left: 5vw;
  }

  header section .row {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  header section:first-of-type .row:last-of-type {
    padding-top: 0;
    padding-bottom: 0;
  }

  nav .menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  nav .menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 7vw;
    padding-right: 5vw;
  }

  nav .menu .sub-menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 9vw;
    padding-right: 5vw;
  }

  aside section {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  main section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .contact section .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  footer section .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  header section,
  main section,
  .contact section .row,
  footer section .row {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  aside h4 {
    padding-left: 10vw;
  }

  header section .row {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  header section:first-of-type .row:last-of-type {
    padding-top: 0;
    padding-bottom: 0;
  }

  nav .menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  nav .menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 12vw;
    padding-right: 10vw;
  }

  nav .menu .sub-menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 14vw;
    padding-right: 10vw;
  }

  aside section {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  main section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .contact section .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  footer section .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  header section {
    max-width: 1200px;
    margin: auto;
  }

  .inner-wrapper {
    max-width: 1200px;
    margin: auto;
  }

  .contact section {
    max-width: 1200px;
    margin: auto;
  }

  footer section {
    max-width: 1200px;
    margin: auto;
  }

  header section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  header section:nth-of-type(2) {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  nav .menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav .menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  nav .menu .sub-menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }

  .inner-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  main section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .contact section .row:nth-of-type(1) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  .contact section .row:nth-of-type(2) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact section .row:nth-of-type(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  footer section .row:nth-of-type(1) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(2) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  footer section .row:nth-of-type(4) {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(5) {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(6) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 0;
  }
}

/* desktops */
@media (width >=1920px) {
  header section {
    max-width: 1400px;
    margin: auto;
  }

  .inner-wrapper {
    max-width: 1400px;
    margin: auto;
  }

  .contact section {
    max-width: 1400px;
    margin: auto;
  }

  footer section {
    max-width: 1400px;
    margin: auto;
  }

  header section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  header section:nth-of-type(2) {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  nav .menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav .menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  nav .menu .sub-menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }

  .inner-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  main section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .contact section .row:nth-of-type(1) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  .contact section .row:nth-of-type(2) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact section .row:nth-of-type(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  footer section .row:nth-of-type(1) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(2) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  footer section .row:nth-of-type(4) {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(5) {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(6) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 0;
  }
}

/* 2K */
@media (width >=2560px) {
  header section {
    max-width: 1600px;
    margin: auto;
  }

  .inner-wrapper {
    max-width: 1600px;
    margin: auto;
  }

  .contact section {
    max-width: 1600px;
    margin: auto;
  }

  footer section {
    max-width: 1600px;
    margin: auto;
  }

  header section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  header section:nth-of-type(2) {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  nav .menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav .menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  nav .menu .sub-menu .sub-menu .menu-item a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }

  .inner-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  main section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .contact section .row:nth-of-type(1) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  .contact section .row:nth-of-type(2) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact section .row:nth-of-type(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  footer section .row:nth-of-type(1) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(2) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0;
  }

  footer section .row:nth-of-type(4) {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(5) {
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer section .row:nth-of-type(6) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 0;
  }
}

/* DATA-TABLES */

/* phones */
@media (width <=767px) {
  main .responsive_table {
    overflow-x: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: calc(100vw - 10vw);
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  main .responsive_table {
    overflow-x: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: calc(100vw - 20vw);
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  main .responsive_table {
    overflow-x: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: calc(650px - 6rem);
  }
}

/* desktops */
@media (width >=1920px) {
  main .responsive_table {
    overflow-x: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: calc(850px - 6rem);
  }
}

/* 2K */
@media (width >=2560px) {
  main .responsive_table {
    overflow-x: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: calc(1050px - 6rem);
  }
}

@media (prefers-color-scheme: light) {
  /* mobile */
  @media (0px <=width <=1279px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--light-red);
    }

    footer section:last-of-type h4 {
      color: var(--light-grey3);
    }

    html {
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    header {
      background-color: var(--light-grey2);
      color: var(--light-foreground);
    }

    nav {
      background-color: var(--light-grey3);
      color: var(--light-foreground);
    }

    main {
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    aside {
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    .contact {
      background-color: var(--light-grey2);
      color: var(--light-foreground);
    }

    footer {
      background-color: var(--light-blue);
      color: var(--light-background);
    }

    header .indicator-bar {
      background-color: var(--light-orange);
    }

    header .header-hamburger span {
      background: var(--light-orange);
    }

    header .search-menu input {
      border: 1px solid var(--light-orange);
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    header .search-menu button {
      border: 1px solid var(--light-orange);
      background-color: var(--light-orange);
      color: var(--light-foreground);
    }

    nav .menu > .menu-item {
      border-top: 1px solid var(--light-red);
    }

    nav .menu > .menu-item:last-of-type {
      border-top: 1px solid var(--light-red);
    }

    nav .menu > .menu-item:last-of-type {
      border-bottom: 1px solid var(--light-red);
    }

    nav .menu .current_page_item {
      color: var(--light-red);
    }

    aside .post-item a,
    main a,
    .contact a,
    .error a {
      color: var(--light-red);
    }

    main .contact-name {
      color: var(--light-red);
    }

    main .contact-card {
      background-color: var(--light-grey3);
      border: 1px solid var(--light-grey1);
    }

    main .search-results summary {
      color: var(--light-red);
    }

    main details {
      border: 1px solid var(--light-grey1);
    }

    main blockquote {
      border-left: 2px solid var(--light-red);
    }

    aside .post-item {
      background-color: var(--light-grey3);
      border: 1px solid var(--light-grey1);
    }

    .contact section .row {
      border-bottom: 1px solid var(--light-grey1);
    }

    .contact section .row:last-of-type {
      border-bottom: none;
    }

    footer section .row {
      border-bottom: 1px solid var(--light-grey3);
    }

    footer section .row:last-of-type {
      border-bottom: none;
    }
  }

  /* desktops */
  @media (width >=1280px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--light-red);
    }

    footer section:last-of-type h4 {
      color: var(--light-grey3);
    }

    html {
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    header {
      background-color: var(--light-grey2);
      color: var(--light-foreground);
    }

    nav {
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    main {
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    aside {
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    .contact {
      background-color: var(--light-grey2);
      color: var(--light-foreground);
    }

    footer {
      background-color: var(--light-blue);
      color: var(--light-background);
    }

    header .indicator-bar {
      background-color: var(--light-orange);
    }

    header .search-menu input {
      border: 1px solid var(--light-orange);
      background-color: var(--light-background);
      color: var(--light-foreground);
    }

    header .search-menu button {
      border: 1px solid var(--light-orange);
      background-color: var(--light-orange);
      color: var(--light-foreground);
    }

    nav .menu > .menu-item {
      border-top: 1px solid var(--light-grey1);
    }

    nav .menu > .menu-item:last-of-type {
      border-top: 1px solid var(--light-grey1);
    }

    nav .menu > .menu-item:last-of-type {
      border-bottom: 1px solid var(--light-grey1);
    }

    nav .menu .current_page_item {
      color: var(--light-red);
    }

    aside .post-item a,
    main a,
    .contact a,
    .error a {
      color: var(--light-red);
    }

    main .contact-name {
      color: var(--light-red);
    }

    main .contact-card {
      background-color: var(--light-grey3);
      border: 1px solid var(--light-grey1);
    }

    main .search-results summary {
      color: var(--light-red);
    }

    main details {
      border: 1px solid var(--light-grey1);
    }

    main blockquote {
      border-left: 2px solid var(--light-red);
    }

    aside .post-item {
      background-color: var(--light-grey3);
      border: 1px solid var(--light-grey1);
    }

    .contact section .row {
      border-right: 1px solid var(--light-grey1);
    }

    .contact section .row:nth-child(3) {
      border-right: none;
    }

    footer section .row {
      border-right: 1px solid var(--light-grey3);
    }

    footer section .row:nth-child(3) {
      border-right: none;
    }

    footer section .row:nth-child(6) {
      border-right: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  /* mobile */
  @media (0px <=width <=1279px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark-orange);
    }

    footer section:last-of-type h4 {
      color: var(--dark-orange);
    }

    html {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
    }

    header {
      background-color: var(--dark-grey1);
      color: var(--dark-foreground);
    }

    nav {
      background-color: var(--dark-grey2);
      color: var(--dark-foreground);
    }

    main {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
    }

    aside {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
    }

    .contact {
      background-color: var(--dark-grey2);
      color: var(--dark-foreground);
    }

    footer {
      background-color: var(--dark-grey1);
      color: var(--dark-foreground);
    }

    header .indicator-bar {
      background-color: var(--dark-orange);
    }

    header .header-hamburger span {
      background: var(--dark-orange);
    }

    header .search-menu input {
      border: 1px solid var(--dark-orange);
      background-color: var(--dark-foreground);
      color: var(--dark-background);
    }

    header .search-menu button {
      border: 1px solid var(--dark-orange);
      background-color: var(--dark-orange);
      color: var(--dark-background);
    }

    nav .menu > .menu-item {
      border-top: 1px solid var(--dark-grey3);
    }

    nav .menu > .menu-item:last-of-type {
      border-top: 1px solid var(--dark-grey3);
    }

    nav .menu > .menu-item:last-of-type {
      border-bottom: 1px solid var(--dark-grey3);
    }

    nav .menu .current_page_item {
      color: var(--dark-orange);
    }

    aside .post-item a,
    main a,
    .contact a,
    .error a {
      color: var(--dark-orange);
    }

    main .contact-name {
      color: var(--dark-orange);
    }

    main .contact-card {
      background-color: var(--dark-grey2);
      border: 1px solid var(--dark-grey3);
    }

    main .search-results summary {
      color: var(--dark-orange);
    }

    main details {
      border: 1px solid var(--dark-grey3);
    }

    main blockquote {
      border-left: 2px solid var(--dark-orange);
    }

    aside .post-item {
      background-color: var(--dark-grey2);
      border: 1px solid var(--dark-grey3);
    }

    .contact section .row {
      border-bottom: 1px solid var(--dark-grey3);
    }

    .contact section .row:last-of-type {
      border-bottom: none;
    }

    footer section .row {
      border-bottom: 1px solid var(--dark-grey3);
    }

    footer section .row:last-of-type {
      border-bottom: none;
    }
  }

  /* desktops */
  @media (width >=1280px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark-orange);
    }

    footer section:last-of-type h4 {
      color: var(--dark-orange);
    }

    html {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
    }

    header {
      background-color: var(--dark-grey1);
      color: var(--dark-foreground);
    }

    nav {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
    }

    main {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
    }

    aside {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
    }

    .contact {
      background-color: var(--dark-grey2);
      color: var(--dark-foreground);
    }

    footer {
      background-color: var(--dark-grey1);
      color: var(--dark-foreground);
    }

    header .indicator-bar {
      background-color: var(--dark-orange);
    }

    header .search-menu input {
      border: 1px solid var(--dark-orange);
      background-color: var(--dark-foreground);
      color: var(--dark-background);
    }

    header .search-menu button {
      border: 1px solid var(--dark-orange);
      background-color: var(--dark-orange);
      color: var(--dark-background);
    }

    nav .menu > .menu-item {
      border-top: 1px solid var(--dark-grey3);
    }

    nav .menu > .menu-item:last-of-type {
      border-top: 1px solid var(--dark-grey3);
    }

    nav .menu > .menu-item:last-of-type {
      border-bottom: 1px solid var(--dark-grey3);
    }

    nav .menu .current_page_item {
      color: var(--dark-orange);
    }

    aside .post-item a,
    main a,
    .contact a,
    .error a {
      color: var(--dark-orange);
    }

    main .contact-name {
      color: var(--dark-orange);
    }

    main .contact-card {
      background-color: var(--dark-grey2);
      border: 1px solid var(--dark-grey3);
    }

    main .search-results summary {
      color: var(--dark-orange);
    }

    main details {
      border: 1px solid var(--dark-grey3);
    }

    main blockquote {
      border-left: 2px solid var(--dark-orange);
    }

    aside .post-item {
      background-color: var(--dark-grey2);
      border: 1px solid var(--dark-grey3);
    }

    .contact section .row {
      border-right: 1px solid var(--dark-grey3);
    }

    .contact section .row:nth-child(3) {
      border-right: none;
    }

    footer section .row {
      border-right: 1px solid var(--dark-grey3);
    }

    footer section .row:nth-child(3) {
      border-right: none;
    }

    footer section .row:nth-child(6) {
      border-right: none;
    }
  }
}
