/* TAGS */

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;

    /* The image used */
    background-image: url("../images/background.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    color: goldenrod;
}

#wrapper {

    width: 60%;
    aspect-ratio: 3 / 2;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "char1 battletag char2";   

    /* The image used */
    background-image: url("../images/board.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#char1 {
    grid-area: char1;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 8rem;
}

#char2 {
    grid-area: char2;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 8rem;
}

#battletag {
    grid-area: battletag;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 6rem;
}

#battletag div {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    color: red
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}