/* THEMES */

:root {
    --black: #000000;
    --grey: #282A3A;
    --brown: #735F32;
    --gold: #C69749;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    background-color: var(--black);
    color: var(--gold);
}

.wrapper {
    min-height: 100vh;
    width: 100%;
}

/* FONTS */

html {
    font-size: calc(12px + 0.390625vw);
    font-family: 'MedievalSharp', cursive;
}

h1 {
    font-size: 1.25rem;
    font-weight: bold;
}

h2 {
    font-size: 1.0rem;
    text-decoration: underline overline;
    padding: 0.5rem 0;
}

h2:last-of-type {
    padding-bottom: 0;
    color: var(--black);
}

/* VIEWS */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 30vw 1fr;
    grid-template-rows: auto 35vh 1fr 5vh;
    gap: 0px 0px;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "left main right"
        "footer footer footer";
}

nav {
    grid-area: nav;
    border-bottom: 2px solid var(--brown);
}

nav .banner {
    height: 100%;
    width: 30vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 0;
}

nav .banner .title {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .banner button {
    background-color: var(--gold);
    color: var(--grey);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

header {
    grid-area: header;
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    grid-area: left;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

.right {
    grid-area: right;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

.char-img img {
    border-radius: 10px;
}

.char-stats {
    padding: 0.5rem;
}

main {
    grid-area: main;
    background-image: url("../images/leather.jpg");
    background-repeat: repeat;
    box-shadow: inset 0 0 14px var(--black);
    border-left: 1px solid var(--brown);
    border-right: 1px solid var(--brown);
}

main .battletag {
    padding: 1rem;
}

footer {
    grid-area: footer;
    border-top: 2px solid var(--brown);
}