main a {
  text-decoration: underline;
}

main a:hover,
main a:focus {
  text-decoration: none;
}

main blockquote {
  border-bottom: 1px solid currentColor;
  border-left: 5px solid currentColor;
  border-right: 1px solid currentColor;
  border-top: 1px solid currentColor;
  font-style: italic;
  margin: 1rem auto;
  padding: 1rem;
  position: relative;
  width: 100%;
}

main blockquote cite {
  display: block;
  font-size: 0.75rem;
  font-style: normal;
  opacity: 0.75;
}

main blockquote > :last-child {
  margin-bottom: 0;
}

main code {
  border: 1px solid currentColor;
  display: block;
  font-family: monospace;
  font-size: 0.75rem;
  line-height: normal;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  word-wrap: break-word;
}

main details {
  border: 1px solid currentColor;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
}

main details summary {
  cursor: pointer;
  font-weight: 700;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

main details summary::after {
  content: url("../images/chevron-down.svg");
  height: 1.25rem;
  width: 1.25rem;
}

main details[open] summary::after {
  content: url("../images/chevron-up.svg");
  height: 1.25rem;
  width: 1.25rem;
}

main details > * {
  padding: 0 1rem;
}

main details > :nth-child(2) {
  padding-top: 1rem;
  border-top: 1px solid currentColor;
}

main dl {
  margin-bottom: 1rem;
}

main dl dd {
  font-style: italic;
}

main dl dd::after {
  content: "\201D";
}

main dl dd::before {
  content: "\201E";
}

main dl dt {
  clear: left;
  float: left;
  font-weight: 700;
  margin-right: 0.5rem;
}

main dl dt::after {
  content: ":";
}

main em,
main i {
  font-style: italic;
}

main figure {
  margin-bottom: 1rem;
  width: 100%;
}

main figure audio {
  width: 100%;
  border: 1px solid currentColor;
}

main figure figcaption {
  font-size: 0.75rem;
  font-style: italic;
  margin-bottom: 1rem;
  opacity: 0.75;
  text-align: center;
}

main figure iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border: 1px solid currentColor;
}

main figure img {
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
  border: 1px solid currentColor;
}

main figure video {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  border: 1px solid currentColor;
}

main form {
  margin-bottom: 1rem;
}

main form ::-ms-input-placeholder {
  opacity: 0.75;
}

main form ::-webkit-input-placeholder {
  opacity: 0.75;
}

main form ::-moz-placeholder {
  opacity: 0.75;
}

main form :-ms-input-placeholder {
  opacity: 0.75;
}

main form ::placeholder {
  opacity: 0.75;
}

main form button {
  border: 1px solid currentColor;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

main form button:hover {
  opacity: 0.75;
}

main form fieldset {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 1rem;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 1rem;
}

main form fieldset:last-of-type {
  margin-bottom: 0;
}

main form input {
  display: block;
  accent-color: currentColor;
}

main form input[type="button"] {
  border: 1px solid currentColor;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

main form input[type="button"]:hover {
  opacity: 0.75;
}

main form input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid currentColor;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  outline: 0;
}

main form input[type="checkbox"]:checked {
  background: currentColor;
}

main form input[type="checkbox"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

main form input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: crosshair;
  height: 2rem;
  width: 2rem;
  outline: 0;
  background-color: transparent;
  border: none;
}

main form input[type="date"] {
  border: 1px solid currentColor;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="email"] {
  border: 1px solid currentColor;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="file"] {
  border: 1px solid currentColor;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="hidden"] {
  display: none;
}

main form input[type="number"] {
  border: 1px solid currentColor;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="password"] {
  border: 1px solid currentColor;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  outline: 0;
  width: 2rem;
}

main form input[type="radio"]:checked {
  background: currentColor;
}

main form input[type="radio"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

main form input[type="range"] {
  appearance: none;
  background-color: currentColor;
  border: 1px solid currentColor;
  height: 1rem;
  opacity: 1;
  outline: none;
  width: 100%;
}

main form input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

main form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

main form input[type="range"]:hover {
  opacity: 0.75;
}

main form input[type="range"]:focus {
  outline: none;
}

main form input[type="reset"] {
  border: 1px solid currentColor;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

main form input[type="reset"]:hover {
  opacity: 0.75;
}

main form input[type="search"] {
  border: 1px solid currentColor;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="submit"] {
  border: 1px solid currentColor;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

main form input[type="submit"]:hover {
  opacity: 0.75;
}

main form input[type="tel"] {
  border: 1px solid currentColor;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="text"] {
  border: 1px solid currentColor;
  padding: 0.5rem;
  width: 100%;
}

main form input[type="url"] {
  border: 1px solid currentColor;
  font-style: italic;
  padding: 0.5rem;
  width: 100%;
}

main form label {
  font-style: italic;
}

main form legend {
  font-style: italic;
  font-weight: 700;
}

main form meter {
  border: 1px solid currentColor;
  color: currentColor;
  display: block;
  width: 100%;
}

main form meter::-moz-meter-bar {
  background: currentColor;
}

main form meter::-webkit-meter-value {
  background: currentColor;
}

main form progress {
  border: 1px solid currentColor;
  color: currentColor;
  display: block;
  width: 100%;
}

main form progress::-moz-progress-bar {
  background: currentColor;
}

main form progress::-webkit-progress-value {
  background: currentColor;
}

main form select {
  border: 1px solid currentColor;
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  width: 100%;
}

main form textarea {
  border: 1px solid currentColor;
  display: block;
  padding: 0.5rem;
  width: 100%;
}

main hr {
  border-top: 1px dotted currentColor;
  margin: 2rem 0;
}

main ol {
  list-style-position: inside;
  list-style-type: upper-roman;
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 1rem;
}

main picture {
  width: 100%;
}

main picture img {
  margin-bottom: 1rem;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: middle;
  width: 100%;
}

main s,
main del {
  opacity: 0.75;
  text-decoration: line-through;
}

main samp {
  font-family: monospace;
}

main small {
  font-size: smaller;
}

main strong,
main b {
  font-weight: 700;
}

main sub {
  font-size: smaller;
  vertical-align: sub;
}

main sup {
  font-size: smaller;
  vertical-align: super;
}

main table {
  border-collapse: collapse;
  font-size: 0.75rem !important;
  margin-bottom: 1rem;
  overflow-x: auto;
  width: 100%;
}

main table caption {
  font-size: 0.75rem;
  font-style: italic;
  margin-bottom: 1rem;
  opacity: 0.75;
  text-align: center;
}

main table tbody tr {
  border-bottom: 1px solid currentColor;
}

main table tbody tr td {
  padding: 0.5rem;
}

main table tbody tr:hover {
  opacity: 0.75;
}

main table tbody tr:last-of-type {
  border-bottom: none;
}

main table tbody tr:nth-child(odd) {
  opacity: 0.75;
}

main table tfoot tr th {
  border-top: 1px solid currentColor;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: left;
}

main table thead tr th {
  border-bottom: 1px solid currentColor;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: left;
}

main ul {
  list-style-position: outside;
  list-style-type: square;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

aside address {
  font-style: italic;
}
