/* grid */

html,
body,
.wrapper {
    height: auto;
    width: 100vw;

    min-height: 100vh;
    min-width: 100vw;

    max-width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper>main {
    grid-area: main;
}

/* grid */

.wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    grid-template-areas:
        "main";
}

/* main */

.wrapper>main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper>main .row select {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid currentColor;
}