/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
}

/* HEADER */

header section {
  height: 100vh;
}

header .parallax-title {
  width: 100%;

  position: fixed;
  top: 2rem;
  z-index: 1;

  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
}

header .parallax-front {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

/* MAIN */

main section {
  height: 100vh;
  padding: 4rem;
}
