/* THEMES */

body {
    --frame_vh: 2vh;
    --frame_vw: 2vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --black: #303841;
    --grey: #3A4750;
    --yellow: #F6C90E;
    --white: #EEEEEE;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

nav {
    grid-area: nav;
    width: 100%;
}

header {
    grid-area: header;
    width: 100%;
}

main {
    grid-area: main;
    width: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 3.0rem;
    padding-top: 0.67rem;
    padding-bottom: 0.67rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-size: 1.5rem;
    padding-top: 0.83rem;
    padding-bottom: 0.83rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-size: 1.17rem;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    font-weight: bold;
}

h4 {
    font-size: 1.0rem;
    padding-bottom: 1.0rem;
    font-weight: bold;
}

/* COLORS */

body {
    background-color: var(--black);
    color: var(--white);
}

/* GRID */

/* mobil */
@media only screen and (max-width: 767px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer";
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer";
    }
}

/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    .wrapper {
        display: grid;
        grid-template-columns: 40vw 1fr auto;
        grid-template-rows: 100vh auto;
        gap: 0px 0px;
        grid-template-areas:
            "nav header footer"
            "nav main footer";
    }
}

/* desktop */
@media only screen and (min-width: 1920px) {
    .wrapper {
        display: grid;
        grid-template-columns: 40vw 1fr auto;
        grid-template-rows: 100vh auto;
        gap: 0px 0px;
        grid-template-areas:
            "nav header footer"
            "nav main footer";
    }
}

/* NAV */

/* mobil */
@media only screen and (max-width: 767px) {
    nav .row {
        background-color: var(--yellow);
        opacity: var(--opac);
    }

    nav #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav #logo img {
        height: 50vh;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    nav .row {
        background-color: var(--yellow);
        opacity: var(--opac);
    }

    nav #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav #logo img {
        height: 50vh;
    }
}

/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    nav {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    nav .row {
        background-color: var(--yellow);
        opacity: var(--opac);
    }

    nav #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav #logo img {
        height: 100vh;
    }
}

/* desktop */
@media only screen and (min-width: 1920px) {
    nav {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    nav .row {
        background-color: var(--yellow);
        opacity: var(--opac);
    }

    nav #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav #logo img {
        height: 100vh;
    }
}

/* HEADER */

/* mobil */
@media only screen and (max-width: 767px) {
    header .row {
        height: 100%;
    }

    header .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    header .row {
        height: 100%;
    }

    header .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    header .row {
        height: 100%;
    }

    header .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    h1 {
        background-color: var(--black);
        position: relative;
        z-index: 5555;
        margin-left: -30%;
        padding: 3vh 3vw;
    }
}

/* desktop */
@media only screen and (min-width: 1920px) {
    header .row {
        height: 100%;
    }

    header .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    h1 {
        background-color: var(--black);
        position: relative;
        z-index: 5555;
        margin-left: -30%;
        padding: 3vh 3vw;
    }
}

/* MAIN */

/* mobil */
@media only screen and (max-width: 767px) {
    main .row {
        border-bottom: 1px solid var(--grey);
        border-top: 1px solid var(--grey);
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    main .row {
        border-bottom: 1px solid var(--grey);
        border-top: 1px solid var(--grey);
    }
}

/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    main .row {
        border-bottom: 1px solid var(--grey);
        border-top: 1px solid var(--grey);
    }
}

/* desktop */
@media only screen and (min-width: 1920px) {
    main .row {
        border-bottom: 1px solid var(--grey);
        border-top: 1px solid var(--grey);
    }
}

/* FOOTER */

/* mobil */
@media only screen and (max-width: 767px) {
    footer #social {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: var(--linebreak);
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    footer #social {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: var(--linebreak);
    }
}

/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    footer {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    footer .row {
        border-left: 1px solid var(--grey);
    }

    footer #social {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: var(--linebreak);
    }
}

/* desktop */
@media only screen and (min-width: 1920px) {
    footer {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    footer .row {
        border-left: 1px solid var(--grey);
    }

    footer #social {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: var(--linebreak);
    }
}

/* MARGIN & PADDING */

/* mobil */
@media only screen and (max-width: 767px) {
    .row {
        padding: calc(var(--frame_vh)*2) calc(var(--frame_vw)*2);
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    .row {
        padding: calc(var(--frame_vh)*2) calc(var(--frame_vw)*2);
    }
}

/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    header .row {
        padding: calc(var(--frame_vh)) calc(var(--frame_vw));
    }

    main .row {
        padding: calc(var(--frame_vh)) calc(var(--frame_vw));
    }

    footer .row {
        padding: 0 calc(var(--frame_vw));
    }
}

/* desktop */
@media only screen and (min-width: 1920px) {
    header .row {
        padding: calc(var(--frame_vh)) calc(var(--frame_vw));
    }

    main .row {
        padding: calc(var(--frame_vh)) calc(var(--frame_vw));
    }

    footer .row {
        padding: 0 calc(var(--frame_vw));
    }
}

/* OTHER ELEMENTS */

p {
    margin-bottom: var(--linebreak);
}

a {
    text-decoration: underline;
}

a:hover {
    color: var(--yellow);
}

.years {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--linebreak);
    grid-template-areas:
        "time job"
        "time office";
    font-size: 0.83rem;
    margin-bottom: 1rem;
}

.time {
    grid-area: time;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    color: var(--yellow);
}

.job {
    grid-area: job;
}

.office {
    grid-area: office;
}

.skills {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: var(--linebreak);

    font-size: 0.83rem;
    margin-bottom: 1rem;
}

progress {
    display: block;
    background-color: var(--grey);
    width: 100%;
}

progress::-moz-progress-bar {
    background: var(--yellow);
}

progress::-webkit-progress-bar {
    background: var(--yellow);
}