/* grid */

html,
body,
.wrapper {
    height: auto;
    width: 100vw;

    min-height: 100vh;
    min-width: 100vw;

    max-width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper>header {
    grid-area: header;
    max-height: 768px;
}

.wrapper>nav {
    grid-area: nav;
}

.wrapper>main {
    grid-area: main;
    min-height: 50vh;
}

.wrapper>aside {
    grid-area: aside;
}

.wrapper>footer {
    grid-area: footer;
}

/* mobile */

@media (0px <=width <=480px) {

    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }

    /* nav */

    .wrapper>nav .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .wrapper>nav .main-menu .current-page-item>a {
        font-weight: bold;
    }

    /* aside */

    .wrapper>aside .row {
        text-align: center;
    }

    /* footer */

    .wrapper>footer .row {
        text-align: center;
    }

    /* icons */

    .wrapper .icon-brown {
        display: none;
    }

    .wrapper .icon-cony {
        display: none;
    }
}

/* tablet */

@media (481px <=width <=768px) {

    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }

    /* nav */

    .wrapper>nav .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .wrapper>nav .main-menu .current-page-item>a {
        font-weight: bold;
    }

    /* aside */

    .wrapper>aside .row {
        text-align: center;
    }

    /* footer */

    .wrapper>footer .row {
        text-align: center;
    }

    /* icons */

    .wrapper .icon-brown {
        display: none;
    }

    .wrapper .icon-cony {
        display: none;
    }
}

/* laptop */

@media (769px <=width <=1279px) {

    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }

    .row {
        max-width: 1024px;
        margin: auto;
    }

    /* nav */

    .wrapper>nav .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .wrapper>nav .main-menu .current-page-item>a {
        font-weight: bold;
    }

    /* aside */

    .wrapper>aside .row {
        text-align: center;
    }

    /* footer */

    .wrapper>footer .row {
        text-align: center;
    }

    /* icons */

    .wrapper .icon-brown {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }

    .wrapper .icon-cony {
        position: fixed;
        top: 0;
        right: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }
}

/* desktops */

@media (width >=1280px) {

    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }

    .row {
        max-width: 1024px;
        margin: auto;
    }

    /* nav */

    .wrapper>nav .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .wrapper>nav .main-menu .current-page-item>a {
        font-weight: bold;
    }

    /* aside */

    .wrapper>aside .row {
        text-align: center;
    }

    /* footer */

    .wrapper>footer .row {
        text-align: center;
    }

    /* icons */

    .wrapper .icon-brown {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }

    .wrapper .icon-cony {
        position: fixed;
        top: 0;
        right: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }
}