/* THEME */

:root {
  --background-color: #282a36;
  --foreground-color: #f8f8f2;
  --shadow-1-color: #44475a;
  --shadow-2-color: #8be9fd;
  --primary-color: #ffb86c;
  --secondary-color: #f1fa8c;
}

/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

main h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

main .post .author {
  font-size: small;
}

main .post .published {
  font-size: small;
}

main .post .title {
  text-transform: uppercase;
}

main .post .content {
  font-family: monospace;
}

main .post .link {
  text-decoration: underline;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: clamp(16rem, 80vw, 70rem);
  margin: auto;
}

main section {
  padding: 2rem;
}

/* BLOG */

.blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-wrapper article {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

article .post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

/* COLORS */

/* COLORS */

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

main h1 {
  color: var(--primary-color);
}

main h2 {
  color: var(--secondary-color);
}

article {
  background-color: var(--shadow-1-color);
  color: var(--foreground-color);
}

main .post .title,
main .post .link {
  color: var(--shadow-2-color);
}
