:root {
    --light-background: #ffffff;
    --light-color: #3a3b44;
    --light-scale-1: #fafafc;
    --light-scale-2: #eaeaed;
    --light-scale-3: #aaaaaf;

    --dark-background: #1a1a23;
    --dark-color: #fafafc;
    --dark-scale-1: #2a2b35;
    --dark-scale-2: #5a5b63;
    --dark-scale-3: #aaaaaf;
}

/* mobile */

@media (0px <=width <=480px) {

    /* fonts */

    body {
        font-size: 14px;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    /* spacing */

    main .row {
        width: clamp(16rem, 90vw, 70rem);
        margin: 1rem auto;
    }
}

/* tablet */

@media (481px <=width <=768px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    /* spacing */

    main .row {
        width: clamp(16rem, 90vw, 70rem);
        margin: 2rem auto;
    }
}

/* laptop */

@media (769px <=width <=1279px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    /* spacing */

    main .row {
        width: clamp(16rem, 90vw, 70rem);
        margin: 3rem auto;
    }
}


/* desktops */

@media (width >=1280px) {

    /* fonts */

    body {
        font-size: 18px;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    /* spacing */

    main .row {
        width: clamp(16rem, 90vw, 70rem);
        margin: 4rem auto;
    }
}

@media (prefers-color-scheme: light) {
    .wrapper>main {
        background-color: var(--light-background);
        color: var(--light-color);
    }

    .wrapper>main .flex-gallery .item {
        background-color: currentColor;
        border: 2px solid currentColor;
        box-shadow: 0px 0px 8px var(--light-scale-3);
    }

    .wrapper>main .flex-gallery .item img {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
    }

    .wrapper>main .flex-gallery .item:hover>img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
    }

    .wrapper>main .grid-gallery .item img {
        border: 2px solid currentColor;
        transition: 1s ease-in-out;
    }

    .wrapper>main .grid-gallery .item:hover>img {
        transform: scale(1.1);
    }
}

@media (prefers-color-scheme: dark) {
    .wrapper>main {
        background-color: var(--dark-background);
        color: var(--dark-color);
    }

    .wrapper>main .flex-gallery .item {
        background-color: currentColor;
        border: 2px solid currentColor;
        box-shadow: 0px 0px 8px var(--dark-scale-3);
    }

    .wrapper>main .flex-gallery .item img {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
    }

    .wrapper>main .flex-gallery .item:hover>img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
    }

    .wrapper>main .grid-gallery .item img {
        background-color: currentColor;
        border: 2px solid currentColor;
        transition: 1s ease-in-out;
    }

    .wrapper>main .grid-gallery .item:hover>img {
        transform: scale(1.1);
    }
}