/* THEMES */

body {
    --frame_vh: 2vh;
    --frame_vw: 2vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --pink: #E0C3FC;
    --blue: #8EC5FC;
    --white: #EFEFEF;
    --black: #212121;

    --scale75: rgba(28, 28, 28, .75);
    --scale50: rgba(28, 28, 28, .5);
    --scale25: rgba(28, 28, 28, .25);
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
}

/* COLORS */

body {
    background-image: linear-gradient(62deg, rgb(142, 197, 252) 0%, rgb(224, 195, 252) 100%);
}

/* TEMPLATE */

.gallery {
    max-width: 1200px;
    padding: var(--frame_vh) var(--frame_vw);
    margin: auto;

    width: 100%;
    display: flex;
    gap: calc(var(--frame_vw)/2);
}

.gallery-column {
    display: flex;
    flex-direction: column;
    gap: calc(var(--frame_vw)/2);
}

.lightbox {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 8px var(--scale50);
}

img {
    display: block;
    width: 100%;
    transition: 0.3s;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5%;

    background-color: var(--white);
    color: var(--black);
    opacity: 0;
}

.gallery:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.lightbox:hover>img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.lightbox:hover>figcaption {
    opacity: 1;
}

img:hover {
    transform: scale(1.1);
}