/* THEMES */

:root {
    --lightblue: #c7eafc;
    --darkblue: #06a7e1;
    --orange: #fec97d;
    --brown: #a86652;
    --pink: #ee4c95;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    line-height: 1.4;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    background-color: var(--orange);
    color: var(--brown);
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
    max-height: 768px;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

section {
    max-width: 1024px;
    margin: auto;
}

/* MEDIA QUERIES */

/* phones */
@media (width <=767px) {

    /* ICONS */

    .icon-brown {
        display: none;
    }

    .icon-cony {
        display: none;
    }

}

/* tablets */
@media (768px <=width <=1279px) {

    header {
        background-image: url("../img/back.png");
        background-repeat: repeat-x;
    }

    /* ICONS */

    .icon-brown {
        display: none;
    }

    .icon-cony {
        display: none;
    }
}

/* laptops */
@media (1280px <=width <=1919px) {

    /* HEADER */

    header {
        background-image: url("../img/back.png");
        background-repeat: repeat-x;
    }

    /* ICONS */

    .icon-brown {
        display: none;
    }

    .icon-cony {
        display: none;
    }
}

/* desktops */
@media (width >=1920px) {

    /* HEADER */

    header {
        background-image: url("../img/back.png");
        background-repeat: repeat-x;
    }

    /* ICONS */

    .icon-brown {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 10%;
        height: auto;
    }

    .icon-cony {
        position: fixed;
        top: 0;
        right: 0;

        width: 10%;
        height: auto;
    }
}


/* NAV */

nav section {
    padding: 1rem;
}

nav section .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-weight: bold;
    font-size: 1.5rem;
}

/* MAIN */

main section {
    padding: 1rem;
}

/* FOOTER */

footer section {
    text-align: center;
    padding: 1rem;
}