/* THEMES */

:root {
    --background-color: #fec97d;
    --foreground-color: #a86652;

    --primary-color: #ffffff;
    --secondary-color: #eea451;
    --tertiary-color: #ee4c95;

    --shadow-1-color: #c7eafc;
    --shadow-2-color: #06a7e1;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    line-height: 1.4;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main h1 {
    font-size: 2.5rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.0rem;
    text-align: center;
}

main h2 {
    font-size: 2.0rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.0rem;
    text-align: center;
}

main h3 {
    font-size: 1.75rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.0rem;
    text-align: center;
}

main h4 {
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.0rem;
    text-align: center;
}

main h5 {
    font-size: 1.25rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.0rem;
    text-align: center;
}

main h6 {
    font-size: 1.125rem;
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.0rem;
    text-align: center;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    grid-area: header;
    max-height: 768px;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

section {
    max-width: 1024px;
    margin: auto;
}

/* phones */
@media (width <=767px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
    }

    .icon-brown {
        display: none;
    }

    .icon-cony {
        display: none;
    }

    nav section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: center;
        align-items: flex-end;
    }

    nav .btn-hamburger {
        display: block;
        width: 40px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }

    nav .btn-hamburger span {
        position: absolute;
        height: 6px;
        width: 100%;
        background-color: currentColor;
        transition: all 0.5s;
    }

    nav .btn-hamburger span:nth-of-type(1) {
        top: 0px;
    }

    nav .btn-hamburger span:nth-of-type(2) {
        top: 12px;
    }

    nav .btn-hamburger span:nth-of-type(3) {
        top: 24px;
    }

    nav .btn-hamburger.open span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    nav .btn-hamburger.open span:nth-of-type(2) {
        opacity: 0;
    }

    nav .btn-hamburger.open span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
    }

    nav #menu {
        display: none;
        transition: all 0.5s;
    }

    nav #menu.open {
        display: block;
        width: 100%;
    }

    nav .main-menu .menu-item a {
        display: block;
        width: 100%;
    }

    nav .main-menu .menu-item-has-children>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    nav .main-menu .menu-item-has-children>a:after {
        content: "▾";
        font-size: 1rem;
        font-style: normal;
        transform: rotate(0deg);
        transition: all 0.5s;
    }

    nav .main-menu .menu-item-has-children.active>a:after {
        transform: rotate(180deg);
    }

    nav .main-menu .sub-menu {
        height: 0;
        overflow: hidden;
        font-size: 0.83rem;
    }

    nav .main-menu .active>.sub-menu {
        display: block;
        height: auto;
        transition: all 0.5s;
    }

    nav .main-menu .current-page-item {
        font-weight: bold;
    }

    footer span {
        display: block;
        text-align: center;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav {
        background-color: var(--shadow-1-color);
        color: var(--shadow-2-color);
    }

    nav .main-menu .menu-item {
        border-top: 1px solid var(--shadow-2-color);
    }

    nav .sub-menu .menu-item {
        border-top: 1px solid var(--shadow-1-color);
    }

    nav .main-menu>.menu-item:first-of-type {
        border-top: 1px solid var(--shadow-2-color);
    }

    nav .main-menu>.menu-item:last-of-type {
        border-bottom: 1px solid var(--shadow-2-color);
    }

    nav .sub-menu .menu-item {
        background-color: var(--shadow-2-color);
        color: var(--shadow-1-color);
    }

    /* PADDINGS */

    nav .btn-hamburger {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    nav .main-menu .menu-item a {
        padding: 1rem;
    }

    nav .sub-menu .menu-item a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    nav .sub-menu .sub-menu .menu-item a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 1rem;
    }

    main section {
        padding: 1rem;
    }

    footer section {
        padding: 1rem;
    }
}

/* tablets */
@media (768px <=width <=1024px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
    }

    .icon-brown {
        display: none;
    }

    .icon-cony {
        display: none;
    }

    header {
        background-image: url("../img/back.png");
        background-repeat: repeat-x;
    }

    nav section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        justify-content: center;
        align-items: flex-end;
    }

    nav .btn-hamburger {
        display: block;
        width: 40px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }

    nav .btn-hamburger span {
        position: absolute;
        height: 6px;
        width: 100%;
        background-color: currentColor;
        transition: all 0.5s;
    }

    nav .btn-hamburger span:nth-of-type(1) {
        top: 0px;
    }

    nav .btn-hamburger span:nth-of-type(2) {
        top: 12px;
    }

    nav .btn-hamburger span:nth-of-type(3) {
        top: 24px;
    }

    nav .btn-hamburger.open span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    nav .btn-hamburger.open span:nth-of-type(2) {
        opacity: 0;
    }

    nav .btn-hamburger.open span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg);
    }

    nav #menu {
        display: none;
        transition: all 0.5s;
    }

    nav #menu.open {
        display: block;
        width: 100%;
    }

    nav .main-menu .menu-item a {
        display: block;
        width: 100%;
    }

    nav .main-menu .menu-item-has-children>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    nav .main-menu .menu-item-has-children>a:after {
        content: "▾";
        font-size: 1rem;
        font-style: normal;
        transform: rotate(0deg);
        transition: all 0.5s;
    }

    nav .main-menu .menu-item-has-children.active>a:after {
        transform: rotate(180deg);
    }

    nav .main-menu .sub-menu {
        height: 0;
        overflow: hidden;
        font-size: 0.83rem;
    }

    nav .main-menu .active>.sub-menu {
        display: block;
        height: auto;
        transition: all 0.5s;
    }

    nav .main-menu .current-page-item {
        font-weight: bold;
    }

    footer span {
        display: block;
        text-align: center;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav {
        background-color: var(--shadow-1-color);
        color: var(--shadow-2-color);
    }

    nav .main-menu .menu-item {
        border-top: 1px solid var(--shadow-2-color);
    }

    nav .sub-menu .menu-item {
        border-top: 1px solid var(--shadow-1-color);
    }

    nav .main-menu>.menu-item:first-of-type {
        border-top: 1px solid var(--shadow-2-color);
    }

    nav .main-menu>.menu-item:last-of-type {
        border-bottom: 1px solid var(--shadow-2-color);
    }

    nav .sub-menu .menu-item {
        background-color: var(--shadow-2-color);
        color: var(--shadow-1-color);
    }

    /* PADDINGS */

    nav .btn-hamburger {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    nav .main-menu .menu-item a {
        padding: 1rem;
    }

    nav .sub-menu .menu-item a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    nav .sub-menu .sub-menu .menu-item a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 1rem;
    }

    main section {
        padding: 1rem;
    }

    footer section {
        padding: 1rem;
    }
}

/* laptops */
@media (1025px <=width <=1919px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }

    .icon-brown {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }

    .icon-cony {
        position: fixed;
        top: 0;
        right: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }

    header {
        background-image: url("../img/back.png");
        background-repeat: repeat-x;
    }

    nav .btn-hamburger {
        display: none;
    }

    nav .main-menu {
        display: block;
    }

    nav .main-menu .menu-item {
        display: block;
        float: left;
        white-space: nowrap;
        position: relative;
    }

    nav .main-menu .menu-item a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav .main-menu .sub-menu {
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 222;
        transition: opacity 0.5s;
    }

    nav .main-menu .sub-menu .menu-item {
        float: none;
    }

    nav .main-menu .sub-menu .menu-item a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav .main-menu .menu-item:hover>.sub-menu {
        left: 0;
        opacity: 1;
        z-index: 333;
    }

    nav .sub-menu .menu-item:hover>.sub-menu {
        top: 0;
        left: 100%;
    }

    nav .main-menu .menu-item-has-children>a:after {
        content: "▾";
        font-style: normal;
        float: right;
    }

    nav .sub-menu .menu-item-has-children>a:after {
        content: "▸";
        font-style: normal;
        float: right;
    }

    nav .main-menu .current-page-item {
        font-weight: bold;
    }

    footer span {
        display: block;
        text-align: center;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav {

        border-image: linear-gradient(to right, rgba(254, 201, 125, 1) 0, rgba(238, 164, 81, 1) 50%, rgba(238, 164, 81, 1) 50%, rgba(254, 201, 125, 1)) 1;
        border-width: 2px;
        border-style: solid;
    }

    nav .main-menu .menu-item:hover {
        color: var(--primary-color);
    }

    nav .sub-menu .menu-item {
        background-color: var(--foreground-color);
        color: var(--background-color);
    }

    /* PADDINGS */

    nav .main-menu .menu-item {
        padding: 0.5rem 1rem;
    }

    nav .main-menu .menu-item-has-children>a:after,
    nav .sub-menu .menu-item-has-children>a:after {
        padding-left: 0.5rem;
    }

    main section {
        padding: 2rem 1rem;
    }

    footer section {
        padding: 1rem;
    }
}

/* desktops */
@media (width >=1920px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        gap: 0px 0px;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }

    .icon-brown {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }

    .icon-cony {
        position: fixed;
        top: 0;
        right: 0;
        width: 10%;
        height: auto;
        z-index: 222;
    }

    header {
        background-image: url("../img/back.png");
        background-repeat: repeat-x;
    }

    nav .btn-hamburger {
        display: none;
    }

    nav .main-menu {
        display: block;
    }

    nav .main-menu .menu-item {
        display: block;
        float: left;
        white-space: nowrap;
        position: relative;
    }

    nav .main-menu .menu-item a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav .main-menu .sub-menu {
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 222;
        transition: opacity 0.5s;
    }

    nav .main-menu .sub-menu .menu-item {
        float: none;
    }

    nav .main-menu .sub-menu .menu-item a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav .main-menu .menu-item:hover>.sub-menu {
        left: 0;
        opacity: 1;
        z-index: 333;
    }

    nav .sub-menu .menu-item:hover>.sub-menu {
        top: 0;
        left: 100%;
    }

    nav .main-menu .menu-item-has-children>a:after {
        content: "▾";
        font-style: normal;
        float: right;
    }

    nav .sub-menu .menu-item-has-children>a:after {
        content: "▸";
        font-style: normal;
        float: right;
    }

    nav .main-menu .current-page-item {
        font-weight: bold;
    }

    footer span {
        display: block;
        text-align: center;
    }

    /* COLORS */

    html {
        background-color: var(--background-color);
        color: var(--foreground-color);
    }

    nav {

        border-image: linear-gradient(to right, rgba(254, 201, 125, 1) 0, rgba(238, 164, 81, 1) 50%, rgba(238, 164, 81, 1) 50%, rgba(254, 201, 125, 1)) 1;
        border-width: 2px;
        border-style: solid;
    }

    nav .main-menu .menu-item:hover {
        color: var(--primary-color);
    }

    nav .sub-menu .menu-item {
        background-color: var(--foreground-color);
        color: var(--background-color);
    }

    /* PADDINGS */

    nav .main-menu .menu-item {
        padding: 0.5rem 1rem;
    }

    nav .main-menu .menu-item-has-children>a:after,
    nav .sub-menu .menu-item-has-children>a:after {
        padding-left: 0.5rem;
    }

    main section {
        padding: 2rem 1rem;
    }

    footer section {
        padding: 1rem;
    }
}