/* THEMES */

:root {
    --background-color: #1b1b1b;
    --foreground-color: #ffffff;

    --shadow-1-color: #333333;
    --shadow-2-color: #888888;
    --shadow-3-color: #666666;
    --shadow-4-color: #444444;

    --primary-color: #8cb4ff;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    line-height: 1.4;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
aside {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.0rem;
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 1.0rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 1.0rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 1.0rem;
}

h6 {
    font-size: 1.125rem;
    margin-bottom: 1.0rem;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}


/* phones */
@media (width <=767px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto auto;
        gap: 0;
        grid-template-areas: "header aside" "main main" "nav nav"
    }

    aside section,
    header section {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center
    }

    header .header-logo {
        height: 48px
    }

    aside section {
        justify-content: flex-end
    }

    aside button {
        cursor: pointer
    }

    aside .button-item-name {
        display: none
    }

    nav {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%
    }

    nav .main-menu,
    nav .menu-item a {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center
    }

    nav .menu-item-name {
        display: none
    }

    nav .menu-item a {
        justify-content: center
    }

    main .dashboard,
    main .dashboard .dashboard-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }

    main .dashboard .dashboard-item {
        grid-template-columns: 1fr auto
    }

    main .dashboard .statistic-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr
    }

    main .dashboard .dashboard-item .dashboard-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end
    }

    html {
        background-color: var(--background-color)
    }

    aside,
    header,
    nav {
        background-color: var(--shadow-1-color);
        color: var(--shadow-2-color)
    }

    aside,
    header {
        border-bottom: 1px solid var(--shadow-2-color)
    }

    nav {
        border-top: 1px solid var(--shadow-2-color)
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav .main-menu .current-menu-item {
        color: var(--primary-color)
    }

    aside button:hover,
    html,
    nav .main-menu .menu-item:hover {
        color: var(--foreground-color)
    }

    main .dashboard .dashboard-item,
    main .dashboard .statistic-item {
        background-color: var(--shadow-1-color);
        border: 1px solid var(--shadow-2-color);
        border-radius: .25rem;
        padding: 1rem
    }

    main .dashboard .dashboard-item .dashboard-right {
        color: var(--shadow-2-color)
    }

    aside section,
    header section {
        padding: .5rem 1rem
    }

    main section {
        padding: 1rem;
        margin-bottom: 4rem
    }

    nav section {
        padding: .5rem 1rem
    }

    main .dashboard,
    nav .main-menu {
        gap: 1rem
    }
}

/* tablets */
@media (768px <=width <=1279px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0;
        grid-template-areas: "header aside" "nav main"
    }

    aside section,
    header section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    header .header-logo {
        height: 64px
    }

    aside section {
        justify-content: flex-end
    }

    aside button {
        cursor: pointer
    }

    aside .button-item-name {
        display: none
    }

    nav section {
        position: sticky;
        top: 0
    }

    nav .main-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    nav .menu-item-name {
        display: none
    }

    html {
        background-color: var(--background-color)
    }

    aside,
    header,
    nav {
        color: var(--shadow-2-color)
    }

    header,
    nav {
        background-color: var(--shadow-1-color);
        border-right: 1px solid var(--shadow-2-color)
    }

    aside {
        border-bottom: 1px solid var(--shadow-2-color)
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav .main-menu .current-menu-item {
        color: var(--primary-color)
    }

    aside button:hover,
    html,
    nav .main-menu .menu-item:hover {
        color: var(--foreground-color)
    }

    main .dashboard .dashboard-item,
    main .dashboard .statistic-item {
        background-color: var(--shadow-1-color);
        border: 1px solid var(--shadow-2-color);
        border-radius: .25rem
    }

    main .dashboard .dashboard-item .dashboard-right {
        color: var(--shadow-2-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end
    }

    header section {
        padding: .5rem 1rem
    }

    aside section {
        padding: .5rem 2rem
    }

    main section {
        padding: 1rem 2rem;
        margin-bottom: 2rem
    }

    nav section {
        padding: 1rem
    }

    nav .main-menu {
        gap: 1rem
    }

    main .dashboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem
    }

    main .dashboard .dashboard-item {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto
    }

    main .dashboard .statistic-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr
    }

    main .dashboard .dashboard-item,
    main .dashboard .statistic-item {
        padding: 2rem
    }
}

/* laptops */
@media (1280px <=width <=1919px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0;
        grid-template-areas: "header aside" "nav main"
    }

    aside section,
    header section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    header .header-logo {
        height: 80px
    }

    aside section {
        justify-content: flex-end
    }

    aside button,
    nav .main-menu .menu-item a {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    aside button {
        cursor: pointer;
        justify-content: center
    }

    nav section {
        position: sticky;
        top: 0
    }

    nav .main-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    nav .main-menu .menu-item a {
        justify-content: flex-start
    }

    main .dashboard {
        columns: 2
    }

    main .dashboard .dashboard-item {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        margin-bottom: 2rem
    }

    main .dashboard .statistic-item {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr
    }

    main .dashboard .dashboard-item .dashboard-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end
    }

    html {
        background-color: var(--background-color)
    }

    aside,
    header,
    nav {
        color: var(--shadow-2-color)
    }

    header,
    nav {
        background-color: var(--shadow-1-color);
        border-right: 1px solid var(--shadow-2-color)
    }

    aside {
        border-bottom: 1px solid var(--shadow-2-color)
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav .main-menu .current-menu-item {
        color: var(--primary-color)
    }

    aside button:hover,
    html,
    nav .main-menu .menu-item:hover {
        color: var(--foreground-color)
    }

    main .dashboard .dashboard-item,
    main .dashboard .statistic-item {
        background-color: var(--shadow-1-color);
        border: 1px solid var(--shadow-2-color);
        border-radius: .25rem;
        padding: 1rem
    }

    main .dashboard .dashboard-item .dashboard-right {
        color: var(--shadow-2-color)
    }

    header section {
        padding: 1rem 2rem
    }

    aside section {
        padding: 1rem 3rem
    }

    main section {
        padding: 2rem 3rem;
        margin-bottom: 3rem
    }

    nav section {
        padding: 2rem
    }

    nav .main-menu {
        gap: 1rem
    }

    nav .menu-item-name {
        margin-left: 1rem
    }

    main .dashboard {
        gap: 2rem
    }
}

/* desktops */
@media (width >=1920px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0;
        grid-template-areas: "header aside" "nav main"
    }

    aside section,
    header section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    header .header-logo {
        height: 96px
    }

    aside section {
        justify-content: flex-end
    }

    aside button,
    nav .main-menu .menu-item a {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    aside button {
        cursor: pointer;
        justify-content: center
    }

    nav section {
        position: sticky;
        top: 0
    }

    nav .main-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    nav .main-menu .menu-item a {
        justify-content: flex-start
    }

    main .dashboard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem
    }

    main .dashboard .dashboard-item {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto
    }

    main .dashboard .statistic-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr
    }

    main .dashboard .dashboard-item .dashboard-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        color: var(--shadow-2-color)
    }

    main .dashboard .dashboard-item,
    main .dashboard .statistic-item {
        background-color: var(--shadow-1-color);
        border: 1px solid var(--shadow-2-color);
        border-radius: .25rem;
        padding: 1rem
    }

    html {
        background-color: var(--background-color)
    }

    aside,
    header,
    nav {
        color: var(--shadow-2-color)
    }

    header,
    nav {
        background-color: var(--shadow-1-color);
        border-right: 1px solid var(--shadow-2-color)
    }

    aside {
        border-bottom: 1px solid var(--shadow-2-color)
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav .main-menu .current-menu-item {
        color: var(--primary-color)
    }

    header section {
        padding: 1rem 2rem
    }

    aside section {
        padding: 1rem 3rem
    }

    main section {
        padding: 2rem 3rem;
        margin-bottom: 3rem
    }

    nav section {
        padding: 2rem
    }

    nav .main-menu {
        gap: 1rem
    }

    nav .menu-item-name {
        margin-left: 1rem
    }

    aside button:hover,
    html,
    nav .main-menu .menu-item:hover {
        color: var(--foreground-color)
    }
}

/* DATATABLES RESET */

@media (width >=0px) {
    main .responsive-table {
        width: 100%;
        overflow-x: auto;
        font-size: .83rem !important
    }

    main .dt-paging nav {
        margin: 0;
        padding: 0;
        display: block;
        border: 0;
        position: unset;
        display: flex;
        flex-direction: row
    }

    main .dt-paging nav button {
        background-color: var(--shadow-1-color) !important;
        color: var(--shadow-2-color) !important;
        border: 1px solid var(--shadow-2-color) !important;
        cursor: pointer
    }

    main .dt-search input {
        margin-left: 0 !important
    }
}

/* LOGIN / TICKET */

@media (width >=0px) {
    .container {
        min-height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 1rem;

        font-size: 0.83rem;
    }

    .container .login {
        background-color: var(--shadow-1-color);
        color: var(--foreground-color);
        border: 1px solid var(--shadow-2-color);
        border-radius: 0.25rem;
        padding: 1rem;

        max-width: 500px;
        width: 100%;
    }

    .container .tabs {
        max-width: 750px;
        width: 100%;
    }

    .container .tabs .tab-navigator {
        display: flex;
        flex-direction: row;
    }

    .container .tabs .tab-navigator button {
        width: 33.333%;
        text-align: center;
        background-color: var(--shadow-3-color);
        color: var(--shadow-2-color);
        border: 1px solid var(--shadow-2-color);
        border-right: none;
        padding: 1rem;
        cursor: pointer;
    }

    .container .tabs .tab-navigator button:hover {
        background-color: var(--shadow-4-color);
        color: var(--shadow-3-color);
    }

    .container .tabs .tab-navigator button.active {
        background-color: var(--shadow-1-color);
        color: var(--primary-color);
        border-bottom: none;
    }

    .container .tabs .tab-navigator button:first-of-type {
        border-top-left-radius: 0.25rem;
    }

    .container .tabs .tab-navigator button:last-of-type {
        border-right: 1px solid var(--shadow-2-color);
        border-top-right-radius: 0.25rem;
    }

    .container .tabs .tab {
        background-color: var(--shadow-1-color);
        color: var(--foreground-color);

        border-left: 1px solid var(--shadow-2-color);
        border-right: 1px solid var(--shadow-2-color);
        border-bottom: 1px solid var(--shadow-2-color);
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;

        padding: 1rem;
    }

    .container form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1rem;
    }

    .container fieldset {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1rem;
    }

    .container .multiset {
        padding: 1rem;
        border: 1px solid var(--shadow-2-color);
    }

    .container fieldset input[type=text],
    .container fieldset input[type=password],
    .container fieldset input[type=email],
    .container fieldset input[type=number] {
        border-bottom: 1px solid var(--shadow-2-color);
        padding-bottom: 0.25rem;
    }

    .container input[type=submit] {
        width: max-content;
        background-color: var(--primary-color);
        color: var(--background-color);
        border: 1px solid var(--shadow-2-color);
        border-radius: 0.25rem;
        padding: 1rem;
        margin-top: 0.5rem;
        cursor: pointer;
    }

    .container input[type=submit]:hover {
        background-color: var(--shadow-3-color);
        color: var(--primary-color);
        border: 1px solid var(--shadow-2-color);
    }

    .container fieldset select {
        cursor: pointer;
    }

    .container fieldset select,
    .container fieldset textarea {
        display: block;
        width: 100%;
        padding: 0.25rem;
        border: 1px solid var(--shadow-2-color);
    }

    .container fieldset .flexfield {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}