/* BROWSER-MODE */

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fefefe;
    --foreground-color: #181818;

    --shadow-1-color: #b2b2b2;
    --shadow-2-color: #656565;

    --primary-color: #ab0032;
    --secondary-color: #e00f41;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
    --foreground-color: #ededed;

    --shadow-1-color: #3b3b3b;
    --shadow-2-color: #6e6e6e;

    --primary-color: #ec5367;
    --secondary-color: #f1818b;
  }
}

/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

main h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

main h3 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

main h4 {
  font-size: 1.12rem;
  margin-bottom: 1rem;
}

main h5 {
  font-size: 0.83rem;
  margin-bottom: 1rem;
}

main h6 {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: clamp(16rem, 65vw, 70rem);
  margin: auto;
}

/* COLORS */

@media (prefers-color-scheme: light) {
  html {
    background-color: var(--background-color);
    color: var(--foreground-color);
  }

  main h1,
  main h2,
  main h3,
  main h4,
  main h5,
  main h6 {
    color: var(--primary-color);
  }

  main mark {
    background-color: var(--secondary-color);
    color: var(--background-color);
  }

  main a,
  main form fieldset meter,
  main form fieldset progress {
    color: var(--secondary-color);
  }

  main form fieldset progress::-moz-progress-bar,
  main form fieldset progress::-webkit-progress-value,
  main input[type="checkbox"]:checked,
  main input[type="radio"]:checked,
  main form fieldset meter::-moz-meter-bar,
  main form fieldset meter::-webkit-meter-value,
  main input[type="range"],
  main input[type="reset"],
  main input[type="search"],
  main input[type="submit"],
  main button,
  main input[type="button"] {
    background-color: var(--secondary-color);
  }

  main blockquote {
    border-left: 2px solid var(--secondary-color);
  }

  main table thead tr th {
    border-bottom: 1px solid var(--shadow-1-color);
  }

  main table tfoot tr th {
    border-top: 1px solid var(--shadow-1-color);
  }

  main table tbody tr {
    border-bottom: 1px solid var(--shadow-1-color);
  }

  main hr {
    border-top: 1px dotted var(--shadow-1-color);
  }

  main details,
  main code,
  main form fieldset,
  main select,
  main textarea,
  main button,
  main meter,
  main progress,
  main input[type="button"],
  main input[type="checkbox"],
  main input[type="date"],
  main input[type="email"],
  main input[type="file"],
  main input[type="number"],
  main input[type="password"],
  main input[type="radio"],
  main input[type="range"],
  main input[type="reset"],
  main input[type="search"],
  main input[type="submit"],
  main input[type="tel"],
  main input[type="text"],
  main input[type="url"] {
    border: 1px solid var(--shadow-1-color);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--background-color);
    color: var(--foreground-color);
  }

  main h1,
  main h2,
  main h3,
  main h4,
  main h5,
  main h6 {
    color: var(--primary-color);
  }

  main mark {
    background-color: var(--secondary-color);
    color: var(--background-color);
  }

  main a,
  main form fieldset meter,
  main form fieldset progress {
    color: var(--secondary-color);
  }

  main form fieldset progress::-moz-progress-bar,
  main form fieldset progress::-webkit-progress-value,
  main input[type="checkbox"]:checked,
  main input[type="radio"]:checked,
  main form fieldset meter::-moz-meter-bar,
  main form fieldset meter::-webkit-meter-value,
  main input[type="range"],
  main input[type="reset"],
  main input[type="submit"],
  main button,
  main input[type="button"] {
    background-color: var(--secondary-color);
  }

  main blockquote {
    border-left: 2px solid var(--secondary-color);
  }

  main table thead tr th {
    border-bottom: 1px solid var(--shadow-2-color);
  }

  main table tfoot tr th {
    border-top: 1px solid var(--shadow-2-color);
  }

  main table tbody tr {
    border-bottom: 1px solid var(--shadow-2-color);
  }

  main hr {
    border-top: 1px dotted var(--shadow-2-color);
  }

  main details,
  main code,
  main form fieldset,
  main select,
  main textarea,
  main button,
  main meter,
  main progress,
  main input[type="button"],
  main input[type="checkbox"],
  main input[type="date"],
  main input[type="email"],
  main input[type="file"],
  main input[type="number"],
  main input[type="password"],
  main input[type="radio"],
  main input[type="range"],
  main input[type="reset"],
  main input[type="search"],
  main input[type="submit"],
  main input[type="tel"],
  main input[type="text"],
  main input[type="url"] {
    border: 1px solid var(--shadow-2-color);
  }
}
