/* THEMES */

body {
    --frame_vh: 2vh;
    --frame_vw: 2vw;

    --linebreak: 1rem;
    --opac: 0.5;

    --scale75: rgba(28, 28, 28, .75);
    --scale50: rgba(28, 28, 28, .5);
    --scale25: rgba(28, 28, 28, .25);

    --lightgrey: #F3F3F3;
    ;
    --darkgrey: #303841;
    --blue: #2185D5;
    --white: #FFFFFF;
}

/* TAGS */

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

header {
    grid-area: header;
    width: 100%;
}

main {
    grid-area: main;
    width: 100%;
}

/* FONTS */

html {
    font-size: calc(15px + 0.390625vw);
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 2.0rem;
    padding-top: 0.67rem;
    padding-bottom: 0.67rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    font-size: 1.5rem;
    padding-top: 0.83rem;
    padding-bottom: 0.83rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    font-size: 1.17rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1.0rem;
    font-weight: bold;
}

/* COLORS */

body {
    background-color: var(--lightgrey);
    color: var(--darkgrey);
}

header .row:first-of-type {
    background-color: var(--white);
    color: var(--darkgrey);
}

header .row:last-of-type {
    background-color: var(--blue);
    color: var(--white);
}

main .row {
    background-color: var(--white);
    color: var(--darkgrey);
}

/* GRID */

.wrapper {
    max-width: 1365px;
    margin: auto;
}

.wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "main";
}

/* HEADER */

#logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social {
    grid-area: social;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--linebreak);
}

header a {
    color: var(--white);
}

header .row:first-of-type {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.75fr 1fr;
    gap: var(--frame_vh) calc(var(--frame_vw)*2);
    grid-template-areas:
        "logo name";
}

/* MAIN */

/* MARGIN & PADDING */

header {
    margin-top: var(--frame_vh);
}

header .row {
    padding: var(--frame_vh) var(--frame_vw);
    margin: 0 var(--frame_vw);
}

main .row {
    padding: var(--frame_vh) var(--frame_vw);
    margin: var(--frame_vh) var(--frame_vw);
}

/* OTHER ELEMENTS */

p {
    margin-bottom: var(--linebreak);
}

a {
    color: var(--blue);
}

a:hover {
    text-decoration: underline;
}

.skill-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--linebreak);
    margin-bottom: var(--linebreak);
}

.skills {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: var(--linebreak);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.outside {
    height: 125px;
    width: 125px;
    border-radius: 50%;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p0 {
    background-image: conic-gradient(var(--blue) 0%, var(--lightgrey) 0);
}

.p10 {
    background-image: conic-gradient(var(--blue) 10%, var(--lightgrey) 0);
}

.p20 {
    background-image: conic-gradient(var(--blue) 20%, var(--lightgrey) 0);
}

.p30 {
    background-image: conic-gradient(var(--blue) 30%, var(--lightgrey) 0);
}

.p40 {
    background-image: conic-gradient(var(--blue) 40%, var(--lightgrey) 0);
}

.p50 {
    background-image: conic-gradient(var(--blue) 50%, var(--lightgrey) 0);
}

.p60 {
    background-image: conic-gradient(var(--blue) 60%, var(--lightgrey) 0);
}

.p70 {
    background-image: conic-gradient(var(--blue) 70%, var(--lightgrey) 0);
}

.p80 {
    background-image: conic-gradient(var(--blue) 80%, var(--lightgrey) 0);
}

.p90 {
    background-image: conic-gradient(var(--blue) 90%, var(--lightgrey) 0);
}

.p100 {
    background-image: conic-gradient(var(--blue) 100%, var(--lightgrey) 0);
}

.inside {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: var(--white);
    color: var(--blue);

    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobil */
@media only screen and (max-width: 767px) {
    #work {
        border-left: 2px solid var(--blue);
    }

    #work .years {
        padding: var(--frame_vh) var(--frame_vw);
        margin: var(--frame_vh) var(--frame_vw);
    }

    #work .years::before {
        content: '';
        position: relative;
        left: calc(var(--frame_vw)* -2.5);
        z-index: 11;
        background-color: var(--blue);
        height: var(--frame_vw);
        width: var(--frame_vw);
        display: inline-block;
        top: 0.25rem;
    }

    #work .time {
        margin-left: calc(var(--frame_vw)* -1.25);
        color: var(--blue);
    }

    #education {
        border-left: 2px solid var(--darkgrey);
    }

    #education .years {
        background-color: var(--lightgrey);
        padding: var(--frame_vh) var(--frame_vw);
        margin: var(--frame_vh) var(--frame_vw);
    }

    #education .years::before {
        content: '';
        position: relative;
        left: calc(var(--frame_vw)* -2.5);
        z-index: 11;
        background-color: var(--lightgrey);
        height: var(--frame_vw);
        width: var(--frame_vw);
        display: inline-block;
        top: 0.25rem;
    }

    #education .time {
        margin-left: calc(var(--frame_vw)* -1.25);
        color: var(--blue);
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
    #work {
        border-left: 2px solid var(--blue);
    }

    #work .years {
        padding: var(--frame_vh) var(--frame_vw);
        margin: var(--frame_vh) var(--frame_vw);
    }

    #work .years::before {
        content: '';
        position: relative;
        left: calc(var(--frame_vw)* -2.5);
        z-index: 11;
        background-color: var(--blue);
        height: var(--frame_vw);
        width: var(--frame_vw);
        display: inline-block;
        top: 0.25rem;
    }

    #work .time {
        margin-left: calc(var(--frame_vw)* -1.25);
        color: var(--blue);
    }

    #education {
        border-left: 2px solid var(--darkgrey);
    }

    #education .years {
        background-color: var(--lightgrey);
        padding: var(--frame_vh) var(--frame_vw);
        margin: var(--frame_vh) var(--frame_vw);
    }

    #education .years::before {
        content: '';
        position: relative;
        left: calc(var(--frame_vw)* -2.5);
        z-index: 11;
        background-color: var(--lightgrey);
        height: var(--frame_vw);
        width: var(--frame_vw);
        display: inline-block;
        top: 0.25rem;
    }

    #education .time {
        margin-left: calc(var(--frame_vw)* -1.25);
        color: var(--blue);
    }
}

/* laptop */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    #work .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: calc(50% - 1px);
        padding: var(--frame_vh) var(--frame_vw);

        border-left: 2px solid var(--blue);
    }

    #work .left {
        display: flex;
        flex-direction: column;
        margin-right: calc(50% - 1px);
        direction: rtl;
        padding: var(--frame_vh) var(--frame_vw);

        border-right: 2px solid var(--blue);
    }

    #work .right::before {
        content: '';
        position: relative;
        background-color: var(--blue);
        height: calc(var(--frame_vw)/2);
        width: calc(var(--frame_vw)/2);
        display: inline-block;
        z-index: 11;
        left: calc(var(--frame_vw)* -1.275);

    }

    #work .left::before {
        content: '';
        position: relative;
        background-color: var(--darkgrey);
        height: calc(var(--frame_vw)/2);
        width: calc(var(--frame_vw)/2);
        display: inline-block;
        z-index: 11;
        right: calc(var(--frame_vw)* -1.275);
    }


    #education .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: calc(50% - 1px);
        padding: var(--frame_vh) var(--frame_vw);

        border-left: 2px solid var(--darkgrey);
        background-color: var(--lightgrey);
    }

    #education .left {
        display: flex;
        flex-direction: column;
        margin-right: calc(50% - 1px);
        direction: rtl;
        padding: var(--frame_vh) var(--frame_vw);

        border-right: 2px solid var(--darkgrey);
        background-color: var(--lightgrey);
    }
}

/* desktop */
@media only screen and (min-width: 1920px) {
    #work .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: calc(50% - 1px);
        padding: var(--frame_vh) var(--frame_vw);

        border-left: 2px solid var(--blue);
    }

    #work .left {
        display: flex;
        flex-direction: column;
        margin-right: calc(50% - 1px);
        direction: rtl;
        padding: var(--frame_vh) var(--frame_vw);

        border-right: 2px solid var(--blue);
    }

    #work .right::before {
        content: '';
        position: relative;
        background-color: var(--blue);
        height: calc(var(--frame_vw)/2);
        width: calc(var(--frame_vw)/2);
        display: inline-block;
        z-index: 11;
        left: calc(var(--frame_vw)* -1.275);

    }

    #work .left::before {
        content: '';
        position: relative;
        background-color: var(--darkgrey);
        height: calc(var(--frame_vw)/2);
        width: calc(var(--frame_vw)/2);
        display: inline-block;
        z-index: 11;
        right: calc(var(--frame_vw)* -1.275);
    }


    #education .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: calc(50% - 1px);
        padding: var(--frame_vh) var(--frame_vw);

        border-left: 2px solid var(--darkgrey);
        background-color: var(--lightgrey);
    }

    #education .left {
        display: flex;
        flex-direction: column;
        margin-right: calc(50% - 1px);
        direction: rtl;
        padding: var(--frame_vh) var(--frame_vw);

        border-right: 2px solid var(--darkgrey);
        background-color: var(--lightgrey);
    }
}