/* grid */

html,
body,
.wrapper {
    height: auto;
    width: 100vw;

    min-height: 100vh;
    min-width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper>main {
    grid-area: main;
}

/* grid */

.wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr;
    grid-template-areas:
        "main";
}

/* main */

.wrapper>main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper>main .follower-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.wrapper>main .follower-board .follower {
    height: 200px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 15px;
}

.wrapper>main .follower-board .follower .follower-icon img {
    height: 64px;
}