/* THEMES */

:root {
    --background-color: #F6F6F6;
    --foreground-color: #2C2E3E;
    --shadow-color: #34374C;
    --primary-color: #EE2B47;
}

/* FONTS */

html {
    font-size: calc(14px + 0.390625vw);
    font-family: system-ui;
    line-height: 1.4;
}

/* TAGS */

html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

/* MEDIA QUERIES */

/* phones */
@media (width <=767px) {

    /* GRID */

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 0;
        grid-template-areas:
            "header"
            "nav"
            "main";
    }

    /* HEADER */

    header {
        padding: 0 2rem;
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: calc(28px + 2rem);
    }

    header section .title {
        font-size: 2rem;
        font-weight: bold;
    }

    header section .hamburger {
        position: relative;
        z-index: 111;
        width: 28px;
        height: 28px;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        margin-top: 2px;
    }

    header section .hamburger span {
        display: block;
        position: absolute;
        height: 20%;
        width: 100%;
        border-radius: 10px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        background-color: var(--foreground-color);
    }

    header section .hamburger span:nth-child(1) {
        top: 0px;
    }

    header section .hamburger span:nth-child(2),
    header section .hamburger span:nth-child(3) {
        top: 40%;
    }

    header section .hamburger span:nth-child(4) {
        top: 85%;
    }

    header section .hamburger.open span:nth-child(1) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    header section .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    header section .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    header section .hamburger.open span:nth-child(4) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    /* NAV */

    nav {
        position: absolute;
        left: -100%;
        width: 100%;
        transition: all ease-in-out 0.25s;
        margin-top: calc(28px + 2rem);
        overflow-x: hidden;
        background-color: var(--shadow-color);
        color: var(--background-color);
    }

    nav.open {
        left: 0 !important;
        width: 100%;
        overflow-y: auto;
        z-index: 333;
        box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.50);
    }

    nav .menu .menu-item {
        position: relative;
        width: 100%;
        vertical-align: sub;
        cursor: pointer;
        font-weight: bold;
        border-top: 1px dotted var(--background-color);
    }

    nav .menu .menu-item a {
        display: block;
        padding: 0.5rem 2.5rem;
    }

    nav .menu .menu-item-has-children>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    nav .menu .menu-item-has-children>a:after {
        content: "▾";
        font-size: 1.0rem;
        font-style: normal;
        transform: rotate(0deg);
        transition: 0.25s all ease-in-out;
    }

    nav .menu .menu-item-has-children.active>a:after {
        transform: rotate(180deg);
    }

    nav .menu .sub-menu {
        height: 0px;
        overflow: hidden;
        font-size: 0.83rem;
    }

    nav .menu .sub-menu .menu-item a {
        padding: 0.5rem 2.5rem 0.5rem 3rem;
    }

    nav .menu .sub-menu .sub-menu .menu-item a {
        padding: 0.5rem 2.5rem 0.5rem 3.5rem;
    }

    nav .menu .active>.sub-menu {
        display: block;
        height: auto;
        transition: 0.25s all ease-in-out;
    }

    nav .menu .current-page-item {
        color: var(--primary-color);
    }

    nav .menu .current-page-item a:before {
        content: "»";
        font-size: 1.0rem;
        font-style: normal;
        padding-right: 0.5rem;
    }

    nav .menu .sub-menu .menu-item {
        font-weight: normal;
    }

    nav .menu .menu-item-has-children {
        font-weight: bold !important;
    }

    main section {
        padding: 2rem;
    }
}

/* tablets */
@media (768px <=width <=1279px) {

    /* GRID */

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 0;
        grid-template-areas:
            "header"
            "nav"
            "main";
    }

    /* HEADER */

    header {
        padding: 0 4rem;
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: calc(28px + 2rem);
    }

    header section .title {
        font-size: 2rem;
        font-weight: bold;
    }

    header section .hamburger {
        position: relative;
        z-index: 111;
        width: 28px;
        height: 28px;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        margin-top: 2px;
    }

    header section .hamburger span {
        display: block;
        position: absolute;
        height: 20%;
        width: 100%;
        border-radius: 10px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        background-color: var(--foreground-color);
    }

    header section .hamburger span:nth-child(1) {
        top: 0px;
    }

    header section .hamburger span:nth-child(2),
    header section .hamburger span:nth-child(3) {
        top: 40%;
    }

    header section .hamburger span:nth-child(4) {
        top: 85%;
    }

    header section .hamburger.open span:nth-child(1) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    header section .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    header section .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    header section .hamburger.open span:nth-child(4) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    /* NAV */

    nav {
        height: 0;
        overflow: hidden;
        transition: height ease-in-out 0.25s;
        background-color: var(--shadow-color);
        color: var(--background-color);
    }

    nav.open {
        height: 100%;
    }

    nav .menu .menu-item {
        position: relative;
        width: 100%;
        vertical-align: sub;
        cursor: pointer;
        font-weight: bold;
        border-top: 1px dotted var(--background-color);
    }

    nav .menu .menu-item a {
        display: block;
        padding: 0.5rem 4.5rem;
    }

    nav .menu .menu-item-has-children>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    nav .menu .menu-item-has-children>a:after {
        content: "▾";
        font-size: 1.0rem;
        font-style: normal;
        transform: rotate(0deg);
        transition: 0.25s all ease-in-out;
    }

    nav .menu .menu-item-has-children.active>a:after {
        transform: rotate(180deg);
    }

    nav .menu .sub-menu {
        height: 0px;
        overflow: hidden;
        font-size: 0.83rem;
    }

    nav .menu .sub-menu .menu-item a {
        padding: 0.5rem 4.5rem 0.5rem 5rem;
    }

    nav .menu .sub-menu .sub-menu .menu-item a {
        padding: 0.5rem 4.5rem 0.5rem 5.5rem;
    }

    nav .menu .active>.sub-menu {
        display: block;
        height: auto;
        transition: 0.25s all ease-in-out;
    }

    nav .menu .current-page-item {
        color: var(--primary-color);
    }

    nav .menu .current-page-item a:before {
        content: "»";
        font-size: 1.0rem;
        font-style: normal;
        padding-right: 0.5rem;
    }

    nav .menu .sub-menu .menu-item {
        font-weight: normal;
    }

    nav .menu .menu-item-has-children {
        font-weight: bold !important;
    }

    main section {
        padding: 2rem 4rem;
    }
}

/* laptops */
@media (1280px <=width <=1919px) {

    /* GRID */

    .wrapper {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 4rem;
        grid-template-areas:
            ". header"
            "nav main";
    }

    /* HEADER */

    header {
        padding-bottom: 2rem;
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    header section .title {
        font-size: 2rem;
        font-weight: bold;
    }

    header section .hamburger {
        display: none;
    }

    /* NAV */

    nav {
        position: relative;
        width: 300px;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    nav .menu {
        position: fixed;
        width: 300px;
    }

    nav .menu .menu-item {
        position: relative;
        width: 100%;
        vertical-align: sub;
        cursor: pointer;
        font-weight: bold;
        border-top: 1px dotted var(--foreground-color);
    }

    nav .menu .menu-item:first-of-type {
        border-top: none;
    }

    nav .menu .menu-item a {
        display: block;
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    nav .menu .menu-item-has-children>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    nav .menu .menu-item-has-children>a:after {
        content: "▾";
        font-size: 1.0rem;
        font-style: normal;
        transform: rotate(0deg);
        transition: 0.25s all ease-in-out;
    }

    nav .menu .menu-item-has-children.active>a:after {
        transform: rotate(180deg);
    }

    nav .menu .sub-menu {
        height: 0px;
        overflow: hidden;
        font-size: 0.83rem;
    }

    nav .menu .sub-menu .menu-item a {
        padding: 0.5rem 0 0.5rem 1rem;
    }

    nav .menu .sub-menu .sub-menu .menu-item a {
        padding: 0.5rem 0 0.5rem 1.5rem;
    }

    nav .menu .active>.sub-menu {
        display: block;
        height: auto;
        transition: 0.25s all ease-in-out;
    }

    nav .menu .current-page-item {
        color: var(--primary-color);
    }

    nav .menu .current-page-item a:before {
        content: "»";
        font-size: 1.0rem;
        font-style: normal;
        padding-right: 0.5rem;
    }

    nav .menu .sub-menu .menu-item {
        font-weight: normal;
    }

    nav .menu .menu-item-has-children {
        font-weight: bold !important;
    }

    main section {
        padding-bottom: 2rem;
        padding-right: 2rem;
    }
}

/* desktops */
@media (width >=1920px) {

    /* GRID */

    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0;
        grid-template-areas:
            "header nav"
            "main main";
    }

    /* HEADER */

    header {
        background-color: var(--foreground-color);
        color: var(--background-color);
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 2rem;
    }

    header section .title {
        font-size: 2rem;
        font-weight: bold;
    }

    header section .hamburger {
        display: none;
    }

    /* NAV */

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--foreground-color);
        color: var(--background-color);
        padding: 0 2rem;
    }

    nav .menu {
        display: block;
        position: relative;
    }

    nav .menu .menu-item {
        display: block;
        position: relative;
        cursor: default;
        float: left;
        white-space: nowrap;

        background-color: var(--foreground-color);
        color: var(--background-color);
    }

    nav .menu .menu-item a {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        padding: 1rem;
    }

    nav .menu .menu-item a:hover {
        color: var(--primary-color) !important;
    }

    nav .menu .sub-menu {
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 333;
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    nav .menu .sub-menu .menu-item {
        float: none;
        background-color: var(--shadow-color);
        color: var(--background-color);
    }

    nav .menu .sub-menu .menu-item a {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        padding: 0.5rem 1rem;
    }

    nav .menu .menu-item:hover>.sub-menu {
        left: 0;
        opacity: 1;
        z-index: 333;
    }

    nav .sub-menu .menu-item:hover>.sub-menu {
        top: 0;
        left: 100%;
    }

    nav .menu .menu-item-has-children>a:after {
        content: "▾";
        font-style: normal;
        float: right;
    }

    nav .sub-menu .menu-item-has-children>a:after {
        content: "▸";
        font-style: normal;
        float: right;
    }

    nav .menu .current-page-item a:before {
        content: "»";
        font-size: 1.0rem;
        font-style: normal;
        padding-right: 0.5rem;
    }

    main section {
        padding: 2rem;
    }

}