/* THEMES */

:root {
    --white: #FEFBF6;
    --blue: #A6D1E6;
    --pink: #DE698E;
    --black: #3D3C42;
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    width: 100%;
}

nav {
    grid-area: nav;
    width: 100%;

    background-color: var(--white);
    color: var(--black);
}

aside {
    grid-area: aside;
    width: 100%;

    background-color: var(--pink);
    color: var(--white);
}

header {
    grid-area: header;
    width: 100%;

    background-color: var(--white);
    color: var(--black);
}

main {
    grid-area: main;
    width: 100%;

    background-color: var(--white);
    color: var(--black);
}

footer {
    grid-area: footer;
    width: 100%;

    background-color: var(--black);
    color: var(--white);
}

/* FONTS */

html {
    font-size: calc(12px + 0.390625vw);
    font-family: 'Playpen Sans', cursive;
    line-height: 1.4;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    color: var(--pink);
    word-break: normal
}

h3 {
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    word-break: normal;
}

/* ELEMENTS */

@media only screen and (min-width: 0px) and (max-width: 999px) {
    nav .row:first-of-type {
        padding: 2vh 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--pink);
    }

    nav .title img {
        height: 56px;
        width: auto;
    }

    .btn-hamburger {
        position: relative;
        z-index: 222;
        width: 28px;
        height: 28px;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        margin-top: 2px;
    }

    .btn-hamburger span {
        display: block;
        position: absolute;
        height: 20%;
        width: 100%;
        border-radius: 10px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        background-color: var(--pink);
    }

    .btn-hamburger span:nth-child(1) {
        top: 0px;
    }

    .btn-hamburger span:nth-child(2),
    .btn-hamburger span:nth-child(3) {
        top: 40%;
    }

    .btn-hamburger span:nth-child(4) {
        top: 85%;
    }

    .btn-hamburger.open span:nth-child(1) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    .btn-hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .btn-hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .btn-hamburger.open span:nth-child(4) {
        top: 40%;
        width: 0%;
        left: 50%;
    }

    #menu {
        position: absolute;
        left: -100%;
        width: 100%;
        transition: all ease-in-out 0.25s;
        background-color: var(--white);
        color: var(--black);
    }

    #menu.open {
        left: 0 !important;
        width: 100%;
        overflow-y: auto;
        z-index: 333;
    }

    #menu.open a {
        position: relative;
        width: 100%;
        display: block;
        cursor: pointer;
        font-weight: bold;
        padding: 2vh 5vw;
        border-top: 1px dotted var(--black);
    }

    @-webkit-keyframes ticker {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    @keyframes ticker {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    .ticker-wrap {
        width: 100%;
        overflow: hidden;
        background-color: var(--pink);
        color: var(--white);
        padding: 1rem 0;
        padding-left: 100%;
    }

    .ticker {
        display: inline-block;
        white-space: nowrap;
        padding-right: 100%;

        -moz-animation-duration: 20s;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;

        -moz-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -moz-animation-name: ticker;
        -webkit-animation-name: ticker;
        animation-name: ticker;
    }

    .ticker_item {
        display: inline-block;
        padding: 0 5vw;
    }

    header .row {
        height: 50vh;
    }

    header .row article {
        position: relative;
    }

    header .row article img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    header .row article .feed {
        position: absolute;
        top: 25%;
        left: 0;
        background-color: var(--pink);
        color: var(--white);
        padding: 1rem;
    }

    main .row {
        padding: 2vh 10vw;
    }

    main .row article {
        border-radius: 10px;
        aspect-ratio: 1 / 1;
        position: relative;
    }

    main .row article img {
        width: 100%;
        object-fit: cover;
    }

    main .row article .feed {
        position: absolute;
        top: 25%;
        left: 0;
        background-color: var(--white);
        color: var(--black);
        padding: 1rem;
    }

    main .row .two-news {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main .row .three-news {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main .row .three-news img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    footer .row {
        padding: 2vh 5vw;
    }

    .comment-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment-form .form-left {
        display: none;
    }

    .comment-form .form-right form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment-form .form-right form input,
    .comment-form .form-right form textarea {
        border-left: 1px dotted var(--white);
        border-right: 1px dotted var(--white);
        border-bottom: 1px dotted var(--white);
        color: var(--blue);
        padding: 1rem;
    }

    .comment-form .form-right form input[type=submit] {
        border: none;
        background-color: var(--white);
        color: var(--black);
        width: max-content;
        text-align: center;
        cursor: pointer;
    }

    .comment-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment {
        background-color: var(--pink);
        color: var(--white);
        border: 1px dotted var(--white);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment:nth-of-type(2n) {
        background-color: var(--blue);
        color: var(--black);
    }

    .comment .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1499px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 10vw;
    }

    nav .row:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--pink);
    }

    nav .title img {
        height: 56px;
        width: auto;
    }

    .btn-hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    .menu a {
        color: var(--pink);
    }

    .menu a:hover {
        text-decoration: underline overline;
    }

    @-webkit-keyframes ticker {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    @keyframes ticker {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    .ticker-wrap {
        width: 100%;
        overflow: hidden;
        background-color: var(--pink);
        color: var(--white);
        padding: 1rem 0;
        padding-left: 100%;
    }

    .ticker {
        display: inline-block;
        white-space: nowrap;
        padding-right: 100%;

        -moz-animation-duration: 20s;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;

        -moz-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -moz-animation-name: ticker;
        -webkit-animation-name: ticker;
        animation-name: ticker;
    }

    .ticker_item {
        display: inline-block;
        padding: 0 5vw;
    }

    header .row {
        height: 50vh;
    }

    header .row article {
        position: relative;
    }

    header .row article img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    header .row article .feed {
        position: absolute;
        top: 25%;
        left: 0;
        background-color: var(--pink);
        color: var(--white);
        padding: 1rem;
    }

    main .row {
        padding: 2vh 15vw;
    }

    main .row article {
        border-radius: 10px;
        aspect-ratio: 1 / 1;
        position: relative;
    }

    main .row article img {
        width: 100%;
        object-fit: cover;
    }

    main .row article .feed {
        position: absolute;
        top: 25%;
        left: 0;
        background-color: var(--white);
        color: var(--black);
        padding: 1rem;
    }

    main .row .two-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    main .row .three-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    main .row .three-news img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    footer .row {
        padding: 2vh 10vw;
    }


    .comment-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment-form .form-left {
        display: none;
    }

    .comment-form .form-right form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment-form .form-right form input,
    .comment-form .form-right form textarea {
        border-left: 1px dotted var(--white);
        border-right: 1px dotted var(--white);
        border-bottom: 1px dotted var(--white);
        color: var(--blue);
        padding: 1rem;
    }

    .comment-form .form-right form input[type=submit] {
        border: none;
        background-color: var(--white);
        color: var(--black);
        width: max-content;
        text-align: center;
        cursor: pointer;
    }

    .comment-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment {
        background-color: var(--pink);
        color: var(--white);
        border: 1px dotted var(--white);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment:nth-of-type(2n) {
        background-color: var(--blue);
        color: var(--black);
    }

    .comment .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

@media only screen and (min-width: 1500px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4vh 15vw;
    }

    nav .row:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--pink);
    }

    nav .title img {
        height: 56px;
        width: auto;
    }

    .btn-hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    .menu a {
        color: var(--pink);
    }

    .menu a:hover {
        text-decoration: underline overline;
    }

    .btn-hamburger {
        display: none;
    }

    @-webkit-keyframes ticker {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    @keyframes ticker {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    .ticker-wrap {
        width: 100%;
        overflow: hidden;
        background-color: var(--pink);
        color: var(--white);
        padding: 1rem 0;
        padding-left: 100%;
    }

    .ticker {
        display: inline-block;
        white-space: nowrap;
        padding-right: 100%;

        -moz-animation-duration: 20s;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;

        -moz-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -moz-animation-name: ticker;
        -webkit-animation-name: ticker;
        animation-name: ticker;
    }

    .ticker_item {
        display: inline-block;
        padding: 0 5vw;
    }

    header .row {
        height: 50vh;
    }

    header .row article {
        position: relative;
    }

    header .row article img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    header .row article .feed {
        position: absolute;
        top: 25%;
        left: 0;
        background-color: var(--pink);
        color: var(--white);
        padding: 1rem;
    }

    main .row {
        padding: 4vh 20vw;
    }

    main .row article {
        border-radius: 10px;
        aspect-ratio: 1 / 1;
        position: relative;
    }

    main .row article img {
        width: 100%;
        object-fit: cover;
    }

    main .row article .feed {
        position: absolute;
        top: 25%;
        left: 0;
        background-color: var(--white);
        color: var(--black);
        padding: 1rem;
    }

    main .row .two-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    main .row .three-news {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    main .row .three-news img {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    footer .row {
        padding: 4vh 15vw;
    }

    .comment-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .comment-form .form-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    .comment-form .form-right form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment-form .form-right form input,
    .comment-form .form-right form textarea {
        border-left: 1px dotted var(--white);
        border-right: 1px dotted var(--white);
        border-bottom: 1px dotted var(--white);
        color: var(--blue);
        padding: 1rem;
    }

    .comment-form .form-right form input[type=submit] {
        border: none;
        background-color: var(--white);
        color: var(--black);
        width: max-content;
        text-align: center;
        cursor: pointer;
    }

    .comment-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .comment {
        background-color: var(--pink);
        color: var(--white);
        border: 1px dotted var(--white);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comment:nth-of-type(2n) {
        background-color: var(--blue);
        color: var(--black);
    }

    .comment .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

}