/* phones */
@media (width <=767px) {
}

/* tablets */
@media (768px <=width <=1279px) {
}

/* laptops */
@media (1280px <=width <=1919px) {
}

/* desktops */
@media (width >=1920px) {
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  width: 85vw;
  max-width: 1000px;
  margin: auto;
}

footer ul {
  padding-left: 1rem;
}
