:root {
    --grey: #34374C;
    --black: #2C2E3E;
    --white: #F6F6F6;
    --blue: #4F709C;
    --yellow: #E5D283;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--black);
    color: var(--white);

    font-family: system-ui;
}

main {
    width: 100vw;
}

.row {
    width: 100vw;
    padding: 2vh 2vw;

    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;

    border-bottom: 2px solid var(--grey);
}

.row:last-of-type {
    border-bottom: none;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.html {
    background-color: var(--grey);
    color: var(--white);
    border-radius: 10px;
    border: none;
    width: 100%;
    font-family: monospace;
    font-size: 0.83rem;
    display: block;
    padding: 1rem;
    line-height: normal;
}

.css {
    background-color: var(--blue);
    color: var(--yellow);
    border-radius: 10px;
    border: none;
    width: 100%;
    font-family: monospace;
    font-size: 0.83rem;
    display: block;
    padding: 1rem;
    line-height: normal;
}

.show {
    border-radius: 10px;
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    display: block;
    padding: 1rem;
}