/* FONTS */

html {
  font-size: calc(14px + 0.390625vw);
  font-family: system-ui;
  line-height: 1.4;
}

/* TAGS */

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  min-height: 100vh;
  width: clamp(16rem, 90vw, 70rem);
  margin: 2rem auto;
}

/* MAIN */

main h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

/* GALLERY */

/* phones */
@media (width <=767px) {
  .gallery {
    columns: 2;
    gap: 1rem;
  }
}

/* tablets */
@media (768px <=width <=1279px) {
  .gallery {
    columns: 2;
    gap: 1rem;
  }
}

/* laptops */
@media (1280px <=width <=1919px) {
  .gallery {
    columns: 3;
    gap: 1rem;
  }
}

/* desktops */
@media (width >=1920px) {
  .gallery {
    columns: 3;
    gap: 1rem;
  }
}

.gallery .item {
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid currentColor;
}

.gallery .item img {
  display: block;
  object-fit: contain;
  transition: 1s ease-in-out;
}

.gallery .item:hover > img {
  cursor: pointer;
  transform: scale(1.1);
}
