/* grid */

html,
body,
.wrapper {
    height: auto;
    width: 100vw;

    min-height: 100vh;
    min-width: 100vw;

    max-height: 100vh;
    max-width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper>nav {
    grid-area: nav;
}

.wrapper>main {
    grid-area: main;
}

/* mobile */

@media (0px <=width <=480px) {

    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "main"
            "nav";
    }

    /* main */

    .wrapper>main .row {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 1rem;
    }

    .wrapper>main .row .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper>main .row .left img {
        max-height: 50vh;
    }

    .wrapper>main .row .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* nav */

    .wrapper>nav menu {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .wrapper>nav menu button {
        text-align: center;
    }
}

/* tablet */

@media (481px <=width <=768px) {

    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "main"
            "nav";
    }

    /* main */

    .wrapper>main .row {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 1rem;
    }

    .wrapper>main .row .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper>main .row .left img {
        max-height: 50vh;
    }

    .wrapper>main .row .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* nav */

    .wrapper>nav menu {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .wrapper>nav menu button {
        text-align: center;
    }
}

/* laptop */

@media (769px <=width <=1279px) {

    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "main"
            "nav";
    }

    /* main */

    .wrapper>main .row {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 1rem;
    }

    .wrapper>main .row .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper>main .row .left img {
        max-height: 50vh;
    }

    .wrapper>main .row .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* nav */

    .wrapper>nav menu {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .wrapper>nav menu button {
        text-align: center;
    }
}

/* desktops */

@media (width >=1280px) {
    /* grid */

    .wrapper {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "main"
            "nav";
    }

    /* main */

    .wrapper>main .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .wrapper>main .row .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper>main .row .left img {
        max-height: 50vh;
    }

    .wrapper>main .row .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* nav */

    .wrapper>nav menu {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .wrapper>nav menu button {
        text-align: center;
    }
}