:root {
    --background: #C3393F;
    --color: #FEFEFE;
}

/* mobile */

@media (0px <=width <=480px) {

    /* fonts */

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    /* spacing */

    .wrapper>nav menu button {
        padding: 1rem 0;
    }

    .wrapper>main {
        padding: 1rem 4vw;
    }
}

/* tablet */

@media (481px <=width <=768px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    /* spacing */

    .wrapper>nav menu button {
        padding: 2rem 0;
    }

    .wrapper>main {
        padding: 2rem 6vw;
    }
}

/* laptop */

@media (769px <=width <=1279px) {

    /* fonts */

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    /* spacing */

    .wrapper>nav menu button {
        padding: 2rem 0;
    }

    .wrapper>main {
        padding: 2rem 10vw;
    }
}

/* desktops */

@media (width >=1280px) {

    /* fonts */


    body {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h2 {
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    h6 {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 1.0rem;
    }

    a {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    /* spacing */

    .wrapper>nav menu button {
        padding: 4rem 0;
    }

    .wrapper>main {
        padding: 4rem 10vw;
    }
}

/* colors */

@media (prefers-color-scheme: light) {
    /* mobile */

    @media (0px <=width <=480px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }

    /* tablet */

    @media (481px <=width <=768px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }

    /* laptop */

    @media (769px <=width <=1279px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }

    /* desktops */

    @media (width >=1280px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }
}

@media (prefers-color-scheme: dark) {
    /* mobile */

    @media (0px <=width <=480px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }

    /* tablet */

    @media (481px <=width <=768px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }

    /* laptop */

    @media (769px <=width <=1279px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }

    /* desktops */

    @media (width >=1280px) {
        html {
            background-color: var(--background);
            color: var(--color);
        }
    }
}