body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-size: calc(15px + .390625vw);
    line-height: 150%;

    background-color: #292423;
    color: #f87f73;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container {
    width: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    text-align: center;
    gap: 8px;
}

.lightbox {
    flex: auto;
    height: 250px;
    min-width: 150px;
    background: var(--white);
    border: 4px solid var(--white);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.lightbox img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}