/* THEME */

:root {
    --background-color: #27272f;
    --foreground-color: #ffffff;

    --shadow-1-color: #33333d;
    --shadow-2-color: #373740;

    --primary-color: #1eb980;
    --secondary-color: #045d56;
}

html {
    background-color: var(--shadow-1-color);
    color: var(--foreground-color);
}

header {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

nav,
main {
    background-color: var(--shadow-1-color);
    color: var(--foreground-color);
}

/* FONTS */

html {
    line-height: 1.4;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 5.0em;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 3.75em;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 1.25rem;
}

h3 {
    font-size: 3.0em;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 1.25rem;
}

h4 {
    font-size: 2.125em;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 1.25rem;
}

h5 {
    font-size: 1.5em;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 1.25rem;
}

h6 {
    font-size: 1.25em;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 1.25rem;
}

header .header-logo span {
    font-size: 1.5em;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav .main-menu .menu-item.admin {
    color: var(--secondary-color);
}

/* ICONS */

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

/* TAGS */

html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    min-height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    z-index: 222;
}

main {
    grid-area: main;
}

/* ELEMENTS */

/* phones */
@media (width <=599px) {

    html {
        font-size: 0.75rem;
    }

    section {
        padding: 1rem 4vw;
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo img {
        height: 2rem;
    }

    header section button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        border-top: 2px solid var(--shadow-2-color);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    nav section .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    nav section .main-menu .menu-item {
        cursor: pointer;
    }

    nav section .main-menu .menu-item a {
        padding: 0.5rem;
    }

    nav section .main-menu .menu-item:hover {
        color: var(--primary-color);
    }

    nav section .main-menu .menu-item a .menu-item-name {
        display: none;
    }

    nav section .main-menu .menu-item.current {
        color: var(--primary-color);
    }

    main {
        margin-bottom: 100px;
    }
}

/* tablets */
@media (600px <=width <=1239px) {
    html {
        font-size: 0.87rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 0px 0px;
        grid-template-areas:
            "header"
            "main"
            "nav";
    }

    section {
        padding: 1rem 8vw;
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo img {
        height: 2rem;
    }

    header section button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        border-top: 2px solid var(--shadow-2-color);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    nav section .main-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    nav section .main-menu .menu-item {
        cursor: pointer;
    }

    nav section .main-menu .menu-item a {
        padding: 0.5rem;
    }

    nav section .main-menu .menu-item:hover {
        color: var(--primary-color);
    }

    nav section .main-menu .menu-item a .menu-item-name {
        display: none;
    }

    nav section .main-menu .menu-item.current {
        color: var(--primary-color);
    }

    main {
        margin-bottom: 100px;
    }
}

/* laptops */
@media (1240px <=width <=1439px) {

    html {
        font-size: 1.0rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header"
            "nav main";
    }

    header section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2vw;
        padding-right: 4vw;
    }

    main section {
        padding: 1rem 4vw;
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo img {
        height: 3rem;
    }

    header section button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        border-right: 2px solid var(--shadow-2-color);
    }

    nav section .main-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5rem;

        padding: 0.5rem 0;
    }

    nav section .main-menu .menu-item {
        cursor: pointer;
    }

    nav section .main-menu .menu-item:hover {
        color: var(--primary-color);
    }

    nav section .main-menu .menu-item a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        padding: 0.5rem 2vw;
    }

    nav section .main-menu .menu-item.current {
        color: var(--primary-color);
    }
}

/* desktops */
@media (width >=1440px) {

    html {
        font-size: 1.0rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header"
            "nav main";
    }

    header section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3vw;
        padding-right: 6vw;
    }

    main section {
        padding: 1rem 6vw;
    }

    header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    header section .header-logo img {
        height: 3rem;
    }

    header section button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav {
        border-right: 2px solid var(--shadow-2-color);
    }

    nav section .main-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5rem;

        padding: 0.5rem 0;
    }

    nav section .main-menu .menu-item {
        cursor: pointer;
    }

    nav section .main-menu .menu-item:hover {
        color: var(--primary-color);
    }

    nav section .main-menu .menu-item a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        padding: 0.5rem 3vw;
    }

    nav section .main-menu .menu-item.current {
        color: var(--primary-color);
    }
}